<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div class="signup-title" uk-grid>
            <div class="uk-flex uk-flex-middle uk-width-expand">
                <h1>{{welcomeText? 'Welcome to Joy of Age Community':'Join the Joy of Age Community'}}</h1>
            </div>
            <div class="uk-width-auto" >
                <a routerLink="/"><span class="close-icon" data-uk-tooltip title="Cancel Join Us"></span></a>
            </div>
        </div>
        <hr>
        <div class="uk-child-width-1-2@s uk-padding-small" uk-grid>
            <div class="uk-visible@s uk-flex">
                <img src=" assets/images/illustration.png" alt="No Image Found" />
            </div>
            <div>

                <div *ngIf="isLoading" class="uk-text-center pt-40">
                    <div class="spinner-border"></div>
                </div>

                <!-- SignIn types View START -->
                <ng-container *ngIf="!isLoading && !user">
                    <!-- Error box START-->
                    <div *ngIf="!isLoading && errorMessage" class="uk-alert-danger" uk-alert>
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- Error box END-->
                    <app-signin-types-view [otpGenerated]="isOtpGenerated" (requestForOtp)="requestForOtp($event)"
                        (verfiyOtp)="verfiyOtp($event)" (resendOtp)="resendOtp($event)">
                    </app-signin-types-view>
                </ng-container>

                <!-- Addidtional info form  -->
                <ng-container *ngIf="user && !isLoading">
                    <app-additional-info-form [verifiedString]="verifiedString"></app-additional-info-form>
                </ng-container>

                <!-- Signup discription link START-->
                <div *ngIf="!user" class="signup-detail uk-text-center">
                    <div class="list uk-padding">
                        <h3>Join the Joy of Age Community</h3>
                        <ul class="uk-list">
                            <li>
                                 <span class="uk-text-justify " >Participate in Discussions.</span> 
                            </li>
                            <li>
                                 <span class="uk-text-justify" >Know Events happening around you.</span> 
                            </li>
                            <li>
                                <span class="uk-text-justify" >Find Products and Services that suit your need.</span> 
                            </li>
                            
                            <li>
                                 <span class="uk-text-justify" >Post your queries and get Expert guidance with assured confidentiality.</span> 
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="member uk-padding-small">
                        Already a member? <a class="m-l-1" routerLink="/user/signin">Signin here</a>
                    </div> -->
                </div>
                <!-- Signup discription link END-->
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>