a {
    color: #1a72e8;
}
.signup-title {
    h1,
    h2,
    h3 {
        font-family: "HKGroteskRegular";
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 32px;
        color: rgba(22, 28, 45, 0.68);
    }
}

.signup-detail {
    padding-top: 48px;
    .list {
        background-color: #ecf4ff;
        border-radius: 8px;
    }
}

.uk-modal-dialog {
    width: 385px;
    border-radius: 4px;
}
.loading-modal-dialog {
    color: #fff;
    background: #2a415e;
}
.success-modal-dialog {
    color: rgba(22, 28, 45, 0.68);
    h3 {
        font-family: "HKGroteskRegular";
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 24px;
    }
}
