.service-no-record {
  margin-top: 60px;
  margin-bottom: 160px;
}
h2 {
  font-size: 24px;
  font-family:"HKGroteskRegular";
  line-height: 30px;
  color: #161c2d;
  font-weight: 600;
}
p{
    color: #5e626d;
}
