<div class="discussion-create">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-container">
        <h2 class="heading">Submit an Article or Start a Discussion</h2>
        <hr />
        <form [formGroup]="discussForm" class="uk-form inner-container bg-white">
            <div class="uk-margin">
                <label
                    [ngClass]="{'uk-text-danger' : formControl.title.invalid && ( formControl.title.dirty ||  formControl.title.touched) }"
                    class="uk-form-label" for="Title">Title<span class="required">*</span></label>
                <div class="uk-form-controls">
                    <input
                        [ngClass]="{'uk-form-danger' : formControl.title.invalid && ( formControl.title.dirty ||  formControl.title.touched) }"
                        class="uk-input" formControlName="title" id="Title" type="text"
                        placeholder="Add an interesting title here!">
                </div>
            </div>
            <div class="uk-margin">
                <label
                    [ngClass]="{'uk-text-danger' : formControl.description.invalid && ( formControl.description.dirty ||  formControl.description.touched) }"
                    class="uk-form-label" for="Content">Content<span class="required">*</span></label>
                <div class="uk-form-controls">
                    
                    <editor
                        [ngClass]="{'uk-form-danger' : formControl.description.invalid && ( formControl.description.dirty ||  formControl.description.touched) }"
                        id="Content" formControlName="description"
                        [init]="{menubar:false, statusbar: false, base_url: '/tinymce', plugins: 'lists advlist', content_css : '/assets/css/mce_editor.css'}">
                    </editor>
                    <!-- <quill-editor
                        [ngClass]="{'uk-form-danger' : formControl.description.invalid && ( formControl.description.dirty ||  formControl.description.touched) }"
                        id="Content" formControlName="description"
                    >
                    </quill-editor> -->
                </div>
            </div>
            <div class="uk-margin">
                <label
                    [ngClass]="{'uk-text-danger' : formControl.category.invalid && ( formControl.category.dirty ||  formControl.category.touched) }"
                    class="uk-form-label" for="Category">Pick a Category</label>
                <div class="uk-form-controls">
                    
                    <ng-select id="Category" [items]="categoryList | keyvalue"
                        placeholder="Select Category" [hideSelected]="true" bindLabel="value.label" bindValue="key"
                        formControlName="category">
                    </ng-select>
                </div>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-transparent m-r-15" (click)="onReset()">Cancel & Go Back</button>
                <button class="uk-button uk-button-default"
                    (click)="onSubmit()">{{!!user ? 'Preview to Publish' : 'Join us to create this Discussion'}}</button>
            </div>
        </form>
    </div>
</div>