<div class="discussion-create">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
            <app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>
        <!-- <ul class="uk-breadcrumb">
            <li routerLink="/community" class="fa fa-angle-right">Community</li>
            <li routerLink="/community/discussions" class="fa fa-angle-right">All Articles & Discussions</li>
        </ul> -->
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-container">
        <h2 class="heading">Submit an Article or Start a Discussion</h2>
        <hr/>
        <form [formGroup]="discussForm" class="uk-form inner-container bg-white">
            <div class="uk-margin">
                <label 
                    [ngClass]="{'uk-text-danger' : formControl.title.invalid && ( formControl.title.dirty ||  formControl.title.touched) }"
                    class="uk-form-label" for="form-stacked-text">Title<span class="required">*</span></label>
                <div class="uk-form-controls">
                    <input 
                        [ngClass]="{'uk-form-danger' : formControl.title.invalid && ( formControl.title.dirty ||  formControl.title.touched) }"
                        class="uk-input" formControlName="title" id="form-stacked-text" type="text" placeholder="Add an interesting title here!">
                </div>
            </div>
            <div class="uk-margin">
                <label 
                    [ngClass]="{'uk-text-danger' : formControl.description.invalid && ( formControl.description.dirty ||  formControl.description.touched) }"
                    class="uk-form-label" for="form-stacked-text">Content<span class="required">*</span></label>
                <div class="uk-form-controls">
                    <!-- <textarea 
                        [ngClass]="{'uk-form-danger' : formControl.description.invalid && ( formControl.description.dirty ||  formControl.description.touched) }"
                        class="uk-textarea" formControlName="description" rows="5" placeholder="Add your content here!"></textarea> -->
                        <editor [ngClass]="{'uk-form-danger' : formControl.description.invalid && ( formControl.description.dirty ||  formControl.description.touched) }"
                            formControlName="description" 
                            [init]="{menubar:false, statusbar: false, base_url: '/tinymce', plugins: 'lists advlist'}"></editor>
                </div>
            </div>
            <div class="uk-margin">
                <label 
                    [ngClass]="{'uk-text-danger' : formControl.category.invalid && ( formControl.category.dirty ||  formControl.category.touched) }"
                    class="uk-form-label" for="form-stacked-text">Pick a Category</label>
                <div class="uk-form-controls">
                    <select 
                        [ngClass]="{'uk-form-danger' : formControl.category.invalid && ( formControl.category.dirty ||  formControl.category.touched) }"
                        class="uk-select" formControlName="category" id="form-stacked-select">
                        <option value="">Select Category</option>
                        <option *ngFor="let cat of categoryList | keyvalue" value="{{cat.key}}">{{cat.value.label}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-default m-r-15" (click)="onReset()">Cancel & Go Back</button>
                <button class="uk-button uk-button-primary" (click)="onSubmit()">{{!!user ? 'Preview to Publish' : 'Signin to create this Discussion'}}</button>
            </div>
        </form>
    </div>
</div>