@import "src/assets/css/variables.scss";

.discussion-create{
    font-family: $regular-font;
    color: $font-color-black;
    margin-bottom: 48px;
    .heading{ 
      font-family: $regular-font;
      font-size: 32px;
      font-weight: bold;
      color: $font-light-black;
    }
}