<div class="discussion-create">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <ul class="uk-breadcrumb">
            <li routerLink="/community" class="fa fa-angle-right">Community</li>
            <li routerLink="/community/discussions" class="fa fa-angle-right">All Discussions</li>
        </ul>
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-container">
        <h2>Create a Discussions</h2>
        <hr/>
        <form class="uk-form">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Pick a Category</label>
                <div class="uk-form-controls">
                    <select class="uk-select" name="category" id="form-stacked-select" (change)="onCategorySelect($event.target.value)">
                        <option value="">Select Category</option>
                        <option *ngFor="let cat of categoryList | keyvalue" value="{{cat.key}}">{{cat.value.label}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Title</label>
                <div class="uk-form-controls">
                    <input class="uk-input" name="title" id="form-stacked-text" type="text" [(ngModel)]="title" placeholder="What’s the title of your discussion?">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Comment</label>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea" name="description" rows="5" [(ngModel)]="description" placeholder="Enter a comment to start this discussion"></textarea>
                </div>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-default m-r-15" (click)="onReset()">Cancel & Go Back</button>
                <button class="uk-button uk-button-primary" (click)="onSubmit()">Start a Discussion</button>
            </div>
        </form>
    </div>
</div>