@import "src/assets/css/variables.scss";

.discussion-create{
    font-family: $regular-font;
    color: $font-color-black;
    margin-bottom: 48px;
    h2{
      color: rgba(22, 28, 45, 0.68);
      font-family: $regular-font;
      font-weight: bold;
    }
    .breadcrumbs {
      margin-top: 20px;
      .uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before{
        margin: 0 5px;
        content: ">";
      }
      .uk-breadcrumb {
        font-size: 18px;
        color: $primary-txt-color;
        margin-top: 20px;
      }
      .uk-breadcrumb b {
        font-size: 18px;
        color:#000;
        font-weight: bold;
      }
    }
}