.category-box {
    border: 1px solid #d7e0ef;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    .uk-badge {
      background: #d9dadc;
      color: #000;
      border-radius: 5px;
    }
  }

  .review-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .like-link {
    color: #666;
    .upvoted {
      color: #1a73e8;
    }
    :hover {
      color: #1a73e8;
    }
  }
  @media(max-width:640px){
    .category-box{
      padding: 10px;
      .review-avatar{
        width: 40px;
        height: 40px;
      }
      * + hr, * + .uk-hr {
        margin-top: 10px;
      }
      m-t-30 {
        margin-top: 10px !important;
      }
    }
  }