<div class="discussion-summary">
    <div class="discussion-summary-head">
        <div class="category">
            {{category.label | ellipsis:35}}
        </div>
    </div>
    <div class="discussion-summary-body">
        <div class="comments">
            {{category.totalCount}} Discussions
        </div>
        <hr>
        <div>
            <button class="latest">LATEST</button>
        </div>
        <div class="title" *ngIf="category.discussionLatest">
            <a [routerLink]="['/community/discussion', category.discussionLatest.id ]">{{category.discussionLatest.title}}</a>
        </div>
    </div>
    <div class="discussion-summary-footer" *ngIf="category.discussionLatest">
        <strong>{{category.discussionLatest.createdAt | date: 'dd-MM-yyyy'}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; by {{category.discussionLatest.username}}
    </div>
</div>