<div tabindex=-1 [routerLink]="isSame ? ['/ask-question'] : ['/ask-question/add']" [queryParams]="pageParam"
  class="cursor uk-card uk-card-hover uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>

  <div class="uk-card-media-left uk-width-1-4@m uk-width-1-3@s p-16">
    <!--TODO: apply imageHandler directive-->
    <img class="image-user" [src]="expert?.basicProfileInfo?.profileImage?.thumbnailImage"
      (error)="setDefaultPic($event)" alt="Expert's profile image" />
  </div>

  <div class="uk-card-body uk-width-expand p-16 ">
    <h3 class="font-regular"> <a [routerLink]="isSame ? ['/ask-question'] : ['/ask-question/add']"
        [queryParams]="pageParam" class="fname" (click)="navigate()">{{expert.basicProfileInfo.firstName}}</a></h3>
    <p class="expertdetial">
      {{ expert?.workTitle }} &nbsp;
    </p>

    <div class="category">
      In: <a href="javascript:void(0)" (click)="onclick($event,expert.experties)" class="category-text"
        *ngFor="let ex of expert.experties; let idx = index;">
        {{ex.name}}
        {{ (idx == (expert.experties.length -1)) ? "": "," }}
      </a>
    </div>
  </div>

  <div class="uk-width-1-4@m askques">
    <div class="reply-card">
      {{ expert?.replyCount }} Interactions
    </div>
    <button *ngIf="isSame==false" class="uk-button uk-button-primary" style="text-overflow: ellipsis;">Ask
      {{ (expertfullName.length>7)? (expertfullName | slice:0:6)+' '+'..':(expertfullName) }}</button>
    <button *ngIf="isSame==true" class="uk-button uk-button-primary" style="padding: 0px">Questions for
      me</button>
  </div>
</div>