<div class="product-detail" *ngIf="product!==undefined">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>

        <!-- <ul class="uk-breadcrumb">
            <li routerLink="/" class="fa fa-angle-right">Home</li>
            <li routerLink="/products" class="fa fa-angle-right">Products</li>
            <li routerLink="/products/all" class="fa fa-angle-right">All Products</li>
        </ul> -->
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <h2 class="heading">{{product?.name}}</h2>
        </div>
        <hr class="m-b-30" />
        <div class="no-top-m uk-grid uk-grid-large">
            <div class="uk-width-1-3@m">
                <div class="carousel-box">
                    <div *ngFor="let slide of slides">
                        {{slide}}
                    </div>
                    <ngb-carousel *ngIf="product && product.images" [activeId]="activeSlideId">
                        <ng-template *ngFor="let image of product.images" ngbSlide>
                            <img [imageHandler] [src]="image" alt="Random first slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
                    <ul class="carousel-thumbnail">
                        <li class="carousel-thumbnail__item carousel-box list-inline-item"
                            *ngFor="let image of product.images;  let i = index" (click)="setActiveSlide(i)">
                            <a class="selected">
                                <img class="carousel-thumbnail__img" [src]="image">
                            </a>
                        </li>
                    </ul>

                <!-- Rating box START -->
                <ul class="hidden" uk-tab="connect: .switcher-container; animation: uk-animation-fade">
                    <li></li>
                    <li></li>
                </ul>
                <div class="rating-box m-t-40 bg-white">
                    <app-rating-view [detailReview]="detailReview" [dbReviewCount]="totalReviewRecords">
                    </app-rating-view>
                </div>

                <!-- Submit Rating START-->
                <div class="rating-box m-t-20 bg-white">
                    <app-add-rating [userRating]="userRating" (submitForm)="onRatingSubmit($event)"></app-add-rating>
                </div>
                <!-- Submit Rating END-->

                <!-- Rating box END -->

                <div class="m-t-40 category-box bg-white">
                    <div class="m-b-20">
                        <a [href]="whatsappUrl" class="uk-icon-button  uk-margin-small-right whatapp-icon"
                            uk-icon="whatsapp"> </a>
                        <a [href]="whatsappUrl" class="social-link"> Share via
                            Whatsapp</a>
                    </div>

                    <div class="m-b-20">
                        <a href="mailto:?subject=%0AThis%20is%20Product%20from%20An%20Elder%20Spring%20Initiative%20by%20Tata%20Trusts&body=Product:%20{{product.name}}%0AProduct%2DURL:%20{{currentUrl}}"
                            class="uk-icon-button  uk-margin-small-right fb-icon" uk-icon="mail"> </a>
                        <a class="social-link"
                            href="mailto:?subject=%0AThis%20is%20Product%20from%20An%20Elder%20Spring%20Initiative%20by%20Tata%20Trusts&body=Product:%20{{product.name}}%0AProduct%2DURL:%20{{currentUrl}}">
                            Share
                            via Email</a>
                    </div>

                    <div>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}&t={{product.name}}"
                            class="uk-icon-button  uk-margin-small-right email-icon" uk-icon="facebook"> </a>
                        <a class="social-link"
                            href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}&t={{product.name}}">
                            Share via
                            Facebook</a>
                    </div>
                </div>

            </div>
            <div class="uk-width-2-3@m">
                <div class="category-box bg-white">

                    <h2 class="heading2">About</h2>
                    <div class="description">
                        {{product?.description}}
                    </div>
                    <hr />
                    <div class="buynow">
                        <table>
                            <tr>
                                <td><a href="{{product?.buyLink}}" target="_blank"
                                        class="uk-button uk-button-primary">Buy
                                        On {{product?.buyFrom }}</a></td>
                                <td><span class="price"> Rs. {{product?.price}}</span></td>
                            </tr>
                        </table>
                    </div>
                    <hr />
                </div>
                <!-- OLD review Form -->
                <!-- 
                <form [formGroup]="reviewForm" class="uk-form">
                    <div class="uk-card uk-card-default comment">
                        <div class="uk-card-header">
                            <h3>Write a Review</h3>
                        </div>
                        <div class="uk-card-body">
                            <div *ngIf="successMessage" class="uk-alert-success" uk-alert>
                                <p>{{ successMessage }}</p>
                            </div>
                            <div uk-grid>
                                <div class="uk-width-1-2@m">
                                    <span
                                        [ngClass]="{'uk-text-danger' : formControl.username.invalid && ( formControl.username.dirty ||  formControl.username.touched) }"
                                        class="p-b-5">Username<span class="required">*</span></span>
                                    <input type="text" class="review-input" formControlName="username"
                                        [ngClass]="{'uk-form-danger' : formControl.username.invalid && ( formControl.username.dirty ||  formControl.username.touched) }"
                                        class="uk-input" placeholder="Enter your name" />
                                </div>
                                <div class="uk-width-1-2@m">
                                    <span
                                        [ngClass]="{'uk-text-danger' : formControl.rating.invalid && ( formControl.rating.dirty ||  formControl.rating.touched) }"
                                        class="p-b-5">Your Rating<span class="required">*</span></span>
                                    <select formControlName="rating"
                                        [ngClass]="{'uk-form-danger' : formControl.rating.invalid && ( formControl.rating.dirty ||  formControl.rating.touched) }"
                                        class="uk-select" placeholder="Enter your rating">
                                        <option value="5">5 Star</option>
                                        <option value="4">4 Star</option>
                                        <option value="3">3 Star</option>
                                        <option value="2">2 Star</option>
                                        <option value="1">1 Star</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <span
                                    [ngClass]="{'uk-text-danger' : formControl.commentTxt.invalid && ( formControl.commentTxt.dirty ||  formControl.commentTxt.touched) }"
                                    class="p-b-5">Your Review<span class="required">*</span></span>
                                <textarea formControlName="commentTxt" class="uk-textarea"
                                    [ngClass]="{'uk-form-danger' : formControl.commentTxt.invalid && ( formControl.commentTxt.dirty ||  formControl.commentTxt.touched) }"
                                    placeholder="Enter your review here"></textarea>
                            </div>
                        </div>
                        <div class="uk-card-footer">
                            <div class="uk-flex uk-flex-right">
                                <button class="uk-button uk-button-primary"
                                    (click)="addComment()">{{ !!user ? 'Submit Review' : 'Signin to Review'}}</button>
                            </div>
                        </div>
                    </div>
                </form> -->

                <!-- Write Review Form START-->
                <!-- This is review modal -->
                <div id="review-modal" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h1 class="font-regular-24 font-weight-600">{{reviewTitle}} Review</h1>
                        <hr />
                        <!-- Success box START-->
                        <div *ngIf="reviewSuccessMessage" class="uk-alert-success" uk-alert>
                            <p>{{ reviewSuccessMessage }}</p>
                        </div>
                        <!-- Success box END-->
                        <form [formGroup]="reviewForm" class="uk-form-stacked review-form">


                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Title<span
                                        class="required">*</span></label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" formControlName="title" type="text"
                                        placeholder="Enter your name">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Your Review<span
                                        class="required">*</span></label>
                                <div class="uk-form-controls">
                                    <textarea formControlName="review" class="uk-input min-h-200" id="form-stacked-text"
                                        placeholder="Enter your review here"></textarea>
                                </div>
                            </div>

                            <div class="uk-text-right">
                                <button class="uk-button uk-button-transparent uk-modal-close"
                                    type="button">Cancel</button>
                                <button class="uk-button uk-button-default m-l-5 uk-modal-close"
                                    (click)="onReviewSubmit()" type="button"
                                    [disabled]="reviewForm.invalid">{{ auth.isAuthenticate ? 'Post Review': 'Signin to Review'}}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Write Review Form END-->

                <!-- Review List START -->
                <!-- Reviews Section-->
                <div class="m-t-30">
                    <ul class="uk-switcher switcher-container">
                        <li>
                            <!--DB Reviews START-->

                            <ng-container *ngIf="reviews.length == 0">
                                <app-no-review></app-no-review>
                            </ng-container>

                            <ng-container *ngIf="reviews.length > 0">
                                <div class="m-t-50 m-b-20" uk-grid>
                                    <div class="uk-width-expand uk-flex uk-flex-middle">
                                        <h1 class="font-regular-24 font-weight-600"> Reviews
                                            ({{totalReviewRecords}})
                                        </h1>
                                    </div>
                                    <div class="uk-width-auto">
                                        <button class="uk-button uk-button-default review-btn-transparent"
                                            uk-toggle="target: #review-modal"
                                            (click)="reviewForm.reset();reviewSuccessMessage = null;reviewTitle='Add'">Write
                                            Review</button>
                                    </div>
                                </div>

                                <!-- Review Box START-->
                                <app-reviews-list [userId]="userId" [dbReview]="reviews"
                                    (likeReview)="likeUnlikeReview($event)" (submitEditForm)="editReview($event)">
                                </app-reviews-list>
                                <!-- Review Box END-->

                                <app-pagination *ngIf="reviews.length > 0" [totalRecords]="totalReviewRecords"
                                    [currentPage]="reviwePaginate.p" [perPage]="reviwePaginate.s"
                                    (pageChangeCall)="changeReviewPage($event)">
                                </app-pagination>

                            </ng-container>
                            <!-- DB Reviews END -->
                        </li>
                    </ul>
                </div>




                <!-- Review List END -->

                <!-- No reviews START -->
                <!-- <div *ngIf="reviews && reviews.length == 0" class="m-t-30">
                    <div class="uk-child-width-expand" uk-grid>
                        <div class="info">
                            <h1 class="font-regular-24 font-weight-600 m-0"> No review!</h1>
                            <p class="lable font-regular m-0">No user has left review on this service.</p>
                        </div>
                        <div>
                            <img src="/assets/images/norecord.svg" />
                        </div>
                    </div>
                </div> -->
                <!-- No reviews END -->
            </div>
        </div>
    </div>
</div>