@import "src/assets/css/variables.scss";

.product-detail{
  font-family: $regular-font;
  color: $font-color-black;
  margin-bottom: 48px;
  .breadcrumbs {
    margin-top: 20px;
    .uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before{
      margin: 0 5px;
      content: ">";
    }
    .uk-breadcrumb {
      font-size: 18px;
      color: $primary-txt-color;
      margin-top: 20px;
    }
    .uk-breadcrumb b {
      font-size: 18px;
      color:#000;
      font-weight: bold;
    }
  }
  .heading{
    font-family: $regular-font;
    font-size: 32px;
    font-weight: bold;
    color: $font-light-black;
  }
  .heading2{
    font-family: $regular-font;
    font-size: 24px;
    font-weight: bold;
    color: $font-light-black;      
  }
  .no-top-m{
    margin-top: 0pc !important;
  }
  .buynow button.uk-button {
    line-height: 52px;
  }
  .price{
    font-size: 32px;
    line-height: 32px;
    display: inline-block;
    padding-left: 40px;
    font-weight: bold;
  }
  .description{
    font-size: $font-small;
    margin-top: 5px;
  }
  .textblue{
    color:$primary-txt-color;
  }
 
  .category-box{
    border: 1px solid #D7E0EF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    color: $font-light-black;
    h3, p{
      text-align: center;
    }
    a{
      color: $font-light-black;
    }
  }

  .comment{
    span{
      font-size: $font-small;
      padding: 15px 0 0 0;
      display: inline-block;
    }
    .uk-card-body{
      padding-top: 20px;
    }
    textarea{
      width: 100%;
      height: 100px;
      border-radius: 5px;
      border:1px solid #D7E0EF; 
      margin-top: 10px;
    }
    button{
      border-radius: 4px; 
    }
    .uk-card-header h3{
      border-bottom: 1px solid #D7E0EF;
    }
  }
  .uk-card-title{
    font-family: $regular-font;
    font-size: 18px;
    font-weight: bold;
  }
  .uk-card-header{
    font-family: $regular-font;
    padding: 9px 20px;
    font-size: 24px;
    border: none;
    h3{
      color: $font-light-black;
    }
  }
  .uk-card-body{
    padding: 0px 20px 0px 20px;
    font-size: 18px;
  }
  .uk-card-footer{
    border-top: none;
    img{
      height: 35px;
    }
    .like, .reply{
      font-size: 18px;
      display: inline-block;
      vertical-align: middle;
    }
    .reply-container{
      text-align: right;
      .reply{
        cursor: pointer;
      }
    }
  }
  .review-input{
    display:block;
    margin: 10px 0px;
    width: 100%;
    height: 36px;
    border: 1px solid #D7E0EF;
    border-radius: 4px;
  }
  select.review-input{
    padding: 3px 5px;
    background: #fff;
  }
  
  .comment.uk-card-default{
    margin-bottom: 20px;
    box-shadow: none;
    border: 1px solid #D7E0EF;
    border-radius: 4px;
  }

  .reviews .uk-card-default{
    background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #D7E0EF;
    margin-bottom: 20px;
  }
  .whatapp-icon{
    background:#009487;
    color:#fff;
  }

  .fb-icon{
    background:#2a415e;
    color:#fff;
  }

  .email-icon{
    background:#1772eb;
    color:#fff;
  }

  .carousel-thumbnail {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-thumbnail__item {
    cursor: pointer;
  }
  
  .carousel-thumbnail__img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border: 1px solid #eae5e5;
  }
}