<div class="product-detail" *ngIf="product!==undefined">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <h1 class="heading">{{product?.name}}</h1>
        </div>
        <hr class="m-b-30" />
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-1-3@m">
                <div class="carousel-box">
                    <div *ngFor="let slide of slides">
                        {{slide}}
                    </div>
                    <ngb-carousel *ngIf="product && product.images" [activeId]="activeSlideId">
                        <ng-template *ngFor="let image of product.images" ngbSlide>
                            <img [imageHandler] [src]="image" alt="Random first slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
                <ul class="carousel-thumbnail">
                    <li class="carousel-thumbnail__item carousel-box list-inline-item"
                        *ngFor="let image of product.images;  let i = index" (click)="setActiveSlide(i)">
                        <a class="selected">
                            <img class="carousel-thumbnail__img" alt="No Image Found" [src]="image">
                        </a>
                    </li>
                </ul>

                <!-- Rating box START -->
                <ul class="hidden" uk-tab="connect: .switcher-container; animation: uk-animation-fade">
                    <li></li>
                    <li></li>
                </ul>
                <div class="rating-box m-t-40 bg-white">
                    <app-rating-view [detailReview]="detailReview" [dbReviewCount]="totalReviewRecords">
                    </app-rating-view>
                </div>

                <!-- Submit Rating START-->
                <div class="rating-box m-t-20 bg-white">
                    <app-add-rating [userRating]="userRating" ratingOf="product" (submitForm)="onRatingSubmit($event)"></app-add-rating>
                </div>
                <!-- Submit Rating END-->

                <!-- Rating box END -->

                <div class="m-t-40 category-box bg-white">
                    <div class="m-b-20 uk-visible@s">
                        <a [href]="whatsappUrl" class="uk-icon-button  uk-margin-small-right whatapp-icon" uk-icon="whatsapp"
                          target="_blank"> </a>
                        <a class="social-link" [href]="whatsappUrl" target="_blank">
                          Share via
                          Whatsapp</a>
                    </div>
            
                    <div class="m-b-20 uk-hidden@s">
                        <a [href]="whatsappMobileUrl" class="uk-icon-button  uk-margin-small-right whatapp-icon" uk-icon="whatsapp">
                        </a>
                        <a class="social-link" [href]="whatsappMobileUrl">
                            Share via
                            Whatsapp</a>
                    </div>

                    <div class="m-b-20">
                        <a href="mailto:?subject=%0ACheck%20this%20website%20Joy%20of%20Age%20for%20product%20'{{product.name}}'&body=Product URL: {{currentUrl}}"
                            class="uk-icon-button  uk-margin-small-right fb-icon" uk-icon="mail"> </a>
                        <a class="social-link"
                            href="mailto:?subject=%0ACheck%20this%20website%20Joy%20of%20Age%20for%20product%20'{{product.name}}'&body=Product URL: {{currentUrl}}">
                            Share
                            via Email</a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}&t={{ service?.name || service?.basicProfileInfo?.firstName  }}"
                          onclick="javascript:window.open(this.href,
                                  '_blank', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                          class="uk-icon-button  uk-margin-small-right email-icon" uk-icon="facebook"> </a> <a class="social-link"
                          href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}&t={{ service?.name || service?.basicProfileInfo?.firstName  }}"
                          onclick="javascript:window.open(this.href,
                                  '_blank', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                          Share via
                          Facebook</a>
                      </div>
                </div>

            </div>
            <div class="uk-width-2-3@m">
                <div class="category-box bg-white">
                    <h3 class="heading2">About</h3>
                    <div class="description">
                        {{product?.description}}
                    </div>
                    <hr />
                    <div class="buynow">
                        <table>
                            <tr>
                                <td><button type="button" (click)="redirectConfirm()"
                                        class="uk-button uk-button-primary">{{ auth.isAuthenticate ? 'Buy
                                        On ' + product?.buyFrom : 'Join us to get details'}}</button></td>
                                <td><span class="price"> Rs. {{product?.price}}</span></td>
                            </tr>
                        </table>
                    </div>
                    <hr />
                </div>

                <!-- Write Review Form START-->
                <!-- This is review modal -->
                <div id="review-modal" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h3 class="font-regular-24 font-weight-600">{{reviewTitle}} Review</h3>
                        <hr />
                        <!-- Success box START-->
                        <div *ngIf="reviewSuccessMessage" class="uk-alert-success" uk-alert>
                            <p>{{ reviewSuccessMessage }}</p>
                        </div>
                        <!-- Success box END-->
                        <form [formGroup]="reviewForm" class="uk-form-stacked review-form">


                            <div class="uk-margin">
                                <label class="uk-form-label" for="review-title">Title<span
                                        class="required">*</span></label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="review-title" formControlName="title" type="text"
                                        placeholder="Write a title for review">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="review">Your Review<span
                                        class="required">*</span></label>
                                <div class="uk-form-controls">
                                    <textarea formControlName="review" class="uk-input min-h-200" id="review"
                                        placeholder="Enter your review here"></textarea>
                                </div>
                            </div>

                            <div class="uk-text-right">
                                <button class="uk-button uk-button-transparent uk-modal-close"
                                    type="button">Cancel</button>
                                <button class="uk-button uk-button-default m-l-5 uk-modal-close"
                                    (click)="onReviewSubmit()" type="button"
                                    >{{ auth.isAuthenticate ? 'Post review': 'Join us to review'}}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Write Review Form END-->

                <!-- Review List START -->
                <!-- Reviews Section-->
                <div class="m-t-30">
                    <ul class="uk-switcher switcher-container">
                        <li>
                            <!--DB Reviews START-->

                            <ng-container *ngIf="reviews.length == 0">
                                <app-no-review></app-no-review>
                            </ng-container>

                            <ng-container *ngIf="reviews.length > 0">
                                <div class="m-t-50 m-b-20" uk-grid>
                                    <div class="uk-width-expand uk-flex uk-flex-middle">
                                        <h3 class="font-regular-24 font-weight-600"> Reviews
                                            ({{totalReviewRecords}})
                                        </h3>
                                    </div>
                                    <div class="uk-width-auto">
                                        <button class="uk-button uk-button-transparent review-btn-transparent"
                                            uk-toggle="target: #review-modal"
                                            (click)="reviewForm.reset();reviewSuccessMessage = null;reviewTitle='Add'">Write
                                            Review</button>
                                    </div>
                                </div>

                                <!-- Review Box START-->
                                <app-reviews-list [userId]="userId" [dbReview]="reviews"
                                    (likeReview)="likeUnlikeReview($event)" (submitEditForm)="editReview($event)">
                                </app-reviews-list>
                                <!-- Review Box END-->

                                <app-pagination *ngIf="reviews.length > 0" [totalRecords]="totalReviewRecords"
                                    [currentPage]="reviwePaginate.p" [perPage]="reviwePaginate.s"
                                    (pageChangeCall)="changeReviewPage($event)">
                                </app-pagination>

                            </ng-container>
                            <!-- DB Reviews END -->
                        </li>
                    </ul>
                </div>




                <!-- Review List END -->

                <!-- No reviews START -->
                <!-- <div *ngIf="reviews && reviews.length == 0" class="m-t-30">
                    <div class="uk-child-width-expand" uk-grid>
                        <div class="info">
                            <h1 class="font-regular-24 font-weight-600 m-0"> No review!</h1>
                            <p class="lable font-regular m-0">No user has left review on this service.</p>
                        </div>
                        <div>
                            <img src="/assets/images/norecord.svg" />
                        </div>
                    </div>
                </div> -->
                <!-- No reviews END -->
            </div>
        </div>
    </div>
    <!-- Contact Model START -->
    <div id="modal-product-leaving" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Leaving Site</h2>
            </div>
            <div class="uk-modal-body">
                <div class="uk-child-width-1-1 uk-grid-small" uk-grid>
                    <div>
                        <p class="font-regular-15 m-b-10 lable">You will be leaving our page and go to Seniority Page</p>
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-transparent uk-modal-close close-btn" type="button">No</button>
                <button class="uk-button uk-button-primary m-l-5 uk-modal-close close-btn" (click)="redirectToSite()" type="button">Yes</button>
            </div>
        </div>
    </div>
    <!-- Contact Model END -->
</div>
<notifier-container></notifier-container>

<ng-template #customNotification1 let-notificationData="notification">
    <my-custom-alert type="notificationData.type">
        <img class="icon" src="assets/images/verifiedtoast.png">

        <span class="message">{{ notificationData.message }}</span>
    </my-custom-alert>
</ng-template>