<div class="product-detail" *ngIf="product!==undefined">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <ul class="uk-breadcrumb">
            <li routerLink="/products/" class="fa fa-angle-right">Products</li>
            <li routerLink="/products/all" class="fa fa-angle-right">All Products</li>
        </ul>
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <h2 class="heading">{{product?.name}}</h2>
        </div>
        <hr/>
        <div class="no-top-m uk-grid uk-grid-large">
            <div class="uk-width-1-3@m">
                <div class="category-box">
                        <div *ngFor="let slide of slides">
                            {{slide}}
                        </div>
                        <ngb-carousel *ngIf="product && product.images" [activeId]="activeSlideId">
                            <ng-template *ngFor="let image of product.images" ngbSlide>
                                <img [src]="image" alt="Random first slide">
                            </ng-template>
                        </ngb-carousel>
                        <ul class="carousel-thumbnail">
                            <li class="carousel-thumbnail__item list-inline-item" *ngFor="let image of product.images;  let i = index" (click)="setActiveSlide(i)">
                                <a class="selected">
                                    <img class="carousel-thumbnail__img" [src]="image">
                                </a>
                            </li>
                        </ul>
                </div>
                <div class="m-t-40 category-box">
                    <div class="m-b-20">
                        <a href="" class="uk-icon-button  uk-margin-small-right whatapp-icon" uk-icon="whatsapp"> </a> <a> Share via
                        Whatsapp</a>
                    </div>
            
                    <div class="m-b-20">
                        <a href="" class="uk-icon-button  uk-margin-small-right fb-icon" uk-icon="mail"> </a> <a> Share via Email</a>
                    </div>
            
                    <div>
                        <a href="" class="uk-icon-button  uk-margin-small-right email-icon" uk-icon="facebook"> </a> <a> Share via
                        Facebook</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-2-3@m">
                <h2 class="heading2">About</h2>
                <div class="description">
                        {{product?.description}}
                </div>
                <hr/>
                <div class="buynow">
                    <table>
                        <tr>
                            <td><a href="{{product?.buyLink}}" target="_blank" class="uk-button uk-button-primary">Buy On {{product?.buyFrom }}</a></td>
                            <td><span class="price"> Rs. {{product?.price}}</span></td>
                        </tr>
                    </table>                        
                </div>
                <hr/>
                <div class="uk-card uk-card-default comment">
                    <div class="uk-card-header">
                        <h3>Write a Review</h3>
                    </div>
                    <div class="uk-card-body">
                        <!-- <div class="reply_reply" style="background-color: #FFF" *ngIf="replyParentText!=''">
                            <div class="reply_reply_inner">
                                <b>{{replyParentUser}}</b><br/>
                                {{replyParentText}}
                            </div>
                        </div> -->
                        <div uk-grid>
                            <div class="uk-width-1-2@m">
                                <span class="p-b-5">Username</span>
                                <input type="text" class="review-input" id="prod_username" name="prod_username" [(ngModel)]="username" placeholder="Enter your name" />
                            </div>
                            <div class="uk-width-1-2@m">
                                <span class="p-b-5">Your Rating</span>
                                <select class="review-input" id="prod_rating" name="prod_rating" [(ngModel)]="rating" placeholder="Enter your name">
                                    <option value="5">5 Star</option>
                                    <option value="4">4 Star</option>
                                    <option value="3">3 Star</option>
                                    <option value="2">2 Star</option>
                                    <option value="1">1 Star</option>
                                </select>
                            </div>
                        </div>                        
                        <div>
                            <span class="p-b-5">Your Review</span>
                            <textarea id="commentarea" name="commentarea" [(ngModel)]="commentTxt" placeholder="Enter your review here"></textarea>
                        </div>
                    </div>
                    <div class="uk-card-footer">
                        <div class="uk-flex uk-flex-right">
                            <button class="btn-primary" (click)="addComment()">{{ !!user ? 'Submit Review' : 'Signin to Review'}}</button>
                        </div>
                    </div>
                </div>
                <div class="reviews" *ngIf="reviews!==undefined">
                    <h2 class="heading2">Reviews ({{reviews.length}})</h2>
                    <div class="uk-card uk-card-default" *ngFor="let reply of reviews">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <!-- <div class="uk-width-auto">
                                    <img class="uk-border-circle" *ngIf="reply.userProfile && reply.userProfile.basicProfileInfo && reply.userProfile.basicProfileInfo.profileImage && reply.userProfile.basicProfileInfo.profileImage.thumbnailImage" 
                                        width="40" height="40" src="{{reply.userProfile.basicProfileInfo.profileImage.thumbnailImage}}">
                                </div> -->
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{reply.userName}} {{reply.rating}}</h3>
                                    <p class="uk-text-meta uk-margin-remove-top">
                                        <ngb-rating [(rate)]="reply.rating" [readonly]="true" [max]="5">
                                            <ng-template let-fill="fill" let-index="index">
                                                <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                            </ng-template>
                                        </ngb-rating>
                                    </p>
                                </div>
                                <div class="uk-width-auto">
                                    <p class="uk-text-meta">{{ reply.createdAt | timeago }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                        <!-- <div class="reply_reply" *ngIf="reply.parentText!=''">
                            <div class="reply_reply_inner">
                                <b>{{reply.parentUser}}</b><br/>
                                {{reply.parentText}}
                            </div>
                        </div> -->
                        <div [innerHTML]="reply.review">
                        </div>
                        </div>
                        <div class="uk-card-footer">
                            <div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
                                <div class="like-container">
                                    <img src="/assets/images/like-outline.svg" (click)="likeReply(reply)"> <span class="like" (click)="likeReply(reply)">{{reply.likeCount}}</span>
                                </div>
                                <div class="reply-container" (click)="setReplyId(reply.id,reply.userName,reply.review)">
                                    <img src="/assets/images/reply.svg"> <label class="reply"> Reply</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="details">
                    <h2 class="heading2">Details</h2>
                    <div class="uk-grid">
                            <div class="uk-width-1-2@s">
                                <p class="label">
                                    Event Category
                                </p>
                                <p class="description">
                                    {{ (event.eventType==1 ? "Outdoor" : "Indoor") }}
                                </p>
                                <p class="label">
                                    Email
                                </p>
                                <p class="description">
                                    {{event.orgEmail}}
                                </p>
                                <p class="label">
                                    Location
                                </p>
                                <p class="description">
                                    {{event.address + " " + event.landmark}}
                                </p>
                            </div>
                            <div class="uk-width-1-2@s description">
                                <p class="label">
                                    Event Entry
                                </p>
                                <p class="description">
                                    {{ (event.entryFee >= 1 ? "Paid" : "Free") }}
                                </p>
                                <p class="label">
                                    Languages
                                </p>
                                <p class="description">
                                    {{event.languages}}
                                </p>
                                <p class="label">
                                    Phone Number
                                </p>
                                <p class="description">
                                    {{event.orgPhone}}
                                </p>
                            </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>