.f-pagination {
  border-top: 1px solid #d7e0ef;
}
.uk-pagination {
  justify-content: center;
  // width: 100%;
  margin: 30px auto 30px auto;
  .first {
    line-height: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .last {
    line-height: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.uk-pagination > li {
  .pagenum {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    margin: 0 5px;
    background-color:#c7c9cd;
    color: #fff;
    font-size: 18px;
  }
  .pagenum:hover {
    background-color: #93969e;
  }

  .pagenum:focus:active {
    background-color: #61656f;
  }
}

.uk-pagination > li {
  .pagenum.uk-active {
    a {
      color: #fff;
    }
    background-color: #1a73e8;
    &:hover {
      color: #fff;
    }
  }
}
.uk-pagination > * > * {
  display: inline-block;
}

.pagenum-rm {
  background-color: transparent !important;
  color: rgba(22, 28, 45, 0.4) !important;
  &:hover {
    background-color: transparent !important;
    color: rgba(22, 28, 45, 0.4) !important;
  }
}

@media (max-width: 640px) {
  .uk-pagination > li {
    .pagenum {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
  }
  .uk-pagination {
    .first {
      line-height: 35px;
      padding: 0px;
    }
    .last {
      line-height: 35px;
      padding: 0px;
    }
  }
}

@media (min-width: 640px) {
  .pr\@s {
    padding-right: 20px;
  }
}

.pageNext{
  color: #1a73e8 !important;
}

.pagePrev{
  color: #1a73e8 !important; /*#616570*/
}