<div class="discussion-detail" *ngIf="discussion!=undefined && discussion.id != ''">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-3@m">
                <div class="category-box top bg-white">
                    <div class="img-container"
                        *ngIf="discussion.userProfile && discussion.userProfile.basicProfileInfo && discussion.userProfile.basicProfileInfo.profileImage && discussion.userProfile.basicProfileInfo.profileImage.thumbnailImage">
                        <img class="user" [imageHandler] [src]="discussion?.userProfile?.basicProfileInfo?.profileImage?.thumbnailImage" alt="discussion user profile image">
                    </div>
                    <div class="heading2 username">
                        {{discussion.username}}
                    </div>
                </div>
                <div class="m-t-30 bg-white category-box">
                    <div class="m-b-20 uk-visible@s">
                        <a aria-label="Share via Whatsapp" [href]="whatsappUrl" class="uk-icon-button  uk-margin-small-right whatapp-icon" aria-label="Share via Whatsapp" uk-icon="whatsapp"
                          target="_blank"> </a>
                        <a class="social-link" [href]="whatsappUrl" target="_blank">
                          Share via
                          Whatsapp</a>
                    </div>
            
                    <div class="m-b-20 uk-hidden@s">
                        <a aria-label="Share via Whatsapp" [href]="whatsappMobileUrl" aria-label="Share via Whatsapp" class="uk-icon-button  uk-margin-small-right whatapp-icon" uk-icon="whatsapp">
                        </a>
                        <a class="social-link" [href]="whatsappMobileUrl">
                            Share via
                            Whatsapp</a>
                    </div>
                    <div class="m-b-20">
                        <a aria-label="Share via Email" href="mailto:?subject=This is regarding discussion '{{discussion.title}}' from An Elder Spring Initiative by Tata Trusts&body= Discussion URL: {{currentUrl}}"
                        class="uk-icon-button  uk-margin-small-right fb-icon" uk-icon="mail" aria-label="Share via Email">
                        </a> <a class="social-link"
                        href="mailto:?subject=This is regarding discussion '{{discussion.title}}' from An Elder Spring Initiative by Tata Trusts&body= Discussion URL: {{currentUrl}}">
                        Share via
                        Email</a>
                    </div>
                    <div>
                        <a aria-label="Share via facebook" href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}&t=Elder%20Spring%20Services" onclick="javascript:window.open(this.href,
                                '_blank', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                        class="uk-icon-button  uk-margin-small-right email-icon" uk-icon="facebook" aria-label="Share via Facebook"> </a> <a class="social-link"
                        href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}&t=Elder%20Spring%20Services" onclick="javascript:window.open(this.href,
                                '_blank', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        Share via
                        Facebook</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-2-3@m">
                <div class="bg-white category-box">
                    <h4 class="publish-on">Published On: {{discussion.createdAt | date:'dd MMM yyyy' }} at {{discussion?.createdAt | date:'shortTime' }}</h4>
                    <h1 tabindex=0 id="discussionTitleHeader"  class="heading">{{discussion.title}}</h1>
                    <hr/>
                    <h4 class="heading2">Description</h4>
                    <div class="description" [innerHTML]="discussion.text">
                    </div>
                    <div *ngIf="discussionId == 'preview'">
                        <hr/>
                        <button class="uk-button uk-button-default m-r-15" (click)="onCancelPublish()">Go Back & Edit</button>
                        <button class="uk-button uk-button-primary" (click)="onPublish()">{{!!user ? 'Publish' : 'Signin to create this Discussion'}}</button>
                    </div>
                </div>
                <div *ngIf="discussionId != 'preview'">
                <div class="comments-head">
                    <div class="uk-grid-collapse" uk-grid>
                        <div class="comments-count uk-width-2-3@s">
                            <h4>Comments ({{commentsCount}})</h4>
                        </div>
                        <div class="comments-add uk-width-1-3@s">
                            <button id="btnAddComment" class="uk-button uk-button-transparent adddiscuss"
                            (click)="setParentReplyId('',$event.target)"> Add Comment </button>
                        </div>
                    </div>
                </div>
                <div class="uk-card uk-card-default p-bottom-24" *ngFor="let repliesGroup of sortedReplies | keyvalue">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle"
                                    width="40" height="40"
                                    (error)="setDefaultPic($event)"
                                    alt="replies user profile image"
                                    src="{{repliesGroup.value[0].userProfile?.basicProfileInfo?.profileImage?.thumbnailImage}}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{repliesGroup.value[0]?.userProfile?.basicProfileInfo?.firstName}}</h3>
                                <p class="uk-text-meta uk-margin-remove-top" *ngIf="repliesGroup.value[0].userProfile"> Joined:
                                    {{ repliesGroup.value[0]?.userProfile?.createdAt | date:"MMM yyyy" }}</p>
                            </div>
                            <div class="uk-width-auto">
                                <p class="uk-text-meta">{{ repliesGroup.value[0]?.createdAt | timeago }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div [innerHTML]="repliesGroup.value[0].text">
                        </div>
                        <div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
                            <div *ngIf="repliesGroup.value[0].userId != user?.id" class="like-container">
                                <img class="img" 
                                    src="/assets/images/like-outline.svg" alt="like icon" (click)="likeReply(repliesGroup.value[0])">
                                <span
                                    class="like" (click)="likeReply(repliesGroup.value[0])">
                                    {{repliesGroup.value[0].likeCount}}
                                </span>
                            </div>
                            <div *ngIf="repliesGroup.value[0].userId == user?.id" class="like-container">
                                <a class="font-regular uk-text-primary" href="#reply-modal-discussion" uk-toggle
                                    (click)="editReply('',repliesGroup.value[0])">
                                    Edit
                                </a>
                            </div>
                            <div class="reply-container" uk-toggle="target: #reply-modal-discussion" (click)="setParentReplyId(repliesGroup.value[0].id)">
                                <img class="img" src="/assets/images/reply.svg" alt="reply icon"> <label class="reply" for="commentarea">
                                    Reply</label>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-footer" *ngIf="repliesGroup.value.length > 1">
                        <hr/>
                        <ul uk-accordion>
                            <li>
                                <a class="uk-accordion-title" href="#">Replies ({{repliesGroup.value.length - 1}})</a>
                                <div class="uk-accordion-content">
                                    <div *ngFor="let rep of repliesGroup.value; index as i">
                                        <div class="uk-card uk-card-default noborder"  *ngIf="i != 0">
                                            <div class="uk-card-header">
                                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                                    <div class="uk-width-auto">
                                                        <img class="uk-border-circle"
                                                            alt="replies user profile image"
                                                            (error)="setDefaultPic($event)"
                                                            width="40" height="40"
                                                            [src]="rep.userProfile?.basicProfileInfo?.profileImage?.thumbnailImage">
                                                    </div>
                                                    <div class="uk-width-expand">
                                                        <h3 class="heading2 uk-margin-remove-bottom">{{rep.userProfile?.basicProfileInfo?.firstName}}</h3>
                                                    </div>
                                                    <div class="uk-width-auto">
                                                        <p class="uk-text-meta">{{ rep.createdAt | timeago }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-card-body borderleft">
                                                <div [innerHTML]="rep.text">
                                                </div>
                                                <div *ngIf="rep.userId != user?.id" class="like-container">
                                                    <img class="img" 
                                                        src="/assets/images/like-outline.svg" alt="like icon" (click)="likeReply(rep)">
                                                    <span
                                                        class="like" (click)="likeReply(rep)">
                                                        {{rep.likeCount}}
                                                    </span>
                                                </div>
                                                <div *ngIf="rep.userId == user?.id" class="like-container">
                                                    <a class="font-regular uk-text-primary" href="#reply-modal-discussion" uk-toggle
                                                        (click)="editReply('',rep)">
                                                        Edit
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>

                <div id="reply-modal-discussion" role="dialog" aria-labelledby="addCommentTitle" aria-modal="true" uk-modal="bg-close:false;container:false;">
                    <div class="uk-modal-dialog uk-modal-body">
                    <h1 tabindex=0 id="addCommentTitle" class="font-regular-24 font-weight-600">Add Comment</h1>
                    <hr />
                    <!-- Success box START-->
                    <div aria-live="polite" aria-atomic="true" *ngIf="successMessage" class="uk-alert-success" uk-alert>
                        <p><span class="uk-icon mr-5" uk-icon="info"></span> {{ successMessage }}</p>
                    </div>
                    <!-- Success box END-->
                    <form [formGroup]="replyForm" (ngSubmit)="addComment()" class="uk-form-stacked reply-form">
                        <div class="uk-margin">
                        <label class="uk-form-label" for="Comment">Comment<span class="required">*</span></label>
                        <div class="uk-form-controls">
                            <textarea formControlName="commentTxt" class="uk-input min-h-200" id="Comment"
                            placeholder="Enter your comment here"></textarea>
                        </div>
                        </div>

                        <div class="uk-text-right">
                        <button class="uk-button uk-button-transparent uk-modal-close" (click)="onCloseModel()" type="button">Cancel</button>
                        <button class="uk-button uk-button-primary m-l-5" type="submit">
                            {{!!user ? 'Post' : 'Signin to Comment'}}
                        </button>
                        </div>
                    </form>
                    </div>
                </div>
                

                <!-- Delete review confirmation modal -->
                <div id="delete-modal" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
                    <p class="font-regular font-weight-600">Are you sure want to delete this Comment?</p>
                    <p class="lable font-regular m-0">By deleting this comment, you will also delete all the replies posted for
                        this perticular comment.</p>
                    <div class="uk-text-right">
                        <button class="uk-button uk-button-default review-btn-transparent uk-modal-close"
                        type="button">Cancel</button>
                        <button class="uk-button uk-button-default review-btn uk-modal-close m-l-5"
                        (click)="deleteReview()">Delete</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>