@import "../../../assets/css/variables.scss";

.category-box {
  border: 1px solid #d7e0ef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 30px;
  .uk-badge {
    background: #d9dadc;
    color: #000;
    border-radius: 5px;
  }
}

.social-link {
  color: #000;
}

