<div class="product-create">
        <!-- Bread crumbs Start -->
        <div class="breadcrumbs">
            <ul class="uk-breadcrumb">
                <li routerLink="/products" class="fa fa-angle-right">Products</li>
            </ul>
        </div>
        <!-- Bread crumbs End -->
        <div class="uk-container">
            <h2 class="heading">Create a Product</h2>
            <hr class="m-b-30" />
            <form class="uk-form">
                <div class="uk-margin">
                    <label class="uk-form-label" for="Category">Pick a Category</label>
                    <div class="uk-form-controls" *ngIf="categoryList!=undefined">
                        <select id="Category" class="uk-select" name="productCategory" [(ngModel)]="productCategory" >
                            <option *ngFor="let cat of categoryList" value="{{cat.id}}">{{cat.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="uk-margin">
                    <label for="name" class="uk-form-label">Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="name" name="name" type="text" [(ngModel)]="name" placeholder="Product Name">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="shortDescription">Short Description</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="shortDescription" name="shortDescription" type="text" [(ngModel)]="shortDescription" placeholder="Product Short Description">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="description">Description</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="description" name="description" type="text" [(ngModel)]="description" placeholder="Product Description">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="isFeatured">Is Featured</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="isFeatured" name="Is Featured" type="number" [(ngModel)]="isFeatured" placeholder="mark featured as 0 or 1">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="price">Price</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="price" name="price" type="number" [(ngModel)]="price" placeholder="Price of Product">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="Status">Status</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="Status" name="status" type="number" [(ngModel)]="status" placeholder="Status: 0 for Active and 1 for In Active">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="buy-Link">Buy Link</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="buy-Link" name="buyLink" type="text" [(ngModel)]="buyLink" placeholder="Product Buy From Link (link of product on buyer site)">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="buy-From">Buy From</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="buy-From" name="buyFrom" type="text" [(ngModel)]="buyFrom" placeholder="Product Buy From Site Ex. Senerioty or Amazon">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="product-image">Images</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="product-image" name="images" type="text" [(ngModel)]="images" placeholder="Product Buy From Site Ex. Senerioty or Amazon">
                    </div>
                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-button-default m-r-15" (click)="onReset()">Cancel & Go Back</button>
                    <button class="uk-button uk-button-primary" (click)="onSubmit()">{{!!user ? 'Add Product' : 'Signin to create Product'}}</button>
                </div>
            </form>
        </div>
    </div>