<div class="category-box bg-white">
    <div uk-grid>
        <div class="uk-width-expand">
            <h3>User Details</h3>
        </div>
        <div class="uk-width-auto uk-flex uk-flex-middle">
            <a href="javascript:void(0)" (click)="edit()" class="edit font-regular">Edit</a>
        </div>
    </div>


    <hr>
    <div class="m-t-40" uk-grid>
        <div class="uk-width-1-3@s">
            <img
                [src]="userService.userProfile?.basicProfileInfo?.profileImage?.thumbnailImage || 'assets/images/default-thumbnail.png'" alt="No Image Found" />
        </div>
        <div class="uk-width-expand@s">
            <p class="font-regular-15 m-b-10 lable">Name</p>
            <p class="font-regular m-t-0">
                {{ userService.userProfile?.basicProfileInfo?.firstName || '-'}}
            </p>

            <p class="font-regular-15 m-b-10 lable">Email ID</p>
            <p class="font-regular m-t-0">
                {{ auth.user.email || userService.userProfile?.basicProfileInfo?.primaryEmail|| '-'}}
            </p>

            <p class="font-regular-15 m-b-10 lable">Phone number</p>
            <p class="font-regular m-t-0">
                {{ auth.user.phoneNumber ||  userService.userProfile?.basicProfileInfo?.primaryPhoneNo|| '-' }}</p>
        </div>
    </div>
</div>
<!-- General Information START-->
<div class="category-box bg-white  m-t-40">

    <div uk-grid>
        <div class="uk-width-expand">
            <h3>General Info</h3>
        </div>
        <div class="uk-width-auto uk-flex uk-flex-middle">
            <a href="javascript:void(0)" (click)="edit()" class="edit font-regular">Edit</a>
        </div>
    </div>
    <hr />
    <div class="uk-child-width-1-2@s m-t-40" uk-grid>
        <div>
            <p class="font-regular-15 m-b-10 lable">Gender</p>
            <p class="font-regular m-t-0">{{ gender || '-'}}</p>
        </div>
        <div>
            <p class="font-regular-15 m-b-10 lable">Occupation</p>
            <p class="font-regular m-t-0">{{ userService.userProfile?.individualInfo?.occupation  || '-'}}</p>
        </div>
        <div>
            <p class="font-regular-15 m-b-10 lable">Birthday</p>
            <p class="font-regular m-t-0">{{ userService?.userProfile?.individualInfo?.dob | date : 'longDate' || '-'}}
            </p>
        </div>

        <div>
            <p class="font-regular-15 m-b-10 lable">Marital Status</p>
            <p class="font-regular m-t-0">{{ userService?.userProfile?.individualInfo?.maritalStatus|| '-' }}</p>
        </div>

    </div>
</div>
<!-- General Information END-->
<!-- Contact Detail -->
<div class="category-box bg-white m-t-40">

    <div uk-grid>
        <div class="uk-width-expand">
            <h3>Address Details</h3>
        </div>
        <div class="uk-width-auto uk-flex uk-flex-middle">
            <a href="javascript:void(0)" (click)="edit()" class="edit font-regular">Edit</a>
        </div>
    </div>
    <hr>
    <div class="m-t-40">
        <p class="font-regular-15 m-b-10 lable">Address</p>
        <p class="font-regular m-t-0">
            {{ userService?.userProfile?.basicProfileInfo?.primaryUserAddress?.streetAddress || '-'}}
        </p>
    </div>
    <div class="uk-child-width-1-2@s m-t-20" uk-grid>
        <!-- <div>
            <p class="font-regular-15 m-b-10 lable">Country</p>
            <p class="font-regular m-t-0">
                {{ userService?.userProfile?.basicProfileInfo?.primaryUserAddress?.country || '-'}}
            </p>
        </div> -->
        <div>
            <p class="font-regular-15 m-b-10 lable">City</p>
            <p class="font-regular m-t-0">
                {{ userService?.userProfile?.basicProfileInfo?.primaryUserAddress?.city|| '-' }}</p>
        </div>

        <div>
            <p class="font-regular-15 m-b-10 lable">ZIP</p>
            <p class="font-regular m-t-0">
                {{ userService?.userProfile?.basicProfileInfo?.primaryUserAddress?.zip || '-'}}</p>
        </div>

    </div>
</div>
<!-- Contact Detail END-->

<!-- About you -->
<div class="category-box bg-white m-t-40">
    <div uk-grid>
        <div class="uk-width-expand">
            <h3>Personal information</h3>
        </div>
        <div class="uk-width-auto uk-flex uk-flex-middle">
            <a href="javascript:void(0)" (click)="edit()" class="edit font-regular">Edit</a>
        </div>
    </div>

    <hr>

    <div class="m-t-40">
        <p class="font-regular-15 m-b-10 lable">Something about yourself</p>
        <p class="font-regular m-t-0">{{ userService?.userProfile?.basicProfileInfo?.shortDescription || '-' }}</p>

    </div>

    <div class="m-t-30">
        <p class="font-regular-15 m-b-10 lable">Emotional Challenges</p>
        <p class="font-regular m-t-0">{{userService?.userProfile?.individualInfo?.emotionalIssues || '-'}}</p>
    </div>

    <div class="m-t-30">
        <p class="font-regular-15 m-b-10 lable">Medical Issues</p>
        <p class="font-regular m-t-0">{{ userService?.userProfile?.individualInfo?.medicalIssues || '-' }}</p>
    </div>

    <div class="m-t-30">
        <p class="font-regular-15 m-b-10 lable">Other Difficulties</p>
        <p class="font-regular m-t-0">{{ userService?.userProfile?.individualInfo?.otherIssues || '-' }}</p>
    </div>

    <div class="m-t-30">
        <p class="font-regular-15 m-b-10 lable">Language</p>
        <p class="font-regular m-t-0">
            <ng-conatiner *ngFor="let language of userService?.userProfile?.individualInfo?.language; let i = index">
                <ng-conatiner *ngIf="i == 0">
                    {{language.name||'-'}}
                </ng-conatiner>
                <ng-conatiner *ngIf="i > 0">
                    {{','+language.name||'-'}}
                </ng-conatiner>
            </ng-conatiner>
        </p>
    </div>

    <div class="m-t-30">
        <p class="font-regular-15 m-b-10 lable">My Hobbies</p>
        <p class="font-regular m-t-0">{{ userService?.userProfile?.individualInfo?.hobbies || '-'}}</p>
    </div>

    <div class="m-t-30">
        <p class="font-regular-15 m-b-10 lable">Topic of Interests</p>
        <p class="font-regular m-t-0">{{ userService?.userProfile?.individualInfo?.otherInterests || '-'}}</p>
    </div>
</div>