<div class="search-container ">
  <!-- <div class="header-label">
    <h3>Search for Events, Articles, Experts, Products & Services</h3>
  </div> -->

  <!-- Search Form START -->
  <div class="search-form">
    <div class="search-field uk-grid-stack uk-grid-small" uk-grid>

      <div class="uk-width-expand uk-position-relative">
        <div class="uk-position-absolute uk-z-index w-full pr-20">
          <form class="uk-search uk-search-default" autocomplete='off'>
            <span class="uk-search-icon-flip" [ngClass]="{ 'w-150':showReset}" uk-search-icon>
              <button class="uk-button-link" style="visibility: hidden"></button>
              <button *ngIf="showReset" class="reset-link" (click)="resetSearch($event)">
                <fa-icon [icon]="['fas', 'times-circle']"></fa-icon><span class="uk-visible@s"> Clear Search</span>
              </button>

            </span>
            <input class="uk-search-input search-box font-regular sm-pr-150" aria-label="search"
              aria-autocomplete=”both” [(ngModel)]="searchPageParam.term" (keyup)="searchEvent($event)"
              (keydown.enter)="onSearch($event.target.value)" required type="text" placeholder="Search here"
              name="search" autocomplete='off' />
          </form>
          <ul *ngIf="autocompleteFields.length > 0"
            class="uk-list uk-list-large p-10 m-0 max-h-200 uk-overflow-auto search-list" appKeyHandler
            (onItemSelected)="onItemSelected($event)">
            <li class="cursor-pointer" *ngFor="let field of autocompleteFields" (click)="onAutocompleteClick(field)">
              {{field?.name ||  field?.basicProfileInfo?.firstName }}
            </li>
          </ul>
        </div>
      </div>

      <div>
        <button class="uk-button uk-button-default search-btn" (click)="onSearch(searchPageParam.term)">Search</button>
      </div>
    </div>

    <!-- Search Form END -->
    <!-- Mobile view card -->

    <!-- <div class="m-t-20 uk-hidden@s" *ngIf="!noRecords && !isLoading && showResult">
      <p class="font-regular-15 font-weight-600">Search Results
        ({{searchData.totalServices + searchData.totalProducts + searchData.totalDiscussions + searchData.totalEvents + searchData.totalExperts}})
      </p>

      <div class="m-t-20 uk-grid-small" uk-grid>
        <div class="uk-width-1-2">
          <div class="search-result-box cursor-pointer" routerLink="/community"
            [queryParams]="{ searchTxt:searchPageParam.term}">
            <p>Discussion ({{searchData.totalDiscussions}})</p>
          </div>
        </div>
        <div class="uk-width-1-2">
          <div class="search-result-box cursor-pointer" routerLink="/community"
            [queryParams]="{ searchTxt:searchPageParam.term, past: -1}">
            <p>Events ({{searchData.totalEvents}})</p>
          </div>
        </div>
        <div class="uk-width-1-2">
          <div class="search-result-box cursor-pointer" routerLink="/ask-question"
            [queryParams]="{ searchTxt:searchPageParam.term}">
            <p>Experts ({{searchData.totalExperts}})</p>
          </div>
        </div>
        <div class="uk-width-1-2">
          <div class="search-result-box cursor-pointer" routerLink="/services"
            [queryParams]="{ category:searchPageParam.term}">
            <p>Services ({{searchData.totalServices}})</p>
          </div>
        </div>
        <div class="uk-width-1-1" routerLink="/products" [queryParams]="{ searchTxt:searchPageParam.term}">
          <div class="search-result-box cursor-pointer">
            <p>Products ({{searchData.totalProducts}})</p>
          </div>
        </div>
      </div>

      <p class="uk-text-center">
        <fa-icon style="color:#1A73E8;" [icon]="['fas', 'info-circle']"></fa-icon> Tap on any card to see the full
        results
      </p>
    </div> -->

    <!-- Search Result START -->
    <div class="uk-visible@s">
      <app-search-results *ngIf="showResult" [searchTerm]="searchPageParam.term">
      </app-search-results>
    </div>
    <!-- Search Result END -->
    <div class="uk-text-center uk-text-bold m-t-20" *ngIf="noRecords">
      No Records found
    </div>
    <!-- Popular search component  -->
    <!-- <div class="p-24-40"
    *ngIf="searchData.services.length == 0 && searchData.products.length == 0  && searchData.discussions.length == 0 ">
    <app-popular-search></app-popular-search>
  </div> -->
    <!-- Popular search component  -->

    <!-- <div class="uk-container popular-search-list"></div> -->
    <!-- <div class="quote-line uk-margin-remove" uk-grid>
    <div class="uk-width-expand@s uk-padding-remove uk-flex uk-flex-middle">
      <div class="uk-flex uk-flex-middle">
        <span class="mr-3">
          <span class="verified-icon"></span>
        </span>
        Engage to empower this community! 
      </div>
    </div>
  </div> -->
    <!-- <div class="uk-width-auto@s uk-text-center">
        <button class="uk-button uk-button-default">View All Products</button>
      </div> -->
  </div>
</div>