a{
    color: #1A72E8;
}
.p-16{
    padding: 16px;
}
.fname{
    color: #161C2D;
    font-size:18px;
}
.expertdetial{
    font-size:15px;
    color: rgba(22, 28, 45, 0.68);
}
.category{
    font-size: 15px;
}
.askques{
    position: relative;
}
.askques button{
    display: block;
    bottom: 30px;
    left: 0px;
    position: absolute;
}
.category span{
    font-size: 15px;
}
.cursor{
    cursor: pointer;
}
.uk-card-default {
    background: #fff;
    color: #666;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08); */
    border: 1px solid #D7E0EF;
    border-radius: 4px;
}
.reply-card{
    text-align: center;
    padding-top: 43%;
    background-color: #ECF4FF;
    border-radius: 4px;
    height: 100%;
    .replycnt {
        font-family:"HKGroteskRegular"; 
        font-size: 15px;
        color: rgba(22, 28, 45, 0.68);
        img {
            height: 22px;
            margin-right: 7px;
        }
    }
}

.reply-border{
    padding: 8px 16px;
    border-left: 1px solid #D7E0EF;
}