@import "../../../assets/css/variables.scss";

.footer {
  background-color: $dark-blue-2;
  font-family: $regular-font;
  color: #ffffff;
  h1 {
    font-family: $regular-font;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
    margin: 0 0 12px 0;
  }
  .help-line {
    span {
      margin-right: 8px;
    }
    text-transform: none;
    background-color: $dark-blue-1;
    color: #ffffff;
    border: unset;
    border-radius: 4px;
    padding: 10px 30px;
    &:active,&:hover{
      background-color: #ffffff;
      color: $primary-btn;
    }
  }

  .partners {
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: #fff;
  }

  .uk-icon-button {
    background: #e4eefb;
    border-radius: 2px;
    color: #585f70;
  }

  .font-small {
    font-size: 12px;
    font-family: "HKGroteskRegular";
  }

  .bottom-footer {
    border-top: 1px solid #2d3758;
    padding: 12px;
  }

  @media (min-width: 1200px) {
    .p-l-md-100 {
      padding-left: 100px;
    }
  }
  // .footer-upper {
  //   padding-top: 44px;
  //   .upper-grid {
  //     .logo-tagline {
  //       .logo {
  //         h1 {
  //           margin-bottom: 0;
  //           color: #ffffff;
  //           font-size: 32px;
  //           font-weight: 600;
  //         }
  //       }
  //       .tagline {
  //         color: $default-font-color;
  //         font-size: $font-small;
  //         line-height: 24px;
  //       }
  //     }

  //   }
  // }
  // .footer-lower {
  //   padding-top: 54px;
  //   padding-bottom: 60px;
  //   .column-grid {
  //     .col-link {
  //       h4 {
  //         font-size: 18px;
  //         color: $default-font-color;
  //         font-weight: 900;
  //       }
  //       ul {
  //         padding: 0;
  //         li {
  //           list-style-type: none;
  //           margin-bottom: 16px;
  //           a {
  //             color: #ffffff;
  //             font-size: 18px;
  //             text-decoration: underline $default-font-color;
  //             &:hover,
  //             &focus {
  //               text-decoration: unset;
  //               color: $primary-btn;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  // .uk-nav-default {
  //       & > li > a{
  //         font-size: 18px;
  //         color: $default-font-color;
  //         font-weight: 900;
  //     }
  //     .uk-nav-sub{
  //         a{
  //           color: #ffffff;
  //           font-size: 18px;
  //           text-decoration: underline $default-font-color;
  //           &:hover,
  //           &focus {
  //             text-decoration: unset;
  //             color: $primary-btn;
  //           }
  //       }
  //     }
  // }
}

.uk-nav-parent-icon > .uk-parent > a::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='chevron-right'%3E%3Cpolyline fill='none' stroke='%23FFF' stroke-width='1.03' points='7 4 13 10 7 16'%3E%3C/polyline%3E%3C/svg%3E");
}

.uk-nav-parent-icon > .uk-parent.uk-open > a::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='chevron-down'%3E%3Cpolyline fill='none' stroke='%23FFF' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
}

.uk-nav-sub {
  background-color: #2d3756;
}

.p-t-20 {
  padding-top: 20px;
}

.location {
  color: $default-font-color;
  font-size: 18px;
  padding: 10px;
}

.info-block {
  background-color: #e4eefb;
  @media (min-width: 960px) {
    .divider {
      border-right: 1px solid #161c2dad;
    }
  }
}
