<footer>
  <div class="footer">

    <div class="uk-container p-t-40">

      <div class="uk-grid-medium uk-grid-match" uk-grid>

        <div class="help-line">
          <div>
            <span uk-icon="receiver" class="m-r-5"></span><span class="font-regular">Spring Connect Center</span>
            <b>14567</b>

            <p class="m-b-0">
              This toll free number is for any advice, assitance and services (currently available in Hydrabad only)
            </p>
          </div>
          <hr style="opacity: 0.08;">
          <div class="uk-grid-small uk-grid-match uk-child-width-1-2 m-t-20" uk-grid>
            <div>
              <div class="font-regular-15  light-title m-b-10">Products partner:
                <img style="height: 24px; width: 32px;" src="assets/images/footer/Senority.png" alt="Seniority logo" />
              </div>
            </div>
            <div>
              <div class="font-regular-15  light-title m-b-10">Services Partner:
                <img style="height: 24px; width: 32px;" src="assets/images/footer/jd.png" alt="justdail logo" />
              </div>
            </div>
          </div>
        </div>
        <hr style="border: 1px solid rgb(255, 255, 255);transform: rotate(90deg);width: 176px;margin-top: 104px;margin-left: -116px;opacity: 0.08;">
        <div class="uk-width-1-3@l logo">
          <img style="height: 160px;margin-left: -16px;margin-top: 14px;" src="assets/images/footer/Footer_logo.png" />
          <div class="font-regular-15  light-title m-b-10" style="margin-top: -35px;
            margin-left: 55px;
            color: #FFFFFF;">
            <div>Supporting by</div>
            <img class="tata" src="assets/images/footer/tata_logo.png" alt="tata trust logo" />
          </div>
        </div>

        <div class="uk-width-expand@s features">
          <div class="feature">
            <a class="font-regular-15 " routerLink="/about">About Us</a>
          </div>
          <div class="feature">
            <a class="font-regular-15 " routerLink="/community">Engage with Us</a>
          </div>
          <div class="feature">
            <a class="font-regular-15 " routerLink="/ask-question">Ask our Expert</a>
          </div>
          <div class="feature">
            <a class="font-regular-15 " routerLink="/products">Products</a>
          </div>
          <div class="feature">
            <a class="font-regular-15 " routerLink="/services">Services</a>
          </div>

          <div class="uk-grid-small ">
            <div class="uk-width-expand@s">
              <div uk-grid>
                <div>
                  <a class="font-regular-15 ">Follow Us On</a>
                </div>
                <div class="uk-width-expand">
                  <a aria-label="instagram link" href="https://www.instagram.com/social_alpha_in" target="_blank"
                    class="uk-icon-button m-r-5" uk-icon="instagram"></a>
                  <a aria-label="linkedin link" href="https://www.linkedin.com/company/social-alpha" target="_blank"
                    class="uk-icon-button m-r-5" uk-icon="linkedin"></a>
                  <a aria-label="twitter link" href="https://twitter.com/socialalphain" target="_blank"
                    class="uk-icon-button m-r-5" uk-icon="twitter"></a>
                  <a aria-label="facebook link" href="https://www.facebook.com/SocialAlphaIN" target="_blank"
                    class="uk-icon-button m-r-5" uk-icon="facebook"></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="bottom-footer uk-text-center">
        <div class="font-small"><a routerLink="/user-terms">Terms and Conditions</a> | <a
            routerLink="/user-policy">Acceptable User Policy</a> </div>
      </div>

    </div>
  </div>
</footer>