<div class="footer">

  <div class="uk-container p-t-40">

    <div class="uk-grid-large uk-grid-match" uk-grid>

      <div class="uk-width-2-5@m">
        <h2>ABCD Logo </h2>
        <div class="font-regular">
          An ElderSpring Initiative by Tata Trusts – Supported by Tata Trusts
        </div>
        <div class="uk-flex uk-flex-bottom m-t-10">
          <button class="uk-button uk-button-default help-line w-100" role="button">
            <span uk-icon="receiver"></span>Elder Spring Helpline <b>14567</b>
          </button>
        </div>
      </div>

      <div class="uk-width-auto@m">
        <div class="font-regular font-weight-600">
          Our Partners
        </div>
        <div>
          <div class="m-t-20">
            <div class="partners p-10">
              <img src="assets/images/tata_trust_logo.png" alt="No Image Found" />
            </div>
          </div>

          <div class="uk-grid-small uk-grid-match uk-child-width-1-2 m-t-20" uk-grid>
            <div>
              <div class="partners">
                <img style="height: 18px;" src="assets/images/jdlogosvg.svg" alt="No Image Found" />

              </div>
            </div>
            <div>
              <div class="partners">
                <img src="assets/images/Seniority_logo.svg" alt="No Image Found" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-expand@m">
        <div class="uk-child-width-1-2 uk-child-width-1-1@m uk-grid-small" uk-grid>
          <div class="uk-flex uk-flex-between uk-flex-column">
            <div class="font-regular font-weight-600">
              Quick Links
            </div>
            <div>
              <div class="uk-child-width-1-2@m uk-grid-small" uk-grid>
                <div><a routerLink="/about">About Us</a></div>
              </div>
            </div>
          </div>
          <div class="uk-flex uk-flex-between uk-flex-column">
            <div class="font-regular font-weight-600">
              Follow Us On
            </div>
            <div>
              <a href="https://www.instagram.com/social_alpha_in" target="_blank"
                class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>
              <a href="https://www.linkedin.com/company/social-alpha" target="_blank"
                class="uk-icon-button uk-margin-small-right" uk-icon="linkedin"></a>
              <a href="https://twitter.com/socialalphain" target="_blank" class="uk-icon-button uk-margin-small-right"
                uk-icon="twitter"></a>
              <a href="https://www.facebook.com/SocialAlphaIN" target="_blank"
                class="uk-icon-button uk-margin-small-right" uk-icon="facebook"></a>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="bottom-footer m-t-50 uk-text-center">
      <div class="font-small"><a routerLink="/user-terms">Terms and Conditions</a> | <a routerLink="/user-policy">Acceptable Use Policy</a> </div>
    </div>

  </div>