@import "../../../assets/css/variables.scss";

.footer {
  background-color: $dark-blue-2;
  font-family: $regular-font;
  color: #ffffff;
  h2 {
    font-family: $regular-font;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
    margin: 0 0 12px 0;
  }
  .help-line {
    width: 424px;
    font-size: 18px;
    span {
      margin-right: 3px;
    }
    
    font-size: 15px;
    text-transform: none;
    color: #ffffff;
    border: unset;
    border-radius: 4px;
    padding: 32px;
    p{
      color: #929aa6;
    }
    // &:active,&:hover{
    //   background-color: #ffffff;
    //   color: $primary-btn;
    // }
  }

  .JoyofAge{
    margin-right: -160px;
    .response{
      margin-right: -64px;
      margin-top: 31px
    }
  }

  .ourpartners{
    margin-right: 47px;
    
    .partners-logo{
      margin-left: 0px;  
    }
  }
  
    
    .links{
      margin-left: 40px;
    }
  
  
  
  .partners {
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .partners-tata{
    background: #ec1b21;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: #fff;
  }

  .uk-icon-button {
    background: #FFFFFF;
    color: #585f70;
    opacity: 0.7;
    border-radius: 2px;
    width: 24px;
    height: 24px;
  }

  .font-small {
    font-size: 12px;
    font-family: "HKGroteskRegular";
  }

  .bottom-footer {
    border-top: 1px solid #2d3758;
    padding: 12px;
  }

  @media (min-width: 1200px) {
    .p-l-md-100 {
      padding-left: 100px;
    }
  }
  

  .light-title{
    color: #929aa6;
  }

.features{
  margin-left: -55px;
  margin-top: 12px;
  margin-right: -116px;
  .feature{
    font-family: HK Grotesk;
    font-style: normal;
    font-size: 15px;
    line-height: 0px;
    display: flex;
    color: #FFFFFF;
  }
}
.tata{
  background: #ED1B24;
  border-radius: 2px;
  width: 152px;
  margin-top: -22px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
  font-family: -webkit-body;
  line-height: 165%;
}
.logo{
  width: 470px;
    .img{
      height: 244px;
      margin-left: -100px;
      margin-top: -20px;
    }
    .background{
      background: #2A415E;
      opacity: 0.2;
      border: 1px solid #2A415E;
      border-radius: 4px;
      margin-left: -100px;
      margin-right: 80px;
      margin-top: -254px;
      margin-bottom: 40px;
    }
}
  
}

.uk-nav-parent-icon > .uk-parent > a::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='chevron-right'%3E%3Cpolyline fill='none' stroke='%23FFF' stroke-width='1.03' points='7 4 13 10 7 16'%3E%3C/polyline%3E%3C/svg%3E");
}

.uk-nav-parent-icon > .uk-parent.uk-open > a::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='chevron-down'%3E%3Cpolyline fill='none' stroke='%23FFF' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
}

.uk-nav-sub {
  background-color: #2d3756;
}

.p-t-20 {
  padding-top: 20px;
}

.location {
  color: $default-font-color;
  font-size: 18px;
  padding: 10px;
}

.info-block {
  background-color: #e4eefb;
  @media (min-width: 960px) {
    .divider {
      border-right: 1px solid #161c2dad;
    }
  }
}

@media(min-width:414px){
  .footer{
    .JoyofAge{
      margin-top: 9px;
      margin-bottom: -16px;
      .response{
        margin-top: 10px;
        margin-bottom: 40px;
      }
    }
   
    .ourpartners{
      margin-right: 0px;
      .partners-logo
      {
        margin-right: 0px;
        margin-top: 16px;
        margin-left: 0px;
        width: 286px;
      }
    }
      
      .links{
        margin-left: 0px;
        
      }
      .socialicons{
        width: 184px;
      }
  }
}
