@import "../../../assets/css/variables.scss";

.footer {
  background-color: $dark-blue-2;
  font-family: $regular-font;
  color: #ffffff;
  .uk-container{
    padding-top: 40px;
  }
  h2 {
    font-family: $regular-font;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
    margin: 0 0 12px 0;
  }
  .help-line {
    .font-regular-19{
      font-family: $regular-font;
      font-size: 19px;
    }

    p {
      color: #929aa6;
    }
   
  }

  .JoyofAge {
    background: #232e48;
    border-radius: 4px;
  }

  .ourpartners {
    margin-right: 47px;

    .partners-logo {
      margin-left: 0px;
    }
  }
  .logo{
    img{
      height: 130px;
    }
  }

  .links {
    margin-left: 40px;
  }

  .partners {
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .partners-tata {
    background: #ec1b21;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: #fff;
  }

  .uk-icon-button {
    border-radius: 2px;
    background: #fff;
    color: #585f70;
    opacity: 0.7;
    width: 25px;
    height: 25px;
    &:focus{
      background-color: #ebebeb;
      color: #666;
      outline: -webkit-focus-ring-color auto 1px;
    }
  }

  .font-small {
    font-size: 12px;
    font-family: "HKGroteskRegular";
  }

  .bottom-footer {
    border-top: 1px solid #2d3758;
    padding: 12px;
  }

  @media (min-width: 1200px) {
    .p-l-md-100 {
      padding-left: 100px;
    }
  }
  

  .light-title {
    color: #929aa6;
  }
}

.uk-nav-parent-icon > .uk-parent > a::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='chevron-right'%3E%3Cpolyline fill='none' stroke='%23FFF' stroke-width='1.03' points='7 4 13 10 7 16'%3E%3C/polyline%3E%3C/svg%3E");
}

.uk-nav-parent-icon > .uk-parent.uk-open > a::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='chevron-down'%3E%3Cpolyline fill='none' stroke='%23FFF' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
}

.uk-nav-sub {
  background-color: #2d3756;
}

.p-t-20 {
  padding-top: 20px;
}
.bottom-footer{
  margin-top: 50px;
}

.location {
  color: $default-font-color;
  font-size: 18px;
  padding: 10px;
}

.info-block {
  background-color: #e4eefb;
  @media (min-width: 960px) {
    .divider {
      border-right: 1px solid #161c2dad;
    }
  }
}

@media (min-width: 414px) {
  .footer {
    .JoyofAge {
      margin-top: 9px;
      margin-bottom: -16px;
      .response {
        margin-top: 10px;
        margin-bottom: 40px;
      }
    }
    // .JoyofAgeMbl{
    //   visibility: collapse;
    //   // margin-left: -87px
    // }

    .ourpartners {
      margin-right: 0px;
      .partners-logo {
        margin-right: 0px;
        margin-top: 16px;
        margin-left: 0px;
        width: 286px;
      }
    }

    .links {
      margin-left: 0px;
    }
    .socialicons {
      width: 184px;
    }
  }
}
.divider-r-light {
  padding-right: 20px;
  border-right: 1px solid #2d3758;
}

// @media (max-width: 640px){
//   .p-t-40 {
//     padding-top: 16px !important;
//   }
// .footer{
//   .help-line{
//     p{
//       margin-top: 10px;
//       margin-left: 10px;
//     }
//     .font-regular-19 {
//       font-family: "HKGroteskRegular";
//       font-size: 16px;
//     }
//   } 
//   .JoyofAge{
//       visibility: collapse; 
//       margin-top: -100px;
//   }

//   .uk-grid-medium .uk-grid-margin{
//     margin-top: -70px;
//     margin-bottom: -40px;
//   }
//   .feature a{
//     float: right;
//   }
//   .feature{
//     float: left;
//   }
//     hr{
//       margin-top: 8px;
//       margin-bottom: 8px;
//     }
   
  
// }
// .divider-r-light {
//   padding-right: 0px;
//   border-right: 0px solid #2d3758;
// } 
// }
@media (max-width: 640px){
  .footer{
    font-size: 14px;
    margin-top: 10px;
    .uk-container{
      margin-top: 0px;
      padding-top: 20px;
    }
    .help-line{
      .font-regular-19{
        font-size: 16px;
      }
      * + p, * + ul, * + ol, * + dl, * + pre, * + address, * + fieldset, * + figure {
        margin-top: 20px;
    }
    p{
      margin-top: 5px;
      margin-left: 20px;
    }
    }
    hr{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .font-regular-15{
      font-size: 14px;
    }
    .divider-r-light{
      border-right: 0px solid #2d3758;
  }
  .logo{
    
    margin-top: 20px;
    width: 180px;
    height: 102px;
    margin-left: 155px;
    .img{
      height: 150px;
    }
  }
  .follow{
    margin-top: 10px;
  }
  .modules{
    margin-top: -102px;
  }
  .bottom-footer{
    margin-top: 0px;
  }
  .link{
    margin-bottom: 15px;
  }
.font-small{
  margin-top: -5px;
}
.uk-icon-button{
  margin-top: 10px;
}
  }
}