<footer>
  <div class="footer">

    <div class="uk-container p-t-40">

      <div class="uk-grid-medium uk-grid-match" uk-grid>

        <div class="uk-width-1-3@m divider-r-light">


          <div class="help-line">
            <span uk-icon="receiver" class="m-r-5"></span><span class="font-regular-19">Elder Spring Response System -
              <b>14567</b>
            </span>

            <p class="m-b-0">
              A toll free number for advice, assistance and services for elderly (currently available for residents in
              Telangana only)
            </p>
          </div>
          <hr style="border-top: 1px solid #2d3758;">
          <div uk-grid class="uk-grid-small uk-grid-match uk-child-width-1-2">
            <div class="uk-flex uk-flex-bottom">
              <div class="font-regular-15 light-title">Products Partner: <img src="assets/images/footer/Senority.png"
                  alt="Seniority logo" style="height: 24px; width: 32px;">
              </div>
            </div>
            <div class="uk-flex uk-flex-bottom uk-text-right">
              <div class="font-regular-15 light-title">Services Partner: <img src="assets/images/footer/jd.png"
                  alt="justdail logo" style="height: 24px; width: 32px;"></div>
            </div>
          </div>

          <!-- <img style="width: 336px;height: 104px;" src="assets/images/footer/joy_of_age_logo.png" />


          <div class="uk-grid-small m-t-20" uk-grid>
            <div class="uk-width-1-4@s">
              <a class="font-regular-15 font-weight-600" routerLink="/about">About Us</a>
            </div>

            <div class="uk-width-expand@s">
              <div uk-grid>
                <div>
                  <a class="font-regular-15 font-weight-600">Follow Us On</a>
                </div>
                <div class="uk-width-expand uk-flex uk-flex-right">
                  <a aria-label="instagram link" href="https://www.instagram.com/social_alpha_in" target="_blank"
                    class="uk-icon-button m-r-5" uk-icon="instagram"></a>
                  <a aria-label="linkedin link" href="https://www.linkedin.com/company/social-alpha" target="_blank"
                    class="uk-icon-button m-r-5" uk-icon="linkedin"></a>
                  <a aria-label="twitter link" href="https://twitter.com/socialalphain" target="_blank"
                    class="uk-icon-button m-r-5" uk-icon="twitter"></a>
                  <a aria-label="facebook link" href="https://www.facebook.com/SocialAlphaIN" target="_blank"
                    class="uk-icon-button m-r-5" uk-icon="facebook"></a>
                </div>
              </div>

            </div>
          </div> -->

          <!-- <h2>Joy of Age</h2>
          <div class="font-regular">
            Supported by Tata Trusts
          </div>
          <div class="uk-flex uk-flex-bottom m-t-10">
            <p>Elder Spring Response System number :<b>14567</b></p>
          </div> -->
          <!-- Elder Spring Response System number : 14567 -->
        </div>
        <div class="uk-width-expand@m">

          <div class="h-full uk-flex uk-flex-middle uk-flex-center JoyofAge">
            <img alt="Joy of age logo" src="assets/images/JOA Logo WO Tagline Light RGB.svg" style="height: 192px;" />
            <!-- <div>
              <span uk-icon="receiver" class="m-r-5"></span><span class="font-regular">Spring Connect Center</span>
              <b>14567</b>

              <p class="m-b-0">
                This toll free number is for any advice, assitance and services (currently available in Hydrabad only)
              </p>
            </div> -->
          </div>
        </div>

        <div class="uk-width-1-4@m uk-flex-wrap-between">

          <div class="feature">
            <a class="font-regular-15" routerLink="/about">About Us</a>
          </div>
          <div class="feature">
            <a class="font-regular-15" routerLink="/community">Engage with Us</a>
          </div>
          <div class="feature">
            <a class="font-regular-15" routerLink="/ask-question">Ask our Experts</a>
          </div>
          <div class="feature">
            <a class="font-regular-15" routerLink="/products">Products</a>
          </div>
          <div class="feature">
            <a class="font-regular-15" routerLink="/services">Services</a>
          </div>
          <!-- 
          <div>
            <div class="font-regular-15 font-weight-600 light-title m-b-10">Supporting Partner:</div>
            <div class="partners-tata p-10">
              <img style="width: 150px;" src="assets/images/footer/tata_logo.png" alt="tata trust logo" />
            </div>
          </div>

          <div class="uk-grid-small uk-grid-match uk-child-width-1-2 m-t-20" uk-grid>
            <div>
              <div class="font-regular-15 font-weight-600 light-title m-b-10">Services By:</div>
              <div class="partners">
                <img style="height: 40px;" src="assets/images/footer/jd_logo.png" alt="justdail logo" />

              </div>
            </div>
            <div>
              <div class="font-regular-15 font-weight-600 light-title m-b-10">Products By:</div>
              <div class="partners">
                <img src="assets/images/footer/product_logo.png" alt="Seniority logo" />
              </div>
            </div>
          </div> -->
          <!-- <div class="feature">
            <a aria-label="instagram link" href="https://www.instagram.com/joyofage_org" target="_blank"
              class="uk-icon-button m-r-5" uk-icon="instagram"></a>
            <a aria-label="linkedin link" href="https://www.linkedin.com/in/joyofage-elder-care-website-0610991a7"
              target="_blank" class="uk-icon-button m-r-5" uk-icon="linkedin"></a>
            <a aria-label="twitter link" href="https://twitter.com/JoyOfAge1" target="_blank"
              class="uk-icon-button m-r-5" uk-icon="twitter"></a>
            <a aria-label="facebook link" href="https://www.facebook.com/JoyofAge.org" target="_blank"
              class="uk-icon-button m-r-5" uk-icon="facebook"></a>
          </div> -->

          <div uk-grid>
            <div class="font-regular-15 light-title">
              Follow Us
            </div>
            <div class="uk-width-expand">
              <a aria-label="instagram link" href="https://www.instagram.com/joyofage_org" target="_blank"
                class="uk-icon-button m-r-5" uk-icon="instagram"></a>
              <a aria-label="linkedin link" href="https://www.linkedin.com/in/joyofage-elder-care-website-0610991a7"
                target="_blank" class="uk-icon-button m-r-5" uk-icon="linkedin"></a>
              <a aria-label="twitter link" href="https://twitter.com/JoyOfAge1" target="_blank"
                class="uk-icon-button m-r-5" uk-icon="twitter"></a>
              <a aria-label="facebook link" href="https://www.facebook.com/JoyofAge.org" target="_blank"
                class="uk-icon-button m-r-5" uk-icon="facebook"></a>
            </div>
          </div>

        </div>

      </div>

      <div class="bottom-footer m-t-50 uk-text-center">
        <div class="font-small"><a routerLink="/user-terms">Terms and Conditions</a> | <a
            routerLink="/user-policy">Privacy Policy</a> </div>
      </div>

    </div>
  </div>
</footer>