<div>
  <div class="top-banner" id="serviceBanner">
    <div uk-grid>
      <div class="uk-width-expand uk-flex uk-flex-middle">
        <p class="banner-text font-regular">Joy of Age helps you find highly rated services that you may need in your
          neighbourhood. Member reviews, ratings and comments help you make the right choice. Currently available only
          for Hyderabad area.</p>
      </div>
      <div class="uk-flex uk-flex-bottom uk-flex-center uk-width-auto@s">
        <img class="banner-img" src="/assets/images/landing-img/service-banner-updated.png" />
      </div>
    </div>
  </div>

  <div [ngClass]="{'blue-bg': ecpService.showBg}">
    <!-- Search Container starts -->
    <app-search-container></app-search-container>
    <!-- Search Container ends -->


    <!-- <div class="home-banner landing-bg m-b-30"  id="serviceList">
  <div class="uk-child-width-1-2@s uk-padding" uk-grid>
    <div class="uk-text-left@s">
      <h1>At your Service!</h1>
      <p class="font-regular">
        Browse through our list of aggregated database of resources from trusted sources for all the assistance you
        need. We constantly update all the information and don’t worry, we’ve done the research so you don’t have to.
        Like something or do not? Let us know your reviews here too!
      </p>
    </div>
  </div>
</div> -->




    <!-- Breadcrumb  -->
    <!-- <div id="serviceList"> -->
    <!-- <div class="breadcrumbs">
    <app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>
  </div>
  <h1 class="uk-h2">
    All Services
  </h1>
  <hr class="m-b-30" /> -->
    <div *ngIf="ecpService.showBg" class="result-bar">
      <p class="font-regular-15 uk-margin-remove">Showing <b>{{totalRecords}}</b> results for
        <b>"{{homeService.homeSearchtxt}}"</b></p>
    </div>


    <div *ngIf="ecpService.showBg" class="search-tab">
      <ul uk-tab>
        <li><a href="#" class="font-regular">Services ({{ totalRecords }})</a></li>
      </ul>
    </div>

    <!-- Category Slider END-->
    <app-services-result (totalServices)="getTotalCount($event)"></app-services-result>

  </div>
  <!-- <div> -->
  <!-- </div> -->