.uk-breadcrumb 
{
    font-family:"HKGroteskRegular";
    & > :nth-child(n+2):not(.uk-first-column)::before{
        content: ">";
        margin: 0 5px;
        color: #000;
    } 
    
    & > * > *{
        
        font-size: 18px;
        color: #1A73E8;
    }
}

h3{
    margin: 0px;
    font-family:"HKGroteskRegular";
    font-size: 32px;
    color: #151c2c;
}

.bg-card-peach{
    background-color:  #FFCAA4;
    color: #C83F3F;
}

.bg-card-yellow{
    background-color:  #FFE5A4;
    color: #E8B24A;
}

.bg-card-green{
    background-color:  #8DD38B;
    color: #2F7F4A;
}

.service-type{
    a{
        color: #1A73E8
    }
    padding: 20px 40px;
}

.category-box{
    border: 1px solid #D7E0EF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;    
    .uk-badge{
        background: #D9DADC;
        color: #000;
        border-radius:5px;
    }
}

.uk-checkbox{
    height: 30px;
    width: 30px;
}

.whatapp-icon{
    background:#009487;
    color:#fff;
}

.fb-icon{
    background:#2a415e;
    color:#fff;
}

.email-icon{
    background:#1772eb;
    color:#fff;

}

.uk-button-group{
    button:first-child{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    button:last-child{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .uk-button{
        &.uk-active{
            background-color: #1A73E8;
            color: #fff;
        }
    }
}

@media (max-width: 640px){
    .text-center-xs{
    text-align: center;
    }
}
.regular-link{
    a{
        color: #000000;
    }
}
.cat-active{
    font-weight: 600;
    color: #1A73E8;
}
.button-slidenav{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    margin: 0 5px;
    background-color: #ffffff;
    color: #777;
    font-size: 18px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    &:hover{
        color: #000; 
    }
    &:focus{
        color: #000; 
    }
}

.uk-list{
    background-color: #ffffff;
    a{
      color: #000;
    }
    & > li{
      &:hover{
        background-color: #1a73e8;
        font-weight: 400;
        color: #fff;
      }
    }
    }
    
    .uk-z-index{
      z-index: 10000;
    }
    .search-list {
      box-shadow: 2px 5px 17px 4px rgba(193, 191, 191, 0.5);
     }
// .uk-subnav > *{
//     border: 1px solid #D7E0EF;
//     box-sizing: border-box;
//     border-radius: 4px;
// }