<div class="uk-container">
    <div id="modal-merged-acc" uk-modal="bg-close:false;container:false;">
      <div class="uk-modal-dialog uk-modal-body">
        <h3 class="uk-modal-title">Another registration found!</h3>
        <div class="uk-margin">
          <div>
            You've already registered with a different mobile number.
          </div>
        </div>
        <p class="uk-text-right">
          <button class="m-l-10 uk-button uk-button-default" type="button"
            (click)="close()">Close</button>
        </p>
      </div>
    </div>
  </div>