<div class="uk-container search-container">
  <div class="header-label">
    <h3>Search for Products, Services, Events, and Discussions</h3>
  </div>
  <div class="search-form">
    <div class="search-field uk-grid-stack uk-grid-small" uk-grid>
      <div class="uk-margin uk-width-1-1 uk-width-expand@s">
        <form class="uk-search uk-search-default">
          <span class="uk-search-icon-flip" uk-search-icon></span>
          <input
            class="uk-search-input"
            type="search"
            placeholder="Search..."
          />
        </form>
      </div>

      <div class="uk-width-1-1 uk-width-auto@s uk-margin-bottom">
        <button class="uk-button uk-button-default search-btn">Search</button>
      </div>
    </div>
  </div>
  <div class="uk-container popular-search-list"></div>
  <div class="quote-line">
    <p>All Products and Services are 100% verified. Buy with Trust!</p>
  </div>
</div>
