<div class="home-banner ">
  <div uk-grid class="m-b-30">
    <div class="uk-width-expand uk-flex uk-flex-middle">
      <p class="banner-text font-regular">We are your exclusive trusted online community with answers to all your needs.
        Join us to interact, pursue
        interests, share articles, talk to experts, discover products and know about events happening around you.</p>
    </div>
    <div class="uk-flex uk-flex-bottom uk-flex-center uk-width-auto@s">
      <img class="banner-img" src="/assets/images/landing-img/home.png">
    </div>
  </div>
</div>

<!-- Search Container starts -->
<app-search-container></app-search-container>
<!-- Search Container ends -->

<div class="m-b-30">

  <div class="uk-child-width-1-4@m uk-child-width-1-2" uk-grid>
    <div class="uk-text-center options">
      <div class="options-card">
        <img src="assets/images/community.png" alt="No Image Found" />
      </div>
      <div tabindex=-1 routerLink="/community" class="quote-line cursor-pointer">
        <a routerLink="/community">Engage with us</a>
        <span class="uk-float-right" uk-icon="chevron-right"></span>
      </div>
    </div>

    <div class="uk-text-center options">
      <div class="options-card">
        <img src="assets/images/experts.png" alt="No Image Found" />
      </div>
      <div tabindex=-1 routerLink="/ask-question" class="quote-line cursor-pointer">
        <a routerLink="/ask-question">Ask our Experts</a>
        <span class="uk-float-right" uk-icon="chevron-right"></span>
      </div>
    </div>

    <div class="uk-text-center options">
      <div class="options-card">
        <img src="assets/images/products.png" alt="No Image Found" />
      </div>
      <div tabindex=-1 routerLink="/products" class="quote-line cursor-pointer">
        <a routerLink="/products">Products for you</a>
        <span class="uk-float-right" uk-icon="chevron-right"></span>
      </div>
    </div>

    <div class="uk-text-center options">
      <div class="options-card">
        <img src="assets/images/services.png" alt="No Image Found" />
      </div>
      <div tabindex=-1 routerLink="/services" class="quote-line cursor-pointer">
        <a routerLink="/services">Services for you</a>
        <span class="uk-float-right" uk-icon="chevron-right"></span>
      </div>
    </div>
  </div>
</div>