<!-- <div class="uk-container banner">
  <div class="logo">
    <h3>ABCD</h3>
  </div>
  <div class="uk-child-width-expand@s uk-child-width-1-1" uk-grid>
    <div class="para-info uk-text-center uk-text-left@s">
      <p>
        An unique trusted community that seeks elder related contributions through online discussions & articles, enables confidential access to experts and easily find relavent events, products & services for elders.
      </p>
    </div>
    <div class="couple-img uk-width-1-2@s uk-width-1-1">
      <img
        data-src="assets/images/indian_couple-_slide1-300x206.png"
        alt=""
        uk-img
        class="uk-align-right@s uk-align-center"
      />
    </div>
  </div>
</div> -->

<!-- Search Container starts -->
<app-search-container></app-search-container>
<!-- Search Container ends -->


<div class="home-banner landing-bg">
  <!-- <div class="uk-child-width-1-2@s uk-padding" uk-grid>
    
  </div> -->
  <div class="uk-text-left@s uk-padding uk-width-1-2@s" role="banner">
    <h1 tabindex=0 id="homeHeader">Joy of Age</h1>
    <p class="font-regular mb-0">
      An unique trusted community that shares articles & discussions,
      has access to real world experts, helps discover events, products & services
      for elders.
    </p>
  </div>
</div>

<div class="uk-child-width-1-4@s uk-child-width-1-2 m-b-30" uk-grid>
  <div class="uk-text-center">
    <div class="options-card">
      <img src="assets/images/community.png" alt="No Image Found" />
    </div>
    <div tabindex=-1 routerLink="/community" class="quote-line cursor-pointer">
      <a routerLink="/community">Engage with Us</a>
      <span class="uk-float-right" uk-icon="chevron-right"></span>
    </div>
  </div>

  <div class="uk-text-center">
    <div class="options-card">
      <img src="assets/images/experts.png" alt="No Image Found" />
    </div>
    <div tabindex=-1 routerLink="/ask-question" class="quote-line cursor-pointer">
      <a routerLink="/ask-question">Ask our Experts</a>
      <span class="uk-float-right" uk-icon="chevron-right"></span>
    </div>
  </div>

  <div class="uk-text-center">
    <div class="options-card">
      <img src="assets/images/products.png" alt="No Image Found" />
    </div>
    <div tabindex=-1 routerLink="/products" class="quote-line cursor-pointer">
      <a routerLink="/products">Products for You</a>
      <span class="uk-float-right" uk-icon="chevron-right"></span>
    </div>
  </div>

  <div class="uk-text-center">
    <div class="options-card">
      <img src="assets/images/services.png" alt="No Image Found" />
    </div>
    <div tabindex=-1 routerLink="/services" class="quote-line cursor-pointer">
      <a routerLink="/services">Services for You</a>
      <span class="uk-float-right" uk-icon="chevron-right"></span>
    </div>
  </div>
</div>


  <app-featured-discussions></app-featured-discussions>

  <app-featured-events></app-featured-events>
  
  <app-featured-ask-experts></app-featured-ask-experts>
  
  <app-featured-products></app-featured-products>
  
  <app-featured-services></app-featured-services>

