<h1 class="sr-only">Home</h1>
<div class="top-banner">
  <div uk-grid>
    <div class="uk-width-expand uk-flex uk-flex-middle">
      <p class="banner-text font-regular">Joy of Age is a trusted online community for elders. Join this community to
        engage with people like you, share articles, discover events & services near you, seek expert advice, find
        products of interest. <br>
        <span style="font-size: 16px;"> *For sharing articles on 'Engage With Us' or for 'Ask Our Experts', please register with your mobile or email id. (Join Us button on top right-hand corner) </span>
      </p> 
    </div>
    <div class="uk-flex uk-flex-middle uk-flex-center uk-width-auto@s">
      <img alt="" class="banner-img" src="/assets/images/landing-img/home.png">
    </div>
  </div>
</div>

<!-- Search Container starts -->
<app-search-container></app-search-container>
<!-- Search Container ends -->

<div class="m-b-30">

  <div class="uk-child-width-1-4@m uk-child-width-1-2" uk-grid>
    <div class="uk-text-center options">
      <div class="options-card">
        <img src="assets/images/community.png" alt="" />
      </div>
      <div tabindex=-1 routerLink="/community" class="quote-line cursor-pointer">
        <a routerLink="/community">Engage with us</a>
        <span class="uk-float-right" uk-icon="chevron-right"></span>
      </div>
    </div>

    <div class="uk-text-center options">
      <div class="options-card">
        <img src="assets/images/experts.png" alt="" />
      </div>
      <div tabindex=-1 routerLink="/ask-question" class="quote-line cursor-pointer">
        <a routerLink="/ask-question">Ask our Experts</a>
        <span class="uk-float-right" uk-icon="chevron-right"></span>
      </div>
    </div>

    <div class="uk-text-center options">
      <div class="options-card">
        <img src="assets/images/products.png" alt="" />
      </div>
      <div tabindex=-1 routerLink="/products" class="quote-line cursor-pointer">
        <a routerLink="/products">Products for you</a>
        <span class="uk-float-right" uk-icon="chevron-right"></span>
      </div>
    </div>

    <div class="uk-text-center options">
      <div class="options-card">
        <img src="assets/images/services.png" alt="" />
      </div>
      <div tabindex=-1 routerLink="/services" class="quote-line cursor-pointer">
        <a routerLink="/services">Services for you</a>
        <span class="uk-float-right" uk-icon="chevron-right"></span>
      </div>
    </div>
  </div>
</div>