<h1 class="sr-only">Home</h1>
<div class="top-banner">
  <div uk-grid>
    <div class="uk-width-expand uk-flex uk-flex-middle">
      <p class="banner-text font-regular">The key objective of Seenage Life is of providing a platform for senior citizens to realize their potential and help them find a way back into the workforce. We believe that age does not limit ability, performance or skill and that seniors (seenagers) have a lot to contribute to society in terms of knowledge, experience, advice, guidance and also as role models. Our goal is to ensure that seenagers continue their professional involvement, have a sense of purpose and achievement while still earning. <br>
        <span class="banner-text2"> *Looking for a job or want to volunteer email us at " jobs@seenage.life" or call us at "+91 7411485820"</span>
      </p> 
    </div>
    <div class="uk-flex uk-flex-middle uk-flex-center uk-width-auto@s">
      <img alt="" class="banner-img" src="/assets/images/landing-img/product-banner-updated.png">
    </div>
  </div>
</div>
