<!-- Search Container starts -->
<app-search-container></app-search-container>
<!-- Search Container ends -->


<div class="home-banner landing-bg">
  <div class="uk-child-width-1-2@s uk-padding" uk-grid>
    <div class="uk-text-left@s">
      <h1>Service You Need</h1>
      <p class="font-regular">
        Find services and service providers for elders near you. Read and share your views about these services and
        service providers.
      </p>
    </div>
  </div>
</div>

<app-featured-services></app-featured-services>