@import "src/assets/css/variables.scss";

.banner {
  background: url("/assets/images/bg-service.png");
  padding-top: 24px;
  border-radius: 8px;
  font-family: $regular-font;
  margin-top: 24px;
  margin-bottom: 48px;
  .logo {
    background-color: #E8D9CC;
    h3 {
      padding: 12px 0 12px 40px;
      font-weight: 600;
      margin: 0;
    }
  }
  .para-info {
    margin: 24px 40px 0;
    padding-bottom: 24px;
    font-size: 18px;
    color: rgba(22, 28, 45, 0.87);
  }
  .couple-img {
    margin-right: 36px;
    margin-top: -70px;
    img {
      height: 100%;
      // width: 100%;
    }
    @media (min-width: 320px) and (max-width: 640px) {
      margin: 0 !important;
    }
  }
}

.service-banner{
  min-height: 224px;
  margin: 24px 0 48px 0;
  border-radius: 8px;
  font-family: $regular-font;
  h1{
    font-family: $regular-font;
    font-size: 32px;
    font-weight: 600;
  }
}

.landing-bg {
  background-image: url("/assets/images/landing-img/mobile/service-bg.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 641px) {
  .landing-bg {
    background-image: url("/assets/images/landing-img/Services-768.png");
  }
}

@media (min-width: 1024px) {
  .landing-bg {
    background-image: url("/assets/images/landing-img/Services-1024.png");
  }
}

@media (min-width: 1440px) {
  .landing-bg {
    background-image: url("/assets/images/landing-img/Services-1440.png");
  }
}

// @media(min-width:640px){
//     .home-banner{
//       margin-top: 16px;
//     }
// }

// Sample Implementation on 05/03/20

