<!-- Search Container starts -->
<app-search-container></app-search-container>
<!-- Search Container ends -->


<div class="uk-background-cover home-banner" data-src="assets/images/landing-img/Services-1024.png"
  data-srcset="assets/images/landing-img/Services-320.png 320w,assets/images/landing-img/Services-768.png 768w,assets/images/landing-img/Services-1024.png 1024w,assets/images/landing-img/Services-1440.png 1440w"
  uk-img>
  <div class="uk-child-width-1-2@s uk-padding" uk-grid>
    <div class="uk-text-center uk-text-left@s">
      <h1>Service You Need</h1>
      <p class="font-regular">
        Find services and service providers for elders near you. Read and share your views about these services and
        service providers.
      </p>
    </div>
  </div>
</div>

<app-featured-services></app-featured-services>
