<div class="uk-container">
  <div class="uk-background-cover service-banner"
    data-srcset="assets/images/landing-img/Services-320.png 320w,assets/images/landing-img/Services-768.png 768w,assets/images/landing-img/Services-1024.png 1024w,assets/images/landing-img/Services-1440.png 1440w"
    uk-img>
    <div class="uk-child-width-1-2@s uk-padding" uk-grid>
      <div class="uk-text-center uk-text-left@s">
        <h1>Service</h1>
        <p class="font-regular">
          An online presence for elders to find reliable products and services.
          And engage in Events and Discussions....
        </p>
      </div>
    </div>
  </div>

</div>

<!-- Search Container starts -->
<app-search-container></app-search-container>
<!-- Search Container ends -->