.button-slidenav {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  margin: 0 5px;
  background-color: #ffffff;
  color: #777;
  font-size: 18px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  &:hover {
    color: #000;
  }
  &:focus {
    color: #000;
  }
}

.slidenav-pervious {
  right: 97% !important;
}

.slidenav-next {
  left: 97% !important;
}



// .uk-button-default{
//     color:#1A73E8;
//     border: 1px solid #1A73E8;
//     border-radius: 4px;
//     height: 48px;
//   }
