<div class="cursor uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>

  <div class="uk-card-media-left uk-width-1-4@m uk-width-1-3@s p-16">
    <img src="{{ expert.basicProfileInfo?.profileImage?.titleImage }}" height="156" alt="">
  </div>

  <div class="uk-card-body uk-width-expand p-16">
    <p class="font-regular"><b class="fname">{{expert.basicProfileInfo.firstName}}</b></p>
    <p class="expertdetial">
      {{expert.workTitle}}<br/>
      {{expert.age ? expert.age + " Years" : "" }}
    </p>
    
    <div class="category">
      In: <span *ngFor="let ex of expert.experties; let idx = index;">
            {{ex.name}}
            {{ (idx == (expert.experties.length -1)) ? "": "," }}
          </span>
    </div>
  </div>

  <div class="uk-width-1-4@m askques">
    <button class="uk-button uk-button-primary" [routerLink]="['/ask-question/add', {category: expert.experties[0].id, answeredBy: expert.userId}]" >Ask an Expert</button>
  </div>
</div>