@import "src/assets/css/variables.scss";
a{
    color: #1A72E8;
}
.p-16{
    padding: 16px;
}
.fname{
    color: #161C2D;
    font-size:18px;
}
.expertdetial{
    font-size:18px;
    color: rgba(22, 28, 45, 0.68);
}
.category{
    font-size: $font-small;
}
.askques{
    position: relative;
}
.askques button{
    display: block;
    bottom: 30px;
    left: 0px;
    position: absolute;
}
.category span{
    font-size: $font-small;
}
.cursor{
    cursor: pointer;
}
.uk-card-default {
    background: #fff;
    color: #666;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08); */
    border: 1px solid #D7E0EF;
    border-radius: 4px;
}