.uk-button-default {
    background-color: #1a73e8;
    border-radius: 4px;
    border: 1px solid #1a73e8;
    font-size: 18px;
    border: none;
    color: #fff;
    text-transform: none;
    padding: 1px 30px;
    &:active,&:hover {
      color:#fff;
      background-color:#1a73e8;
    }
  }