.category-box {
    border: 1px solid #d7e0ef;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
}

h2 {
    font-family: "HKGroteskRegular";
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
    color: rgba(22, 28, 45, 0.68);
}