<div class="ask-detail" *ngIf="question!=undefined">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-3@m">
                <div class="category-box p-0 bg-white" *ngIf="question?.answeredBy!==undefined">
                    <div class="uk-card-media-top">
                        <img class="thumb-100" [imageHandler]
                            [src]="question?.answeredBy?.basicProfileInfo?.profileImage?.thumbnailImage" alt="No Image Found">
                    </div>
                    <div class="body p-10">
                        <p><b>{{question?.answeredBy?.basicProfileInfo.firstName}}</b></p>
                        <p>{{question?.answeredBy?.workTitle}}</p>
                        <p>{{question?.answeredBy?.age}}</p>
                        <p>
                            <span *ngFor="let ex of question?.answeredBy?.experties; let idx = index;">
                                {{ex.name}}
                                {{ (idx == (question?.answeredBy?.experties.length -1)) ? "": "," }}
                            </span>
                        </p>
                    </div>
                </div>
                <div class="category-box info">
                    <div>
                        <a class="uk-margin-small-right">
                            <img src="/assets/images/secure.png" alt="No Image Found" />
                        </a>
                        <a> All conversations are private</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-2-3@m">
                <div class="inner-container bg-white" *ngIf="question!==undefined">
                    <h1 class="heading">{{question.question}}</h1>
                    <hr class="m-b-30" />
                    <h3 class="heading1">
                        Description
                    </h3>
                    <div [innerHTML]="question?.description">
                    </div>
                    <div *ngIf="questionId == 'preview'">
                        <hr/>
                        <button class="uk-button uk-button-default m-r-15" (click)="onCancelPublish()">Go Back & Edit</button>
                        <button class="uk-button uk-button-primary" (click)="onPublish()">{{!!user ? 'Publish' : 'Signin to Post'}}</button>
                    </div>
                </div>
                <div class="comments-head">
                    <div class="uk-grid-collapse" uk-grid>
                        <div class="comments-count uk-width-2-3@s">
                            <h4>
                                Replies 
                            </h4>
                        </div>
                        <div class="comments-add uk-width-1-3@s">
                            <button class="uk-button uk-button-default add-reply"
                            (click)="addComment()"
                            uk-toggle="target: #reply-modal"
                            > Add a Reply </button>
                        </div>
                    </div>
                </div>
                
                <div class="uk-card uk-card-default" *ngFor="let reply of replies">
                    <div class="uk-card-header">

                        <div *ngIf="reply.user.id === question.askedBy.id" class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40"
                                    src="{{askedByProfile?.basicProfileInfo?.profileImage?.thumbnailImage}}" alt="No Image Found">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{reply.user.userName}}</h3>
                            </div>
                            <div class="uk-width-auto">
                                <p class="uk-text-meta">{{ reply.createdAt | timeago }}</p>
                            </div>
                        </div>
                        <div *ngIf="reply.user.id === question.answeredBy.userId" class="uk-grid-small uk-flex-middle"
                            uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40"
                                    src="{{question?.answeredBy?.basicProfileInfo?.profileImage?.thumbnailImage}}" alt="No Image Found">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">
                                    {{question?.answeredBy?.basicProfileInfo?.firstName}}</h3>
                            </div>
                            <div class="uk-width-auto">
                                <p class="uk-text-meta">{{ reply.createdAt | timeago }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="reply_reply" *ngIf="reply.parentText!=''">
                            <div class="reply_reply_inner">
                                <b>{{reply.parentUser}}</b><br />
                                {{reply.parentText}}
                            </div>
                        </div>
                        <div [innerHTML]="reply.reply">
                        </div>
                    </div>
                </div>
                <app-pagination *ngIf="(replies && replies.length > 0)" [totalRecords]="totalRecordsReplies"
                    [currentPage]="replyPage" [perPage]="replyPageSize" (pageChangeCall)="changeReplyPage($event)">
                </app-pagination>
                <app-no-expert-reply *ngIf="replies?.length <= 0"></app-no-expert-reply>
            </div>
        </div>
    </div>

    <div id="reply-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
        <h1 class="font-regular-24 font-weight-600">Add a Reply</h1>
        <hr />
        <!-- Success box START-->
        <div *ngIf="successMessage" class="uk-alert-success" uk-alert>
            <p>{{ successMessage }}</p>
        </div>
        <!-- Success box END-->
        <form [formGroup]="replyForm" (ngSubmit)="addComment()" class="uk-form-stacked reply-form">
            <div class="uk-margin">
            <label class="uk-form-label" for="Description">Description<span class="required">*</span></label>
            <div class="uk-form-controls">
                <textarea formControlName="commentTxt" class="uk-input min-h-200" id="Description"
                placeholder="Enter your comment here"></textarea>
            </div>
            </div>

            <div class="uk-text-right">
                <button class="uk-button uk-button-transparent uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary m-l-5" type="submit">
                    {{!!user ? 'Post' : 'Signin to Comment'}}
                </button>
            </div>
        </form>
        </div>
    </div>
</div>