<div class="discussion-detail" *ngIf="question!=undefined">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <ul class="uk-breadcrumb">
            <li routerLink="/ask-question" class="fa fa-angle-right">Ask Question</li>
            <li [routerLink]="['/ask-question/all',{tab:1}]" class="fa fa-angle-right">Unanswered Question</li>
        </ul>
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-container">
        <h2 class="heading">{{question.question}}</h2>
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-3@m">
                <div class="m-t-40 category-box top">
                    <div class="img-container">
                        <img class="user" src="{{question?.answeredBy?.basicProfileInfo?.profileImage?.thumbnailImage}}">
                    </div>
                    <div class="heading2">
                        {{question?.answeredBy?.basicProfileInfo?.firstName}}
                    </div>
                    <p>
                        {{question?.answeredBy?.workTitle}}
                    </p>
                    <p>
                        {{question?.answeredBy?.age}}
                    </p>
                    <p>
                        {{question?.category?.name}}
                    </p>
                </div>
            </div>
            <div class="uk-width-2-3@m">
                <div *ngIf="question!==undefined && question.description!==undefined && question.description!==null && question.description!==''">
                  <h2 class="heading1">
                    Description
                  </h2>
                  <p>
                      {{question.description}}
                  </p>
                </div>
                <hr/>
                <h2 class="heading1">
                    Replies
                </h2>
                <div class="uk-card uk-card-default comment">
                    <div class="uk-card-body">
                        <div class="reply_reply" style="background-color: #FFF" *ngIf="replyParentText!=''">
                            <div class="reply_reply_inner">
                                <b>{{replyParentUser}}</b><br/>
                                {{replyParentText}}
                            </div>
                        </div>
                        <textarea id="commentarea" name="commentarea" placeholder="Enter your message here" [(ngModel)]="commentTxt"></textarea>
                    </div>
                    <div class="uk-card-footer">
                        <div class="uk-flex uk-flex-right">
                            <button class="btn-primary" (click)="addComment()">{{!!user ? 'Post Reply' : 'Signin to Comment'}}</button>
                        </div>
                    </div>
                </div>
                <div class="uk-card uk-card-default" *ngFor="let reply of replies">
                    <div class="uk-card-header">
                        
                        <div *ngIf="reply.user.id === question.askedBy.id" class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle"
                                    width="40" height="40" src="{{askedByProfile?.basicProfileInfo?.profileImage?.thumbnailImage}}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{reply.user.userName}}</h3>
                            </div>
                            <div class="uk-width-auto">
                                <p class="uk-text-meta">{{ reply.createdAt | timeago }}</p>
                            </div>
                        </div>
                        <div *ngIf="reply.user.id === question.answeredBy.userId" class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle"
                                    width="40" height="40" src="{{question.answeredBy.basicProfileInfo.profileImage.thumbnailImage}}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{question?.answeredBy?.basicProfileInfo?.firstName}}</h3>
                            </div>
                            <div class="uk-width-auto">
                                <p class="uk-text-meta">{{ reply.createdAt | timeago }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                    <div class="reply_reply" *ngIf="reply.parentText!=''">
                        <div class="reply_reply_inner">
                            <b>{{reply.parentUser}}</b><br/>
                            {{reply.parentText}}
                        </div>
                    </div>
                    <div [innerHTML]="reply.reply">
                    </div>
                    </div>
                    <!-- <div class="uk-card-footer">
                        <div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
                            <div class="like-container">
                                <img src="/assets/images/like-outline.svg" (click)="likeReply(reply)"> <span class="like" (click)="likeReply(reply)">{{reply.likeCount}}</span>
                            </div>
                            <div class="reply-container" (click)="setReplyId(reply.id,reply.userName,reply.text)">
                                <img src="/assets/images/reply.svg"> <label class="reply" for="commentarea"> Reply</label>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>