<div class="header" role="banner">
  <div class="uk-container">
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-auto">
        <div class="logo-tagline uk-text-left@s uk-text-center">
          <img alt="Joy of age logo"  routerLink="/" style="width: 100% !important;"
            src="assets/images/Seenage.life.png" />
          <!-- <div class="logo">
            <button class="uk-button uk-button-default" routerLink="/">Joy of Age</button>
          </div>
          <div class="tagline uk-visible@s">
            <span>Supported by Tata Trusts</span>
          </div> -->
        </div>
      </div>
      <div class="uk-visible@s uk-width-expand">
        <div class="uk-flex uk-flex-right" uk-grid>
          <div>
            <div class="sign-in-button">

              <button *ngIf="!auth.isAuthenticate" routerLink="/user/signin" class="uk-button uk-button-default">Join
                Us</button>
              <div class="uk-inline" *ngIf="auth.isAuthenticate">
                <button
                  class="uk-button uk-button-default">{{ auth.user.userName || auth.user.email || auth.user.phoneNumber }}</button>
                <div uk-dropdown="pos: bottom-left">
                  <ul class="uk-nav uk-dropdown-nav">
                    <li><a tabindex=0 (keydown.enter)="navigateUser()" class="uk-padding-remove font-regular"
                        (click)="navigateUser()">
                        <fa-icon icon="user" [style]="{'margin-right':'20px','color':'#1A73E8'}"></fa-icon>My Profile
                      </a>
                    </li>
                    <hr />
                    <li><a tabindex=0 (keydown.enter)="navigateUser()" class="uk-padding-remove font-regular"
                        (click)="navigateEventsRegister()">
                        <fa-icon icon="user" [style]="{'margin-right':'20px','color':'#1A73E8'}"></fa-icon>Register
                        Events
                      </a>
                    </li>
                    <hr />
                    <li><a tabindex=0 (keydown.enter)="logout()" (click)="logout()"
                        class="uk-padding-remove font-regular">
                        <fa-icon icon="sign-out-alt" [style]="{'margin-right':'20px','color':'#1A73E8'}"></fa-icon>
                        Logout
                      </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-hidden@s uk-width-expand uk-flex uk-flex-middle uk-flex-right">
        <div class="nav-menu">
          <a href="#mobile-menu" uk-toggle><span uk-icon="icon: menu; ratio: 1.5"></span></a>
        </div>
      </div>
    </div>
    <div id="mobile-menu" uk-offcanvas="container:true;overlay:true;flip:true">
      <div class="uk-offcanvas-bar mobile-menu">

        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <hr class="m-t-40" />
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a>
          </li>
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/community">Engage with us</a></li>
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/ask-question">Ask
              our Expert</a></li>
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/products">Products for you</a></li>
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/jobs">Job Hunt</a></li>
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/services">Services for you</a></li>
          <li class="uk-nav-divider"></li>
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/about">About us</a></li>

          <li *ngIf="auth.isAuthenticate" class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/user">User Profile</a></li>
          <li class="uk-nav-divider"></li>
          <li *ngIf="!auth.isAuthenticate" class="uk-nav-header" (click)="closeMobileMenu()"
            routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a routerLink="/user/signin">Join
              us</a></li>

          <li *ngIf="auth.isAuthenticate" class="uk-nav-header" (click)="closeMobileMenu();logout();"><a
              routerLink="/about">Logout</a></li>
        </ul>

      </div>
    </div>

    <nav class="uk-container ecp-navbar uk-visible@s">
      <ul (click)="removeAttr()" #navLinks class="uk-child-width-expand" uk-tab>
        <li #homeLink routerLinkActive="uk-active" #link1="routerLinkActive" [routerLinkActiveOptions]="{exact: true}">
          <a [attr.aria-current]="link1.isActive ? 'page':false" routerLink="/">Home
          </a>
        </li>
        <li routerLinkActive="uk-active" #link2="routerLinkActive" [routerLinkActiveOptions]="{exact: false}"><a
            [attr.aria-current]="link2.isActive ? 'page':false" routerLink="/community">Engage
            with Us</a></li>
        <li routerLinkActive="uk-active" #link3="routerLinkActive" [routerLinkActiveOptions]="{exact: false}"><a
            [attr.aria-current]="link3.isActive ? 'page':false" routerLink="/ask-question">Ask
            our
            Experts</a></li>
        <li routerLinkActive="uk-active" #link4="routerLinkActive" [routerLinkActiveOptions]="{exact: false}"><a
            [attr.aria-current]="link4.isActive ? 'page':false" routerLink="/products">Products
            for You</a></li>
        <li routerLinkActive="uk-active" #link4="routerLinkActive" [routerLinkActiveOptions]="{exact: false}"><a
            [attr.aria-current]="link4.isActive ? 'page':false" routerLink="/jobs">Job Hunt</a></li>
            
        <!-- <li routerLinkActive="uk-active" #link5="routerLinkActive" [routerLinkActiveOptions]="{exact: false}"><a
            [attr.aria-current]="link5.isActive ? 'page':false" routerLink="/services">Services for You</a></li> -->
      </ul>
    </nav>
  </div>
</div>