<div class="header">
  <div class="uk-container">
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-auto">
        <div class="logo-tagline uk-text-left@s uk-text-center">
          <div class="logo">
            <button class="uk-button uk-button-default" routerLink="/">'TBD' Logo</button>
          </div>
          <div class="tagline uk-visible@s">
            <span>Supported by Tata Trusts</span>
          </div>
        </div>
      </div>
      <div class="uk-visible@s uk-width-expand">
        <div class="uk-flex uk-flex-right" uk-grid>
          <div>
            <div class="sign-in-button">

              <button *ngIf="!auth.isAuthenticate" routerLink="/user/signin"
                class="uk-button uk-button-default">Join Us</button>
              <div class="uk-inline" *ngIf="auth.isAuthenticate">
                <button
                  class="uk-button uk-button-default">{{ auth.user.userName || auth.user.email || auth.user.phoneNumber }}</button>
                <div uk-dropdown="pos: bottom-left">
                  <ul class="uk-nav uk-dropdown-nav">
                    <li><a class="uk-padding-remove font-regular" (click)="navigateUser()">
                        <fa-icon icon="user" [style]="{'margin-right':'20px','color':'#1A73E8'}"></fa-icon>User Profile
                      </a>
                    </li>
                    <hr />
                    <li><a (click)="logout()" class="uk-padding-remove font-regular">
                        <fa-icon icon="sign-out-alt" [style]="{'margin-right':'20px','color':'#1A73E8'}"></fa-icon>
                        Logout
                      </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-hidden@s uk-width-expand uk-flex uk-flex-middle uk-flex-right">
        <div class="nav-menu">
          <a href="#mobile-menu" uk-toggle><span uk-icon="icon: menu; ratio: 1.5"></span></a>
        </div>
      </div>
    </div>
    <div id="mobile-menu" uk-offcanvas="container:true;overlay:true">
      <div class="uk-offcanvas-bar mobile-menu">

        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <hr class="m-t-40" />
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Know us</a>
          </li>
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/community">Let’s Talk</a></li>
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/ask-question">Ask
              our Expert</a></li>
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/products">Products for you</a></li>
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/services">At your service</a></li>
          <li class="uk-nav-divider"></li>
          <li class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/about">About Us</a></li>
          <li *ngIf="!auth.isAuthenticate" class="uk-nav-header" (click)="closeMobileMenu()"
            routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a
              routerLink="/user/signin">CHECK-IN HERE</a></li>
          <li *ngIf="auth.isAuthenticate" class="uk-nav-header" (click)="closeMobileMenu()" routerLinkActive="uk-active"
            [routerLinkActiveOptions]="{exact: false}"><a routerLink="/user">User Profile</a></li>
          <li *ngIf="auth.isAuthenticate" class="uk-nav-header" (click)="closeMobileMenu();logout();"><a
              routerLink="/about">Logout</a></li>
        </ul>

      </div>
    </div>

    <nav class="uk-container ecp-navbar uk-visible@s">
      <ul class="uk-child-width-expand" uk-tab>
        <li #homeLink routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Know
            us</a>
        </li>
        <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a routerLink="/community">Let us
            Engage</a></li>
        <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a routerLink="/ask-question">Ask
            our
            Experts</a></li>
        <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a routerLink="/products">Products for You
            </a></li>
        <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a routerLink="/services">At your
            Service</a></li>
        <!-- <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a
            routerLink="/articles">Articles</a></li> -->
      </ul>
    </nav>
    <!-- <nav class="uk-container ecp-navbar uk-hidden@s mobile-menu uk-align-center">
      <ul class="uk-flex-nowrap uk-overflow-auto mobile-ul uk-text-truncate" uk-tab>
        <li #homeLink routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a>
        </li>
        <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a
            routerLink="/community">Community</a></li>
        <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a routerLink="/ask-question">Ask
            an Expert</a></li>
        <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a
            routerLink="/products">Products</a></li>
        <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a
            routerLink="/services">Services</a></li>
          </ul>
        </nav> -->
    <!-- <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a
            routerLink="/articles">Articles</a></li> -->

  </div>
</div>
<!-- <div class="uk-container seperate-box uk-hidden@s uk-align-center">
  <div class="uk-grid-small" uk-grid>
    <div class="uk-align-center uk-margin-remove-bottom">
      <div class="location uk-text-center">
        <div class="uk-margin">
          <div uk-form-custom="target: > * > span:first-child">
            <select>
              <option value="Gowlipura, Hyderabad">Gowlipura, Hyderabad</option>
            </select>
            <button class="uk-button uk-button-default" type="button" tabindex="-1">
              <span></span>
              <span uk-icon="icon: chevron-down"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-align-center uk-margin-remove-top uk-margin-remove-bottom">
      <div class="sign-in-button">
        <button *ngIf="!auth.isAuthenticate" routerLink="/user/signin"
          class="uk-button uk-button-default">Signin</button>
        <div class="uk-inline" *ngIf="auth.isAuthenticate">
          <button
            class="uk-button uk-button-default">{{  auth.user.userName || auth.user.email || auth.user.phoneNumber  }}</button>
          <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
              <li><a class="uk-padding-remove font-regular" (click)="navigateUser()">
                  <fa-icon icon="user" [style]="{'margin-right':'20px','color':'#1A73E8'}"></fa-icon>User Profile
                </a>
              </li>
              <hr />
              <li><a (click)="logout()" class="uk-padding-remove font-regular">
                  <fa-icon icon="sign-out-alt" [style]="{'margin-right':'20px','color':'#1A73E8'}"></fa-icon>Logout
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->