<div class="header">
  <div class="uk-container">
    <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
      <div>
        <div class="logo-tagline">
          <div class="logo">
            <button class="uk-button uk-button-default">logo</button>
          </div>
          <div class="tagline uk-visible@s">
            <span>An ElderSpring Initiative by Tata Trusts</span>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-child-width-1-2 uk-text-center" uk-grid>
          <div>
            <div class="location uk-text-right">
              <span>Gowlipura, Hyderabad</span>
            </div>
          </div>
          <div>
            <div class="sign-in-button uk-text-right">
              <button class="uk-button uk-button-default">Signin</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="uk-container ecp-navbar">
      <ul class="uk-child-width-expand" uk-tab>
        <li class="uk-active"><a routerLink="">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a routerLink="services">Services</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">As a Question</a></li>
      </ul>
    </nav>
  </div>
</div>
