<div class="uk-container search-container m-t-main-screen">
  <!-- Search Form START -->
  <div class="search-form">
    <div class="search-field uk-grid-stack uk-grid-small" uk-grid>
      <div class="uk-width-1-1 uk-width-expand@s">
        <form class="uk-search uk-search-default">
          <span class="uk-search-icon-flip" [ngClass]="{ 'w-150':showReset}" uk-search-icon>
            <button *ngIf="showReset" class="reset-link" (click)="resetSearch($event)">
              <fa-icon [icon]="['fas', 'times-circle']"></fa-icon> Search again
            </button>
          </span>
          <input class="uk-search-input font-regular search-box" [ngClass]="{ 'pr-105':showReset}"
            [(ngModel)]="searchParams.searchTxt" (keyup)="onSearchChange($event)" required type="text"
            placeholder="Search here" name="search" />
        </form>
      </div>
      <div class="uk-width-1-1 uk-width-auto@s">
        <button class="uk-button uk-button-default search-btn" (click)="onSearch()">Search</button>
      </div>
    </div>
  </div>
  <!-- Search Form END -->
  <!-- Search Result START -->
  <div class="search-result" *ngIf="showResult">

    <div uk-grid class="uk-grid-large uk-flex-left uk-text-center uk-child-width-1-3@m">
      <div *ngFor="let expert of experts">
        <app-ask-expert-summary-card [expert]="expert"></app-ask-expert-summary-card>
        <!-- <div class="uk-card uk-card-default p-10 mb-20 cursor" [routerLink]="['/ask-question/add']"
              [queryParams]="{category: (selCategory ? selCategory : expert.experties[0].id), answeredBy: expert.id}">
              <div class="uk-card-media-top">
                <img class="thumb-100" [imageHandler] [src]="expert.basicProfileInfo?.profileImage?.thumbnailImage"
                  alt="No Image Found">
              </div>
              <div class="uk-card-body p-10">
                <p><b>{{expert.basicProfileInfo.firstName}}</b></p>
                <p>{{expert.workTitle}}</p>
                <p>{{ expert.age ? expert.age : "0" }} Years</p>
                <p>
                  <span class="experties" *ngFor="let ex of expert.experties; let idx = index;">
                      {{ex.name}}
                      {{ (idx == (expert.experties.length -1)) ? "": "," }}
                  </span>
                </p>
                <p>
                  <button class="uk-button uk-button-default">Ask an Expert</button>
                </p>
              </div>
            </div> -->
      </div>
    </div>
    <div class="uk-text-center uk-text-bold pt-norec" *ngIf="experts!==undefined && experts?.length == 0">
      No Records found
    </div>
    <div class="m-t-30" *ngIf="experts!==undefined && experts?.length > 0">
      <button class="uk-width-1-1 uk-button-default" (click)="showAllExperts()"> See All Experts </button>
    </div>

  </div>
  <!-- Search Result END -->
</div>

<div class="uk-background-cover home-banner" data-src="assets/images/landing-img/Ask-1024.png"
  data-srcset="assets/images/landing-img/Ask-320.png 320w,assets/images/landing-img/Ask-768.png 768w,assets/images/landing-img/Ask-1024.png 1024w,assets/images/landing-img/Ask-1440.png 1440w"
  uk-img>
  <div class="uk-child-width-1-2@s uk-padding" uk-grid>
    <div class="uk-text-center uk-text-left@s">
      <h1>Ask a Question</h1>
      <p class="font-regular">
        Need experts? Find a real world expert and start your conversation privately and with assured confidentiality.
      </p>
    </div>
  </div>
</div>

<div class="uk-container search-container dark m-seprator">
  <div class="quote-line uk-margin-remove" uk-grid>
    <div class="uk-width-1-1@s uk-width-2-3@m uk-padding-remove uk-flex uk-flex-middle">
      <div class="uk-flex uk-flex-middle">
        <h4 class="title">
          <span class="mr-3">
            <img src="assets/images/expert-icon.png" />
          </span>
          Domain Experts
        </h4>
      </div>
    </div>
    <div class="uk-width-1-1@s uk-width-1-3@m uk-padding-remove uk-flex uk-flex-middle uk-divider-vertical">
      <label class="uk-form-label">Showing:</label>
      <div class="uk-form-controls">
        <select class="uk-select" [(ngModel)]="searchParams.experties" (change)="showExperts2()">
          <option value="">Select Category</option>
          <option *ngFor="let cat of catsList" value="{{cat.id}}">{{cat.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="p-40">
    <div *ngIf="experts2!==undefined && experts2.length  > 0" class="uk-child-width-1-3@m uk-grid-match" uk-grid>
      <div *ngFor="let expert of experts2">
        <app-ask-expert-summary-card [expert]="expert"></app-ask-expert-summary-card>
        <!-- <div class="uk-card uk-card-default p-10 cursor" [routerLink]="['/ask-question/add']"
          [queryParams]="{category: (selCategory ? selCategory : expert.experties[0].id), answeredBy: expert.id}">
          <div class="uk-card-media-top">
            <img class="thumb-100" [imageHandler] [src]="expert.basicProfileInfo?.profileImage?.thumbnailImage"
              alt="No Image Found">
          </div>
          <div class="uk-card-body p-10">
            <p><b>{{expert.basicProfileInfo.firstName}}</b></p>
            <p>{{expert.workTitle}}</p>
            <p>{{ expert.age ? expert.age : "0" }} Years</p>
            <p>
              <span class="experties" *ngFor="let ex of expert.experties; let idx = index;">
                {{ex.name}}
                {{ (idx == (expert.experties.length -1)) ? "": "," }}
              </span>
            </p>
            <p>
              <button class="uk-button uk-button-default">Ask an Expert</button>
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <div class="quote-line uk-margin-remove" uk-grid>
    <div class="uk-width-expand@s uk-padding-remove uk-flex uk-flex-middle">
      <div class="uk-flex uk-flex-middle">
        <span class="mr-3">
          <span class="verified-icon"></span>
        </span>Private. Confidential. Assurance. Real world experts you can trust.
      </div>
    </div>
    <div class="uk-width-auto@s uk-text-center">
      <button [routerLink]="['/ask-question/all']" [queryParams]="{ category: '', tab:0}" class="uk-button uk-button-default">More experts</button>
    </div>
  </div>
</div>