@import "src/assets/css/variables.scss";

.search-container {
  &.dark {
    background-color: #e4eefb;
    h4.title {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
  }
  border: 1px solid #d7e0ef;
  background-color: #ecf4ff;
  font-family: $regular-font;
  border-radius: 8px;
  .header-label {
    font-size: 24px;
    color: rgba(22, 28, 45, 0.87);
    margin: 40px 40px 16px 40px;
    h3 {
      font-weight: 600;
    }
  }
  .search-form {
    padding: 32px 40px;
    .search-field {
      form {
        width: 100%;
        input {
          height: 56px;
          border-radius: 4px;
          background-color: #ffffff;
          color: $font-light-black;
        }
      }
      .search-btn {
        height: 56px;
        background-color: #1a73e8;
        border-radius: 4px;
        color: #ffffff;
        text-transform: capitalize;
        font-size: 18px;
        min-width: 216px;
        width: 100%;
        &:focus {
          color: #1a73e8;
          background-color: #ffffff;
        }
      }
      @media (max-width: 640px) {
        .search-btn {
          height: auto;
          min-width: 80px;
          padding: 0px;
        }
        form {
          input {
            height: 40px;
          }
        }
      }
    }
  }
  @media (max-width: 640px) {
    .search-form {
      padding: 0px 16px;
    }
  }
  // .w-150 {
  //   width: 150px;
  // }
  // .pr-150 {
  //   padding-right: 150px !important;
  // }
  .reset-search {
    background-color: transparent;
    color: red;
    border-radius: 50%;
    padding: 2px 5px;
    border: unset;
    cursor: pointer;
    margin: 0;
    font-family: $regular-font;
    font-size: 16px;
    line-height: 1em;
    &:focus {
      outline: none;
    }
  }
  .reset-link {
    margin: 0 5px;
    background: none;
    color: red;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.search-result {
  padding: 0 40px 24px 40px;
}
.cursor {
  cursor: pointer;
}
.quote-line {
  background-color: #ecf4ff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 21px 40px 21px 40px;
  color: #161c2d;
  font-size: 18px;
  p {
    margin: 0;
  }
  .uk-divider-vertical {
    height: auto;
  }
  .uk-form-label {
    margin-bottom: 0px;
    margin-left: 24px;
  }
  select {
    margin-left: 24px;
    border: 0px;
    border-radius: 4px;
  }
}
.popular-search {
  .uk-card-media-top {
    border-radius: 4px;
    background-color: #ecf4ff;
    padding: 5px;
    img {
      display: block;
      margin: auto;
    }
  }
  .uk-card {
    border-radius: 4px;
    border: solid 1px #d7e0ef;
    .thumb-100 {
      height: 100px;
    }
    .uk-card-body p {
      margin: 0px;
      font-size: 15px;
      text-align: center;
      b {
        font-size: 18px;
      }
      .uk-button-default {
        height: 36px;
        width: 100%;
        margin-top: 20px;
        text-transform: capitalize;
        font-size: 18px;
        line-height: 18px;
      }
      .experties {
        color: #1a73e8;
      }
    }
  }
}
.m-seprator {
  margin-top: 32px;
  margin-bottom: 32px;
}
.uk-button-default, .uk-button-default:focus {
  color: #ffffff !important;
  border: 1px solid #1a73e8;
  border-radius: 4px;
  height: 48px;
  background-color: #1a73e8 !important;
}
@media (min-width: 640px) {
  // .sm-pr-20 {
  //   padding-right: 20px;
  // }
  .w-150 {
    width: 150px;
  }

  .sm-pr-150 {
    padding-right: 150px;
  }
}
@media (max-width: 640px) {
  .w-150 {
    width: 50px;
  }
}

.landing-bg {
  background-image: url("/assets/images/landing-img/mobile/ask-bg.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 641px) {
  .landing-bg {
    background-image: url("/assets/images/landing-img/Ask-768.png");
  }
}

@media (min-width: 1024px) {
  .landing-bg {
    background-image: url("/assets/images/landing-img/Ask-1024.png");
  }
}

@media (min-width: 1440px) {
  .landing-bg {
    background-image: url("/assets/images/landing-img/Ask-1440.png");
  }
}
