<!-- General info form -->
<div class="category-box m-t-40 bg-white">
    <h3>General Info</h3>
    <hr />
    <!-- Error box START-->
    <div *ngIf="!isLoading && errorMessage" class="uk-alert-danger" uk-alert>
        <p><span class="uk-icon mr-5" uk-icon="warning"></span> {{ errorMessage }}</p>
    </div>
    <!-- Error box END-->
    <!-- Success box START-->
    <div *ngIf="!isLoading && successMessage" class="uk-alert-success" uk-alert>
        <p><span class="uk-icon mr-5" uk-icon="info"></span> {{ successMessage }}</p>
    </div>
    <!-- Success box END-->

    <form class="uk-form-stacked" [formGroup]="generalInfoForm" (ngSubmit)="onSubmit()">

        <div class="uk-margin">
            <fieldset>
                <legend class="uk-form-label m-0">Gender</legend>
                <!-- <label class="uk-form-label">Gender</label> -->
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label for="Male"><input class="uk-radio" id="Male" type="radio" formControlName="gender"
                            [value]="1">
                        Male</label>
                    <label for="Female"><input class="uk-radio" id="Female" type="radio" formControlName="gender"
                            [value]="0"> Female</label>
                    <label for="Trans"><input class="uk-radio" id="Trans" type="radio" formControlName="gender"
                            [value]="2">
                        Trans</label>
                    <label for="prefer-not-say"><input class="uk-radio" id="prefer-not-say" type="radio"
                            formControlName="gender" [value]="3"> Prefer not to
                        say</label>
                </div>
            </fieldset>
        </div>

        <div class="uk-margin">
            <fieldset>
                <legend class="uk-form-label m-0">Marital Status</legend>
                <!-- <label class="uk-form-label" for="form-stacked-text">Marital Status</label> -->
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label for="Married"><input class="uk-radio" id="Married" type="radio"
                            formControlName="maritalStatus" value="Married">
                        Married</label>
                    <label for="Unmarried"><input class="uk-radio" id="Unmarried" type="radio"
                            formControlName="maritalStatus" value="Unmarried">
                        Unmarried</label>
                    <label for="Widowed"><input class="uk-radio" id="Widowed" type="radio"
                            formControlName="maritalStatus" value="Widowed">
                        Widowed</label>
                    <label for="Prefer-not"><input class="uk-radio" id="Prefer-not" type="radio"
                            formControlName="maritalStatus" value="Prefer not to say">
                        Prefer not to
                        say</label>
                </div>
            </fieldset>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="Occuption">Occuption</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="Occuption" formControlName="occupation">
                    <option disabled selected hidden value="">Occuption</option>
                    <option>Working</option>
                    <option>Not Working</option>
                    <option>Retired</option>
                    <option>Studying</option>

                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="Birthday">Birthday</label>
            <div class="uk-child-width-expand@s uk-grid-small" uk-grid>

                <div>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="Day" formControlName="day">
                            <option disabled selected hidden value="">Day</option>
                            <option *ngFor="let n of dateOption" [value]="n">{{n}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="Month" formControlName="month">
                            <option disabled selected hidden value="">Month</option>
                            <option *ngFor="let month of monthOption" [value]="month.value">{{month.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="Year" formControlName="year">
                            <option disabled selected hidden value>Year</option>
                            <option *ngFor="let year of yearOptions" [value]="year">{{year}}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <hr class="m-t-75" />
        <p class="uk-text-right">
            <button class="uk-button uk-button-transparent uk-modal-close" type="button"
                (click)="onCancel()">Cancel</button>
            <button class="m-l-10 uk-button uk-button-default" type="submit">Submit</button>
        </p>
    </form>
</div>
<!-- General info form End -->