@import "src/assets/css/variables.scss";

.event-create{
    font-family: $regular-font;
    color: $font-color-black;
    margin-bottom: 48px;
    .heading{ 
      font-family: $regular-font;
      font-size: 32px;
      font-weight: bold;
      color: $font-light-black;
    }
    .inner-container{
      border-radius: 4px;
      padding: 24px;
      border: 1px solid #D7E0EF;
    }
    .uk-align-right{
      margin-bottom: 0px;
    }
    .uk-input, .uk-select{
      border: 1px solid #D7E0EF;
      border-radius: 4px;
    }
}
.submit{
    border-radius: 4px;
}