@import "src/assets/css/variables.scss";

.event-create{
    font-family: $regular-font;
    color: $font-color-black;
    margin-bottom: 48px;
    .heading{ 
      font-family: $regular-font;
      font-size: 32px;
      font-weight: bold;
      color: $font-light-black;
    }
    .inner-container{
      border-radius: 4px;
      padding: 24px;
      border: 1px solid #D7E0EF;
    }
    .uk-align-right{
      margin-bottom: 0px;
    }
    .uk-input, .uk-select{
      border: 1px solid #D7E0EF;
      border-radius: 4px;
    }
}
.submit{
    border-radius: 4px;
}

.uk-form-danger{
  color: #f0506e !important;
  border-color: #f0506e !important;
}

.uk-input::-webkit-outer-spin-button,
.uk-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media(max-width:640px){
  .breadcrumbs{
    margin-top: 20px;
  }
  .breadcrumbs .uk-breadcrumb {
    font-size: 18px;
  }
  .event-create{
    .heading{
      font-size: 18px;
    }
  }
* + hr, * + .uk-hr {
  margin-top: -11px;
}
.uk-button-transparent {
  margin-bottom: 10px;
}
.uk-button-default{
margin-bottom: -20px;
}

}