@import "../../../../../assets/css/variables.scss";

.discussions {
  font-family: $regular-font;
  margin-bottom: 24px;
  .add-dicsussion{
    margin-bottom: 20px;
  }
  .heading{ 
    font-family: $regular-font;
    font-size: 32px;
    font-weight: bold;
    color: $font-light-black;
  }
  
  .add-dicsussion-inner{
    background-color: #D7E0EF;
    font-size: 18px;
    color: $primary-txt-color;
    border-radius: 4px;
    height: 100%;
    min-height: 270px;
    svg{
      margin-top: 32%;
    }
  }
  .adddiscuss{
    border: 1px solid #1a73e8;
    color: #1a73e8;
    text-transform: capitalize;
    float:right;
    height: 38px;
  }
  .uk-tab > .uk-active > a {
    font-weight: bold;
    color: $primary-txt-color;
    text-transform: none;
    font-size: 18px;
    border-bottom: 4px solid $primary-txt-color !important;
  }
  .uk-tab a{
    text-transform: none;
    font-size: 18px;
    color: $font-light-black;
  }
  .w-150{
    width: 150px;
  }
  .pr-150{
    padding-right:150px !important;
  }
  .cat-active{
    font-weight: 400;
    background-color: #D7E0EF;
    border-radius: 4px;
    // color: #1A73E8;
  }
  .uk-list{
    background-color: #ffffff;
    & > li{
        padding: 10px 5px;
      &:hover{
        background-color: #D7E0EF;
        border-radius: 4px;
        font-weight: 400;
      }
    }
  }
  .category-box{
    border: 1px solid #D7E0EF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;    
    .uk-badge{
        background: #D9DADC;
        color: #000;
        border-radius:5px;
    }
  }
  .whatapp-icon{
    background:#009487;
    color:#fff;
  }

  .fb-icon{
      background:#2a415e;
      color:#fff;
  }

  .email-icon{
      background:#1772eb;
      color:#fff;

  }
  .social-link{
    color: #000;
  }
  .search-form {
    @media screen and (max-width: 960px) {
      .uk-search-default{
        padding: 10px 0px 10px 0px;
      }
    }
    .search-field {
      form {
        width: 100%;
        input {
          height: 40px;
          border-radius: 4px;
          background-color: #ffffff;
          color: $font-light-black;
        }
      }
      .search-btn {
        height: 40px;
        background-color: #1a73e8;
        border-radius: 4px;
        color: #ffffff;
        text-transform: capitalize;
        font-size: 18px;
        min-width: 150px;
        width: 100%;
        margin-top: -1px;
      }
    }
    .reset-link{
      margin: 0 5px;
        background:none;
        color: red;
         border:none; 
         padding:0!important;
         font: inherit;
         cursor: pointer;
         &:focus{
          outline:none;
         }
    
    }
  }
  .search-form::after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
  }
}