<div class="uk-container discussions" *ngIf="categoryList!==undefined && dropDownList!==undefined">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-grid uk-grid-large uk-flex-left">
        <div class="uk-width-2-3">
            <h1 id="discussionListHeader" tabindex=0 class="heading">
                {{selCategory=='' ? 'All' : dropDownList[selCategory].label}} Articles & Discussions</h1>
        </div>
        <div class="uk-width-1-3">
            <button routerLink="/community/discussion/add" class="uk-button uk-button-transparent adddiscuss"> Start a
                Discussion +</button>
        </div>
    </div>
    <hr class="m-b-30" />
    <div class="grid-reverse-dir" uk-grid>
        <div class="uk-width-1-3@m">
            <div class="category-box bg-white">
                <div uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-h4">Categories</h3>
                    </div>
                    <div *ngIf="searchParams.tags !== ''">
                        <a class="uk-text-danger" href="javascript:void(0)" (click)="clearSelection()">Clear
                            Selection</a>
                    </div>
                </div>
                <ul class="uk-list uk-list-large p-2" *ngIf="dropDownList!==undefined">
                    <li *ngFor="let cat of dropDownList | keyvalue" (click)="onTabChange(cat.key)"
                        class="cursor-pointer" [ngClass]="{'cat-active': cat.key === selCategory}"><a
                            href="javascript:void(0)">{{cat.value.label}}
                            <span class="uk-badge uk-float-right">{{cat.value.totalCount}}</span></a>
                    </li>
                </ul>
            </div>
            <div class="m-t-30 bg-white category-box bg-white">
                <div class="m-b-20">
                    <a aria-label="Share via Whatsapp" [href]="whatsappUrl"
                        class="uk-icon-button  uk-margin-small-right whatapp-icon" uk-icon="whatsapp"
                        aria-label="Share via Whatsapp"> </a>
                    <a class="social-link" [href]="whatsappUrl">
                        Share via
                        Whatsapp</a>
                </div>
                <div class="m-b-20">
                    <a aria-label="Share via Email"
                        href="mailto:?subject=%0AThis%20is%20Service%20from%20An%20Elder%20Spring%20Initiative%20by%20Tata%20Trusts&body=%0AService%2DURL:%20{{currentUrl}}"
                        class="uk-icon-button  uk-margin-small-right fb-icon" aria-label="Share via Email"
                        uk-icon="mail">
                    </a> <a class="social-link"
                        href="mailto:?subject=%0AThis%20is%20Service%20from%20An%20Elder%20Spring%20Initiative%20by%20Tata%20Trusts&body=%0AService%2DURL:%20{{currentUrl}}">
                        Share via
                        Email</a>
                </div>
                <div>
                    <a aria-label="Share via facebook"
                        href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}&t=Elder%20Spring%20Services"
                        onclick="javascript:window.open(this.href,
                            '_blank', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                        class="uk-icon-button  uk-margin-small-right email-icon" uk-icon="facebook"
                        aria-label="Share via Facebook"> </a> <a class="social-link"
                        href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}&t=Elder%20Spring%20Services"
                        onclick="javascript:window.open(this.href,
                            '_blank', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        Share via
                        Facebook</a>
                </div>
            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="search-form">
                <div class="search-field uk-grid-stack uk-grid-small" uk-grid>
                    <div class="uk-margin uk-width-1-1 uk-width-expand@s">
                        <form class="uk-search uk-search-default">
                            <input class="uk-search-input font-regular search-box" [ngClass]="{ 'pr-150':showReset}"
                                [(ngModel)]="searchParams.searchTxt" (keyup)="onSearchChange($event)" required
                                type="text" placeholder="Search here" id="discussion-searchtxt" name="search" />
                            <span class="uk-search-icon-flip" [ngClass]="{ 'w-150':showReset}" uk-search-icon>
                                <button *ngIf="showReset" class="reset-link" (keyup.enter)="resetSearch($event)"
                                    (click)="resetSearch($event)">
                                    <fa-icon [icon]="['fas', 'times-circle']"></fa-icon> Clear Search
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="uk-width-1-s1 uk-width-auto@s uk-margin-bottom">
                        <button class="uk-button uk-button-default search-btn" (click)="submitSearch()">Search</button>
                    </div>
                </div>
            </div>
            <div *ngIf="discussionsList!==undefined && discussionsList.length > 0" class="m-b-30">
                <div class="uk-flex-left uk-text-center uk-child-width-1-2@m" uk-grid>
                    <div *ngFor="let discussion of discussionsList;let i=index" role="group"
                        [attr.aria-label]="'Discussion ' + i">
                        <app-dicussion-summary-card [category]="selCategory" [discussion]="discussion">
                        </app-dicussion-summary-card>
                    </div>
                </div>
            </div>
            <app-pagination *ngIf="(discussionsList.length > 0)" [totalRecords]="totalRecords"
                [currentPage]="searchParams.p" [perPage]="searchParams.s" (pageChangeCall)="changePage($event)">
            </app-pagination>
            <div *ngIf="discussionsList?.length === 0">
                <app-discussion-no-record></app-discussion-no-record>
            </div>
        </div>
    </div>
</div>