
#colum3 {
    background-color: #fff;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  
  #colum4 {
    background-color: #fff;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  
  #colum2 {
    background-color: lightblue;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  
  #div {
    width: 26px;
    height: 1px;
    background: 1px solid black!important;
  }
  
  #apply {
    margin-left: -124px;
  }
  
  .col.col-123 {
    margin-top: -14px;
  }
  
  #apply {
    margin-left: -15px;
  }
  
  #image {
    margin-top: 14px;
  }
  
  .row.col-22 {
    background-color: #fff;
  }
  
  .btn.btn-primary.button {
    color: #1a73e8;
    background: #fff;
    border-radius: 20px;
  }
  .mt10{
      margin-top: 10px !important;
  }

  
  #colum55 {
    border: 1px solid #eee;
  }
  
  .noMarginB{
        margin-bottom: 0px !important;
  }
  
  .addressTxt{
      color: #5E5E5E;
      font-size: 14px;
  }

  .smTxt{
    color: #5E5E5E;
    font-size: 10px;
  }
  .mt10{
    margin-top: 10px !important;
  }
  label{
    margin-top: 10px !important;
    margin-bottom: 0;
  }
  .mt0{
    margin-top: 0 !important;
  }