<div class="container">

    <div class="row" style="margin:2rem auto;">
        <div class="col-md-10 d-flex align-items-center">
            <p>At Joy of Age, you can easily find products specially curated for you. Member reviews, ratings and
                comments help you make the right purchase decision.</p>
        </div>
        <div class="col-md-2">
            <img src="assets/images/landing-img/product-banner-updated.png" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-12"
            style="background-color: #EBF5FF; border: 1px solid #D7E1EF; padding-top: 15px; padding-bottom: 15px; border-radius: 5px;">
            <div class="row">
                <div class="col-md-3">
                    <ng-select [(ngModel)]="location" (change)="location = $event" placeholder="City"
                        (search)="getLocations($event)">
                        <ng-option *ngFor="let car of locationList" [value]="car">{{car.locationTitle}}</ng-option>
                    </ng-select>
                </div>
                <div class="col-md-4">
                    <input class="uk-input" [(ngModel)]="jobSearchKey"
                        placeholder="Search by title, skill, or company" />
                </div>
                <div class="col-md-2">
                    <button class="uk-button uk-button-default" (click)="searchJobs();">Search</button>
                </div>
                <div class="col-md-1">
                   <span style="position: relative; top:10px;">OR</span>
                </div>
                <div class="col-md-2">
                    <span (click)="openApply=true; isAppliedWithoutJob = false;isJobNotFound = false;locationList=[]; jobList=[]" class="sbtresume" style="color: #1C72E8;position: relative; top:10px;">Submit My Resume</span>
                </div>
                
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="col-md-5" *ngIf="isJobNotFound==true && isAppliedWithoutJob==false">
            <p>No Jobs Found!</p>
        </div>
        <div class="col-md-7" *ngIf="isJobNotFound==true || openApply==true">
            <div class="row">
                <div class="col-12" *ngIf="isAppliedWithoutJob==true">
                    <p style="font-size: 12px;margin-bottom: 0px; color: rgb(0, 129, 43);">You've successfully
                        submitted your details.</p>
                </div>

                <ng-container *ngIf="isAppliedWithoutJob==false">
                    <div class="col-12">
                        <p>Submit your details; let us do the hunt for you :)</p>
                    </div>
                    <div class="col-12" *ngIf="errorText!=''">
                        <p style="font-size: 12px;margin-bottom: 0px; color: rgb(163, 0, 0);">{{errorText}}</p>
                    </div>
                    <div class="col col-md-6">
                        <label>First Name</label>
                        <input class="uk-input" [(ngModel)]="firstName" type="text" placeholder="First Name" />
                    </div>
                    <div class="col col-md-6">
                        <label>Last Name</label>
                        <input class="uk-input" [(ngModel)]="lastName" type="text" placeholder="Last Name" />
                    </div>
                    <div class="col col-md-6">
                        <label>Date of Birth</label>
                        <input class="uk-input" [(ngModel)]="dob" type="date" placeholder="Date of Birth" />
                    </div>
                    <div class="col col-md-6">
                        <label>Email</label>
                        <input class="uk-input" [(ngModel)]="emailID" type="email" placeholder="Email" />
                    </div>
                    <div class="col col-md-6">
                        <label>Mobile Number</label>
                        <input class="uk-input" [(ngModel)]="mobileNo" type="number" placeholder="Mobile Number" />
                    </div>
                    <div class="col col-md-6">
                        <label>Resume</label>
                        <input class="mt10" type="file" accept="application/pdf,.doc,.docx,application/msword"
                            (change)="onSelectFile($event)" />
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary button mt10" style="float: right;" type="button"
                            (click)="applyForJob(0)">SUBMIT</button></div>
                </ng-container>

            </div>
        </div>
        <div class="col-md-5" style="background-color: light#1a73e8; max-height: 80vh; overflow-y: scroll;">

            <div *ngFor="let item of jobList" class="row" style="border: 1px solid #eee;"
                (click)="activeJob = item; isApplyClicked = false">
                <div class="col-md-2 d-flex align-items-center"><img id="image" src="assets/images/fav.png"></div>
                <div class="col-md-10">
                    <div class="row mt10">
                        <div class="col">
                            <p class="noMarginB" style="color: #1a73e8; font-weight: 600;">{{item.jobTitle}}</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col">
                            <p class="noMarginB addressTxt">{{item.jobLocation}}</p>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col">
                            <p class="noMarginB">You have a preffered skill badge</p>
                        </div>
                    </div> -->
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col">
                            <div class="row">
                                <div class="col-md-7">
                                    <p class="noMarginB smTxt">posted on posted on {{item.postedOn | date}}</p>
                                </div>
                                <!-- <div class="col-md-5">
                                    <p id="apply">Apply</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-7" *ngIf="activeJob">
            <div class="row" id="colum55">
                <div class="col-md-3"><img src="assets/images/fav.png" style="width: 100%;margin: 10px 0px;"></div>
                <div class="col-md-9">
                    <div class="row mt10">
                        <div class="col">
                            <p class="noMarginB" style="color: #1a73e8; font-weight: 600;">{{activeJob.jobTitle}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="noMarginB addressTxt">{{activeJob.jobLocation}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="smTxt">posted on {{activeJob.postedOn | date}}</p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col" *ngIf="isApplyClicked!=true && activeJob['isApplied']==undefined">
                            <button class="btn btn-primary button" type="button"
                                (click)="isApplyClicked = true">APPLY</button>
                        </div>
                        <div class="col" *ngIf="isApplyClicked!=true && activeJob['isApplied']!=undefined">
                            <p style="font-size: 12px;margin-bottom: 0px; color: rgb(0, 129, 43);">You've successfully
                                applied for this job</p>
                        </div>
                        <ng-container *ngIf="isApplyClicked==true">
                            <div class="col-12" *ngIf="errorText!=''">
                                <p style="font-size: 12px;margin-bottom: 0px; color: rgb(163, 0, 0);">{{errorText}}</p>
                            </div>
                            <div class="col col-md-6">
                                <label>First Name</label>
                                <input class="uk-input" [(ngModel)]="firstName" type="text" placeholder="First Name" />
                            </div>
                            <div class="col col-md-6">
                                <label>Last Name</label>
                                <input class="uk-input" [(ngModel)]="lastName" type="text" placeholder="Last Name" />
                            </div>
                            <div class="col col-md-6">
                                <label>Date of Birth</label>
                                <input class="uk-input" [(ngModel)]="dob" type="date" placeholder="Date of Birth" />
                            </div>
                            <div class="col col-md-6">
                                <label>Email</label>
                                <input class="uk-input" [(ngModel)]="emailID" type="email" placeholder="Email" />
                            </div>
                            <div class="col col-md-6">
                                <label>Mobile Number</label>
                                <input class="uk-input" [(ngModel)]="mobileNo" type="number"
                                    placeholder="Mobile Number" />
                            </div>
                            <div class="col col-md-6">
                                <label>Resume</label>
                                <input class="mt10" type="file" accept="application/pdf,.doc,.docx,application/msword"
                                    (change)="onSelectFile($event)" />
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary button mt10" style="float: right;" type="button"
                                    (click)="applyForJob(activeJob.reqID)">SUBMIT</button></div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col">
                    <p style="font-weight: 600; margin-bottom: 0;">Description</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>{{activeJob.jobDescription}}</p>
                </div>
            </div>
        </div>
    </div>

</div>