.signup-title{
    h3{
        font-size: 24px;
        font-family:"HKGroteskRegular";    
    }
    padding: 0 24px;
}

hr{
    margin: 8px;
}

.newuser{
    background-color: #E4EEFB;
    border-radius: 4px;
}
a{
    color: #1A72E8;
}

