@import "src/assets/css/variables.scss";
.ask-question{
    margin-bottom: 24px;

    h2{
        color: $font-light-black;
        font-family: $regular-font;
        font-weight: bold;
        margin-top:0px;
        margin-bottom:0px;
    }
    .uk-list{
        background-color: #ffffff;
        & > li{
            padding: 10px 5px;
            &:hover{
                background-color: #D7E0EF;
                border-radius: 4px;
                font-weight: 400;
            }
        }
    }
    h3{
        margin: 0px;
        font-family:"HKGroteskRegular";
        font-size: 32px;
    }
    .w-150{
        width: 150px;
    }
    .pr-150{
        padding-right:150px !important;
    }
    .search-btn {
        height: 40px;
        border-radius: 4px;
        text-transform: capitalize;
        font-size: 18px;
        min-width: 150px;
        width: 100%;
        margin-top: -1px;
    }
    .uk-search-default {
        width: 100%;
    }
    .reset-link {
        margin: 0 5px;
        background: none;
        color: red;
        border: none;
        padding: 0 !important;
        font: inherit;
        cursor: pointer;
    }
    .category-box{
        border: 1px solid #D7E0EF;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 16px;    
        .uk-badge{
            background: #D9DADC;
            color: #000;
            border-radius:5px;
        }
    }

    .whatapp-icon{
        background:#009487;
        color:#fff;
    }

    .fb-icon{
        background:#2a415e;
        color:#fff;
    }

    .email-icon{
        background:#1772eb;
        color:#fff;

    }
    .social-link{
        color: #000;
    }
    .uk-button-group{
        button:first-child{
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        button:last-child{
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

    }
    @media (max-width: 640px){
        .text-center-xs{
        text-align: center;
        }
    }
}