<!-- <div class="uk-container banner">
  <div class="logo">
    <h3>ABCD</h3>
  </div>
  <div class="uk-child-width-expand@s uk-child-width-1-1" uk-grid>
    <div class="para-info uk-text-center uk-text-left@s">
      <p>
        An online presence for elders to find reliable products and services.
        And engage in Events and Discussions
      </p>
    </div>
    <div class="couple-img uk-width-1-2@s uk-width-1-1">
      <img data-src="assets/images/indian_couple-_slide1-300x206.png" alt="" uk-img class="uk-align-right@s uk-align-center" />
    </div>
  </div>
</div> -->

<div class="uk-container">

  <div class="uk-background-cover product-banner" data-src="assets/images/landing-img/product-bg.png" uk-img>
    <div class="uk-child-width-1-2@s uk-padding" uk-grid>
      <div class="uk-text-center uk-text-left@s">
        <h1>Products</h1>
        <p class="font-regular">
          An online presence for elders to find reliable products and services.
          And engage in Events and Discussions
        </p>
      </div>
    </div>
  </div>

</div>


<div class="uk-container search-container">
  <div class="header-label">
    <h3>Search for Products</h3>
  </div>

  <!-- Search Form START -->
  <div class="search-form">
    <div class="search-field uk-grid-stack uk-grid-small" uk-grid>
      <div class="uk-margin uk-width-1-1 uk-width-expand@s">
        <form class="uk-search uk-search-default">
          <span class="uk-search-icon-flip" [ngClass]="{ 'w-105':showReset}" uk-search-icon>
            <button *ngIf="showReset" class="reset-link" (click)="resetSearch($event)">
              <fa-icon [icon]="['fas', 'times-circle']"></fa-icon> Reset
            </button>
          </span>
          <input class="uk-search-input search-box" [ngClass]="{ 'pr-105':showReset}"
            [(ngModel)]="searchParams.searchTxt" (keyup)="onSearchChange($event)" required type="text"
            placeholder="Search..." name="search" />
        </form>
      </div>
      <div class="uk-width-1-1 uk-width-auto@s uk-margin-bottom">
        <button class="uk-button uk-button-default search-btn" (click)="onSearch()">Search</button>
      </div>
    </div>
  </div>
  <!-- Search Form END -->

  <!-- Popular search START -->
  <app-popular-search [products]="productsList"></app-popular-search>

  <!-- <div class="uk-container popular-search-list"></div> -->
  <div class="quote-line uk-margin-remove" uk-grid>
    <div class="uk-width-expand@s uk-padding-remove uk-flex uk-flex-middle">
      <div class="uk-flex uk-flex-middle">
        <span class="mr-3">
          <span class="verified-icon"></span>
        </span>All
        Products
        and Services are
        100% verified. Buy with
        Trust!
      </div>
    </div>
    <div class="uk-width-auto@s uk-text-center">
      <button routerLink="/products/all" class="uk-button uk-button-default">View All Products</button>
    </div>
  </div>
</div>