<div class="community-page">
  <!-- Search Container starts -->
  <div class="uk-container search-container m-t-main-screen">
    <!-- Search Form START -->
    <div class="search-form">
      <div class="search-field uk-grid-stack uk-grid-small" uk-grid>
        <div class="uk-width-1-1 uk-width-expand@s">
          <form class="uk-search uk-search-default">
            <span class="uk-search-icon-flip" [ngClass]="{ 'w-150':showReset}" uk-search-icon>
              <button *ngIf="showReset" class="reset-link" (click)="resetSearch($event)">
                <fa-icon [icon]="['fas', 'times-circle']"></fa-icon> Search again
              </button>
            </span>
            <input class="uk-search-input font-regular search-box" [ngClass]="{ 'pr-150':showReset}"
              [(ngModel)]="searchParams.searchTxt" (keyup)="onSearchChange($event)" required type="text"
              placeholder="Search here" name="search" />
          </form>
        </div>
        <div class="uk-width-1-1 uk-width-auto@s">
          <button class="uk-button uk-button-default search-btn" (click)="onSearch()">Search</button>
        </div>
      </div>
    </div>
    <!-- Search Form END -->
    <!-- Search Result START -->
    <div class="search-result" *ngIf="showResult">
      <ul uk-tab>
        <li class="uk-active"><a href="#">Discussion ({{totalRecordsDiscussions}})</a></li>
        <li><a href="#">Event ({{totalRecordsEvents}})</a></li>
      </ul>
      <ul class="uk-switcher uk-margin">
        <li class="uk-active">

          <div class="uk-child-width-1-3@m" uk-grid>
            <div *ngFor="let discussion of discussionsList">
              <app-dicussion-summary-card [category]="selCategory" [discussion]="discussion">
              </app-dicussion-summary-card>
            </div>
          </div>
          <div class="uk-text-center uk-text-bold pt-norec"
            *ngIf="discussionsList!==undefined && discussionsList?.length == 0">
            No Records found
          </div>
          <div class="m-t-30" *ngIf="discussionsList!==undefined && discussionsList?.length > 0">
            <button class="uk-width-1-1 uk-button-default" (click)="showAllDiscussions()"> See All Discussions </button>
          </div>
        </li>
        <li>
          <div class="uk-child-width-1-3@m" uk-grid>
            <div *ngFor="let event of eventsList">
              <app-event-summary-card [event]="event" [isPast]="0"></app-event-summary-card>
            </div>
          </div>
          <div class="uk-text-center uk-text-bold pt-norec" *ngIf="eventsList!==undefined && eventsList?.length == 0">
            No Records found
          </div>
          <div class="m-t-30" *ngIf="eventsList!==undefined && eventsList?.length > 0">
            <button class="uk-width-1-1 uk-button-default" (click)="showAllEvents()"> See All Events </button>
          </div>
        </li>

      </ul>
    </div>
    <!-- Search Result END -->
  </div>


  <div class="uk-background-cover home-banner" data-src="assets/images/landing-img/Community-1024.png"
    data-srcset="assets/images/landing-img/Community-320.png 320w,assets/images/landing-img/Community-768.png 768w,assets/images/landing-img/Community-1024.png 1024w,assets/images/landing-img/Community-1440.png 1440w"
    uk-img>
    <div class="uk-child-width-1-2@s uk-padding" uk-grid>
      <div class="uk-text-center uk-text-left@s">
        <h1>Our Community</h1>
        <p class="font-regular">
          Interested in member contributed articles and discussions or community based events & activities? Find one
          or start one!
          And share what you like with your loved ones.
        </p>
      </div>
    </div>
  </div>

  <!-- Search Container ends -->

  <!-- Discussion Section Start -->
  <div class="uk-container search-container dark">
    <div class="quote-line uk-margin-remove" uk-grid>
      <div class="uk-width-1-1@s uk-width-2-3@m uk-padding-remove uk-flex uk-flex-middle">
        <div class="uk-flex uk-flex-middle">
          <h4 class="title">
            <span class="mr-3">
              <img src="assets/images/discussion-icon.png" />
            </span>
            Discussions
          </h4>
        </div>
      </div>
      <div class="uk-width-1-1@s uk-width-1-3@m uk-padding-remove uk-flex uk-flex-middle uk-divider-vertical">
        <label class="uk-form-label">Showing:</label>
        <div class="uk-form-controls">
          <select class="uk-select" [(ngModel)]="selDiscussCategory" (change)="showDiscussions2()">
            <option value="">Active Discussions</option>
            <option *ngFor="let cat of discussCategoryList | keyvalue" value="{{cat.key}}">{{cat.value.label}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="search-result">
      <div uk-slider *ngIf="discussionsList2!==undefined && discussionsList2?.length > 0">
        <div class="uk-position-relative">
          <div class="uk-slider-container uk-light height-fix-slider">
            <ul class="uk-slider-items uk-grid-match uk-child-width-1-3@m uk-grid">
              <li *ngFor="let discussion of discussionsList2">
                <app-dicussion-summary-card [category]="selDiscussCategory" [discussion]="discussion">
                </app-dicussion-summary-card>
              </li>
            </ul>
          </div>
          <div class="uk-hidden@s uk-light">
            <a class="uk-position-center-left uk-position-small button-slidenav" href="#" uk-slidenav-previous
              uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small button-slidenav" href="#" uk-slidenav-next
              uk-slider-item="next"></a>
          </div>
          <div class="uk-visible@s">
            <a class="uk-position-center-left-out uk-position-small button-slidenav slidenav-pervious" href="#"
              uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right-out uk-position-small button-slidenav slidenav-next" href="#"
              uk-slidenav-next uk-slider-item="next"></a>
          </div>
        </div>
      </div>
      <div class="uk-text-center uk-text-bold pt-norec height-fix-slider"
        *ngIf="discussionsList2!==undefined && discussionsList2?.length == 0">
        No Records found
      </div>
    </div>
    <!-- Search Result END -->
    <div class="quote-line uk-margin-remove" uk-grid>
      <div class="uk-width-1-1@s uk-width-2-3@m uk-padding-remove uk-flex uk-flex-middle">
        <div class="uk-flex uk-flex-middle">
          <span class="mr-3">
            <span class="verified-icon"></span>
          </span>Hundereds of users are part of more than 25 active discussions.
        </div>
      </div>
      <div class="uk-width-1-1@s uk-width-1-3@m uk-padding-remove uk-flex uk-flex-middle">
        <button class="uk-width-1-1 uk-button-default" (click)="showAllDiscussions()"> See All Discussions </button>
      </div>
    </div>
  </div>
  <!-- Discussion Section End -->

  <!-- Event Section Start -->
  <div class="uk-container search-container dark m-seprator">
    <div class="quote-line uk-margin-remove" uk-grid>
      <div class="uk-width-1-1@s uk-width-2-3@m uk-padding-remove uk-flex uk-flex-middle">
        <div class="uk-flex uk-flex-middle">
          <h4 class="title">
            <span class="mr-3">
              <img src="assets/images/event-icon.png" />
            </span>
            Events
          </h4>
        </div>
      </div>
      <div class="uk-width-1-1@s uk-width-1-3@m uk-padding-remove uk-flex uk-flex-middle uk-divider-vertical">
        <label class="uk-form-label">Showing:</label>
        <div class="uk-form-controls">
          <select class="uk-select" [(ngModel)]="searchParams.pastEvents" (change)="showEvents2()">
            <option value="-1">Upcoming Events</option>
            <option value="1">Past Events</option>
            <option value="0">All Events</option>
          </select>
        </div>
      </div>
    </div>
    <div class="search-result">
      <div uk-slider *ngIf="eventsList2!==undefined && eventsList2?.length > 0">
        <div class="uk-position-relative">
          <div class="uk-slider-container uk-light height-fix-slider">
            <ul class="uk-slider-items uk-grid-match uk-child-width-1-3@m uk-grid">
              <li *ngFor="let event of eventsList2">
                <app-event-summary-card [event]="event" [isPast]="searchParams.pastEvents"></app-event-summary-card>
              </li>
            </ul>
          </div>
          <div class="uk-hidden@s uk-light">
            <a class="uk-position-center-left uk-position-small button-slidenav" href="#" uk-slidenav-previous
              uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small button-slidenav" href="#" uk-slidenav-next
              uk-slider-item="next"></a>
          </div>
          <div class="uk-visible@s">
            <a class="uk-position-center-left-out uk-position-small button-slidenav slidenav-pervious" href="#"
              uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right-out uk-position-small button-slidenav slidenav-next" href="#"
              uk-slidenav-next uk-slider-item="next"></a>
          </div>
        </div>
      </div>
      <div class="uk-text-center uk-text-bold pt-norec height-fix-slider"
        *ngIf="eventsList2!==undefined && eventsList2?.length == 0">
        No Records found
      </div>
    </div>
    <!-- Search Result END -->
    <div class="quote-line uk-margin-remove" uk-grid>
      <div class="uk-width-1-1@s uk-width-2-3@m uk-padding-remove uk-flex uk-flex-middle">
        <div class="uk-flex uk-flex-middle">
          <span class="mr-3">
            <span class="verified-icon"></span>
          </span>More than 15 Events every Month.
        </div>
      </div>
      <div class="uk-width-1-1@s uk-width-1-3@m uk-padding-remove uk-flex uk-flex-middle">
        <button class="uk-width-1-1 uk-button-default" (click)="showAllEvents()"> See All Events </button>
      </div>
    </div>
  </div>
  <!-- Event Section End -->
</div>