@import "src/assets/css/variables.scss";

.banner {
  background: url("/assets/images/bg-community.png");
  padding-top: 24px;
  border-radius: 8px;
  font-family: $regular-font;
  margin-top: 24px;
  .logo {
    background-color: #8dd38b;
    h3 {
      font-family: $regular-font;
      padding: 12px 0 12px 40px;
      font-weight: 600;
      margin: 0;
    }
  }
  .para-info {
    margin: 24px 40px 0;
    padding-bottom: 24px;
    font-size: 18px;
    color: $font-color-black;
  }
  .couple-img {
    margin-right: 36px;
    margin-top: -70px;
    img {
      height: 100%;
      // width: 100%;
    }
    @media (min-width: 320px) and (max-width: 640px) {
      margin: 0 !important;
    }
  }
  margin-bottom: 24px;
}
.quote-line-card {
  background-color: #e4eefb;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #d7e0ef;
  border-right: 1px solid #d7e0ef;
  border-bottom: 1px solid #d7e0ef;
  padding: 8px;
}
.search-container {
  &.dark{
    background-color: #e4eefb;
  }
  border: 1px solid #d7e0ef;
  h4.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  .height-fix-slider {
    min-height: 287px;
  }
  .height-fix-slider1 {
    min-height: 352px;
  }
  background-color: #ecf4ff;
  font-family: $regular-font;
  border-radius: 8px;
  .header-label {
    font-size: 24px;
    color: $font-color-black;
    margin: 40px 40px 16px 40px;
    h3 {
      font-family: $regular-font;
      font-weight: 600;
    }
  }
  .search-form {
    padding: 32px 40px;
    .search-field {
      form {
        width: 100%;
        input {
          height: 56px;
          border-radius: 4px;
          background-color: #ffffff;
          color: $font-light-black;
        }
      }
      .search-btn, .search-btn:focus {
        height: 56px;
        background-color: #1a73e8;
        border-radius: 4px;
        color: #ffffff;
        text-transform: capitalize;
        font-size: 18px;
        min-width: 216px;
        width: 100%;
        &:focus {
          color: #1a73e8;
          background-color: #ffffff;
        }
      }
    }
  }

  .uk-tab {
    &::before {
      border-bottom: none;
    }

    & > * > a {
      border-bottom: 3px solid #161c2d3d;
      font-size: 18px;
      line-height: 165%;
      text-transform: unset;
    }

    & > .uk-active > a {
      color: #1a73e8;
      border-color: #1e87f0;
    }
  }
  .quote-line {
    background-color: #ecf4ff;
    border-left: 1px solid #d7e0ef;
    border-right: 1px solid #d7e0ef;
    border-bottom: 1px solid #d7e0ef;
    padding: 21px 40px 21px 40px;
    color: #161c2d;
    font-size: 18px;
    p {
      margin: 0;
    }
    .uk-divider-vertical {
      height: auto;
    }
    .uk-form-label {
      margin-bottom: 0px;
      margin-left: 24px;
    }
    select {
      margin-left: 16px;;
      border: 0px;
      border-radius: 4px;
    }
  }
}
.pt-norec {
  padding-top: 19%;
}
.uk-button-default, .uk-button-default:focus {
  color: #ffffff !important;
  border: 1px solid #1a73e8;
  border-radius: 4px;
  height: 48px;
  background-color: #1a73e8 !important;
}
.m-seprator {
  margin-top: 32px;
  margin-bottom: 32px;
}
.w-150 {
  width: 150px;
}
.pr-150 {
  padding-right: 150px !important;
}
.reset-link {
  margin: 0 5px;
  background: none;
  color: red;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.search-result {
  padding: 0 40px 24px 40px;
}
.content{
  padding: 40px;
}
.community-result-head {
  font-family: $regular-font;
  background: #d7e0ef;
  border-radius: 8px 8px 0px 0px;
}
.community-result-head h3 {
  font-size: 24px;
  font-weight: 400;
  align-items: center;
  color: $font-color-black;
  padding-left: 24px;
  margin-bottom: 0px;
  line-height: 60px;
}
.community-result-body {
  font-family: $regular-font;
  background-color: #fff;
  font-size: $font-small;
  color: $font-light-black;
  min-height: 235px;
}
.community-result-body h4 {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 5px;
  color: $font-color-black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.community-result-body ul {
  margin-bottom: 0px;
}
.community-result-body ul li {
  padding: 10px 0 10px 0;
}
.community-result-footer {
  font-family: $regular-font;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.04) 100%), #1a73e8;
  border-radius: 0px 0px 8px 8px;
  font-size: 18px;
  padding-left: 24px;
  line-height: 60px;
  color: $default-font-color;
  margin-bottom: 20px;
  cursor: pointer;
}
.community-result-footer svg {
  float: right;
  margin: 13px;
}

.slidenav-pervious {
  right: 98% !important;
}

.slidenav-next {
  left: 98% !important;
}

@media (max-width : 640px) {
  .banner{
    background: url("/assets/images/mobile_community_banner.png");
  }
  .slidenav-pervious {
    right: 92% !important;
  }
  
  .slidenav-next {
    left: 92% !important;
  }
  .search-container {
    .title-border {
      border-bottom: 1px solid #e5e5e5;
    }
    .quote-line{
      padding-left: 16px;
      padding-right: 16px;
    }
    .search-form {
      padding: 16px 16px;
      .search-field{
        form{
          input {
            height: 40px;
          }
        }
        .search-btn{
          min-width: 80px;
          padding: 0px;
          height: 40px;
        }
      }
    }
    .w-150 {
      width: 50px;
    }
    .pr-150 {
      padding-right: 50px !important;
    }
  }
}

.options-card {
  background-color: #ecf4ff;
  border-radius: 4px 4px 0px 0px;
  border-top: 1px solid #d7e0ef;
  border-left: 1px solid #d7e0ef;
  border-right: 1px solid #d7e0ef;
  img {
    margin: 16px 0px;
  }
  // padding: 16px 94px;
}

.landing-bg {
  background-image: url("/assets/images/landing-img/mobile/community-bg.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 641px) {
  .landing-bg {
    background-image: url("/assets/images/landing-img/Community-768.png");
  }
}

@media (min-width: 1024px) {
  .landing-bg {
    background-image: url("/assets/images/landing-img/Community-1024.png");
  }
}

@media (min-width: 1440px) {
  .landing-bg {
    background-image: url("/assets/images/landing-img/Community-1440.png");
  }
}