<div class="uk-container ask-question">
  <div class="breadcrumbs">
    <app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>
  </div>
  <div class="uk-grid uk-grid-large uk-flex-left">
    <div class="uk-width-2-3">
      <h1 class="uk-h2">My Questions</h1>
    </div>
    <div class="uk-width-1-3">
        <button routerLink="/ask-question/experts" class="uk-button uk-button-transparent myques"> All Experts ></button>
    </div>
  </div>
  <hr class="m-b-30" />
  <div *ngIf="questions && questions.length > 0">
    <app-question-detail-card *ngFor="let question of questions" [question]="question">
    </app-question-detail-card>
  </div>
  <app-pagination *ngIf="(questions && questions.length > 0)" [totalRecords]="totalRecordsQues"
    [currentPage]="searchParamsQues.p" [perPage]="searchParamsQues.s" (pageChangeCall)="changeQuesPage($event)">
  </app-pagination>
  <div class="m-t-20" *ngIf="!questions || questions?.length == 0">
    <app-question-no-record></app-question-no-record>
  </div>
</div>