<!-- Service Featured START tabs -->
<div class="featured-tab m-b-30">
    <div class="title">
        <div uk-grid>
            <div class="uk-width-expand@s">
                <img src="assets/images/events.png" /> <span class="font-regular-24 font-weight-600">Events</span>
            </div>
            <div>
                <div uk-grid>
                    <div class="uk-flex uk-flex-middle">
                        <small>Showing</small>
                    </div>
                    <div>
                        <select class="uk-select">
                            <option>Upcoming event</option>
                            <!-- <option>Past event</option> -->
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <!-- Featured Service card  -->
        <div uk-slider *ngIf="events.length > 0">
            <div class="uk-position-relative">
                <div class="uk-slider-container">

                    <ul class="uk-slider-items uk-grid-match uk-child-width-1-3@m uk-grid">
                        <li *ngFor="let event of events">
                            <app-event-summary-card [event]="event" [isPast]="searchParams.pastEvents">
                            </app-event-summary-card>
                        </li>
                    </ul>
                    <!-- <a class="uk-position-center-left-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                    uk-slider-item="previous"></a>
                  <a class="uk-position-center-left-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                    uk-slider-item="next"></a> -->
                </div>
                <div class="uk-hidden@s uk-light">
                    <a class="uk-position-center-left uk-position-small button-slidenav" href="#" uk-slidenav-previous
                        uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small button-slidenav" href="#" uk-slidenav-next
                        uk-slider-item="next"></a>
                </div>

                <div class="uk-visible@s">
                    <a class="uk-position-center-left-out uk-position-small button-slidenav slidenav-pervious" href="#"
                        uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small button-slidenav slidenav-next" href="#"
                        uk-slidenav-next uk-slider-item="next"></a>
                </div>
                <!-- <a class="uk-position-center-left uk-position-small button-slidenav" href="#" uk-slidenav-previous
                    uk-slider-item="previous"></a>
                  <a class="uk-position-center-right uk-position-small  button-slidenav" href="#" uk-slidenav-next
                    uk-slider-item="next"></a> -->
                <!-- <div class="uk-margin"></div> -->

            </div>
        </div>

    </div>
    <div class="block-footer">
        <div uk-grid>
            <div class="uk-width-expand@s">
                <img src="assets/images/verified.png" /> <span class="m-l-5">More than 15 events every month</span>
            </div>
            <div>
                <button routerLink="/community/events" [queryParams]="{past:searchParams.pastEvents}"
                    class="uk-button uk-button-default">See
                    All
                    Events</button>
            </div>
        </div>
    </div>
</div>
<!-- Service Featured END tabs -->