<div class="event-detail">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <ul class="uk-breadcrumb">
            <li routerLink="/community" class="fa fa-angle-right">Community</li>
            <li routerLink="/events" class="fa fa-angle-right">Events</li>
            <li class="fa fa-angle-right"><b>1-on-1 Basic Computer Skills, Gowlipura Convention Center</b></li>
        </ul>
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-3@m">
                <div class="m-t-40 category-box">
                    <h3>Gowlipura Convention Center</h3>
                    <p>Organiser</p>
                </div>
            
                <div class="m-t-40 category-box">
                    <div class="m-b-20">
                        <a href="" class="uk-icon-button  uk-margin-small-right whatapp-icon" uk-icon="whatsapp"> </a> <a> Share via
                        Whatsapp</a>
                    </div>
            
                    <div class="m-b-20">
                        <a href="" class="uk-icon-button  uk-margin-small-right fb-icon" uk-icon="mail"> </a> <a> Share via Email</a>
                    </div>
            
                    <div>
                        <a href="" class="uk-icon-button  uk-margin-small-right email-icon" uk-icon="facebook"> </a> <a> Share via
                        Facebook</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-2-3@m">
                <h2>1-on-1 Basic Computer Skills, Gowlipura Convention Center</h2>
                <div class="description">
                        1 to 1 sessions on basic computer skills. For absolute beginners or those just looking for 
                        a bit more experience using computers. These sessions will help you develop the skills needed 
                        to operate a PC or laptop or help you navigate around a tablet or smartphone. Sessions are available 
                        on Wednesdays or Thursdays. Contact us to book a slot on +91 88450 68923.
                </div>
                <hr/>
                <div class="details">
                    <h2>Details</h2>
                    <div class="uk-grid">
                            <div class="uk-width-1-2@s">
                                <p class="heading">
                                    Email
                                </p>
                                <p class="description textblue">
                                    devendra.yadav@gmail.com
                                </p>
                                <p class="heading">
                                    Location
                                </p>
                                <p class="description">
                                    Gowlipura Convention Center (<span class="textblue">View on Google Maps</span>)
                                </p>
                            </div>
                            <div class="uk-width-1-2@s description">
                                <p class="heading">
                                    Languages
                                </p>
                                <p class="description">
                                    English, Hindi, Urdu, Marathi, Tamil
                                </p>
                                <p class="heading">
                                    Phone Number
                                </p>
                                <p class="description">
                                    +91 8080808080
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>