<div class="event-detail" *ngIf="event!=undefined && event.id != ''">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>

        <!-- <ul class="uk-breadcrumb">
            <li routerLink="/" class="fa fa-angle-right">Home</li>
            <li routerLink="/community" class="fa fa-angle-right">Community</li>
            <li routerLink="/community/events" class="fa fa-angle-right">All Events</li>
        </ul> -->
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-3-4@m">
                <h2 class="heading">{{event.title}}</h2>
            </div>
            <div class="uk-width-1-4@m">
                <a href="" *ngIf="event?.eventType==1" class="uk-margin-small-right outdoor-icon" title="Outdoor Event">
                    <span class="icontxt">Outdoor</span>
                </a>
                <a href="" *ngIf="event?.eventType==2" class="uk-margin-small-right indoor-icon" title="Indoor Event">
                    <span class="icontxt">Indoor</span>
                </a>
            </div>
        </div>

        <div class="no-top-m uk-grid uk-grid-large">
            <div class="uk-width-1-3@m">
                <div class="category-box">
                    <h3>{{event.organiser}}</h3>
                    <p>Organiser</p>
                    <div>
                        <button class="uk-button uk-button-default cont-org" (click)="showOrganiserDetails()"> Contact
                            Organiser</button>
                        <p *ngIf="showOrg">
                            You can contact Organiser at : <br>
                            Phone: {{event.orgPhone}}<br />
                            Email: {{event.orgEmail}}
                        </p>
                    </div>
                    <p>
                        <a style="cursor:pointer;" href="mailto:{{reportEmail}}"><img
                                src="/assets/images/flag.svg">Report this Event/Organizer</a>
                    </p>
                </div>

                <div class="m-t-30 bg-white category-box">
                    <div class="m-b-20">
                        <a [href]="whatsappUrl" class="uk-icon-button  uk-margin-small-right whatapp-icon" uk-icon="whatsapp"> </a>
                        <a class="social-link" [href]="whatsappUrl">
                        Share via
                        Whatsapp</a>
                    </div>
                    <div class="m-b-20">
                        <a href="mailto:?subject=%0AThis%20is%20Service%20from%20An%20Elder%20Spring%20Initiative%20by%20Tata%20Trusts&body=%0AService%2DURL:%20{{currentUrl}}"
                        class="uk-icon-button  uk-margin-small-right fb-icon" uk-icon="mail">
                        </a> <a class="social-link"
                        href="mailto:?subject=%0AThis%20is%20Service%20from%20An%20Elder%20Spring%20Initiative%20by%20Tata%20Trusts&body=%0AService%2DURL:%20{{currentUrl}}">
                        Share via
                        Email</a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}&t=Elder%20Spring%20Services" onclick="javascript:window.open(this.href,
                                '_blank', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                        class="uk-icon-button  uk-margin-small-right email-icon" uk-icon="facebook"> </a> <a class="social-link"
                        href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}&t=Elder%20Spring%20Services" onclick="javascript:window.open(this.href,
                                '_blank', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        Share via
                        Facebook</a>
                    </div>
                </div>
                <div class="m-t-30 category-box favourite" *ngIf="user!=undefined && user!=null">
                    <div *ngIf="!markIt" (click)="markFavourite()">
                        <a class="uk-icon-button  uk-margin-small-right favourite-icon" uk-icon="heart"></a>
                        <a> Favourite this Event</a>
                    </div>
                    <div *ngIf="markIt" (click)="markFavourite()">
                        <a class="uk-icon-button  uk-margin-small-right favourite-icon" uk-icon="ban"></a>
                        <a> Un-Favourite this Event</a>
                    </div>
                </div>
                <div class="m-t-40 category-box favourite" *ngIf="user==undefined || user==null">
                    <a class="uk-icon-button  uk-margin-small-right favourite-icon" uk-icon="user"></a>
                    <a (click)="markFavourite()"> Login to favourite this Event</a>
                </div>
            </div>
            <div class="uk-width-2-3@m">
                <h2 class="heading2">About</h2>
                <div class="description">
                    {{event.description}}
                </div>
                <hr />
                <div class="details">
                    <h2 class="heading2">Details</h2>
                    <div class="uk-grid">
                        <div class="uk-width-1-2@s">
                            <p class="label">
                                Event Category
                            </p>
                            <p class="description">
                                {{ (event.eventType==1 ? "Outdoor" : "Indoor") }}
                            </p>
                            <p class="label">
                                Email
                            </p>
                            <p class="description">
                                {{event.orgEmail}}
                            </p>
                            <p class="label">
                                Location
                            </p>
                            <p class="description">
                                {{event.address + " " + event.landmark}}
                            </p>
                        </div>
                        <div class="uk-width-1-2@s description">
                            <p class="label">
                                Event Entry
                            </p>
                            <p class="description">
                                {{ (event.entryFee >= 1 ? "Paid" : "Free") }}
                            </p>
                            <p class="label">
                                Languages
                            </p>
                            <p class="description">
                                {{event.languages}}
                            </p>
                            <p class="label">
                                Phone Number
                            </p>
                            <p class="description">
                                {{event.orgPhone}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>