<div class="event-detail" *ngIf="event!=undefined && event.id != ''">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>
    </div>
    <!-- Bread crumbs End -->
    <div class="uk-container">
        <div class="grid-reverse-dir no-top-m uk-grid uk-grid-large">
            <div class="uk-width-1-3@m">
                <div class="category-box bg-white">
                    <h3>{{event.organiser}}</h3>
                    <p>Organiser</p>
                    <div>
                        <button class="uk-button uk-button-default cont-org" uk-toggle="target: #modal-sections-events"> Contact
                            Organiser</button>
                    </div>
                    <p *ngIf="ShowReportEvent">
                        <a style="cursor:pointer;" (click)="reportFormToggle()"><img
                                src="/assets/images/flag.svg">{{ authService.isAuthenticate ? 'Report this Event/Organizer': 'Join us to Report Event/Organizer'}}</a>
                    </p>
                </div>
                <div *ngIf="ShowReportEvent">
                    <app-share-via-media></app-share-via-media>
                </div>
               

                
                <!-- <div class="m-t-30 category-box favourite" *ngIf="user!=undefined && user!=null">
                    <div *ngIf="!markIt" (click)="markFavourite()">
                        <a class="uk-icon-button  uk-margin-small-right favourite-icon" uk-icon="heart"></a>
                        <a> Favourite this Event</a>
                    </div>
                    <div *ngIf="markIt" (click)="markFavourite()">
                        <a class="uk-icon-button  uk-margin-small-right favourite-icon" uk-icon="ban"></a>
                        <a> Un-Favourite this Event</a>
                    </div>
                </div>
                <div class="m-t-40 category-box favourite" *ngIf="user==undefined || user==null">
                    <a class="uk-icon-button  uk-margin-small-right favourite-icon" uk-icon="user"></a>
                    <a (click)="markFavourite()"> Join Us to favourite this Event</a>
                </div> -->
            </div>
            <div class="uk-width-2-3@m">
                <div *ngIf = "eventId == 'preview'" class= "previewTop">
                    <div class="info">
                        <img class = "imgInformation" src="/assets/images/information.png">
                        <span class = "para">You are previewing your contribution that you are about to post publicly. 
                            If you are happy with it use the ‘Publish’ button at the bottom to share this with the community, 
                            or click on the ‘Go back & Edit’  button to continue to improve your contribution.</span>
                    </div>
                </div>
                <div class="bg-white category-box">
                    <h4 class="publish-on">Published on: <span>{{event.createdAt | date:'dd MMM yyyy' }} at
                            {{event?.datetime | date:'shortTime' }}</span></h4>
                    <h1 id="eventHeader" tabindex=0 class="heading">{{event.title}}</h1>
                    <hr />
                    <div class="uk-grid uk-child-width-1-2@m">
                        <div>
                            <img src="/assets/images/date.png" alt="date icon"
                                class="icons-ev">{{event?.datetime | date:'EEEE, dd MMM yyyy' }}
                            <!-- date only -->
                        </div>
                        <div>
                            <img src="/assets/images/location.png" alt="location icon"
                                class="icons-ev">{{event?.address}}
                        </div>
                        <div>
                            <img src="/assets/images/time.png" alt="clock icon"
                                class="icons-ev">{{event?.datetime | date:'shortTime' }}
                            <!-- time only -->
                        </div>
                        <div>
                            <img src="/assets/images/phone.png" alt="phone icon" class="icons-ev">{{event?.orgPhone}}
                            <!-- time only -->
                        </div>
                    </div>
                </div>
                <div class="m-t-30 bg-white category-box">
                    <h4 class="heading2">Description</h4>
                    <div class="description" [innerHTML]="event.description">
                    </div>
                    <hr />
                    <div class="details">
                        <div class="uk-grid uk-child-width-1-2@m">
                            <div>
                                <h4 class="heading2">Address</h4>
                                {{event.address}}
                            </div>
                            <div>
                                <h4 class="heading2">Landmark</h4>
                                {{event.landmark}}
                            </div>
                        </div>
                        <hr />
                        <div class="uk-grid uk-child-width-1-2@m">
                            <div>
                                <h4 class="heading2">Email ID</h4>
                                {{event.orgEmail}}
                            </div>
                            <div>
                                <h4 class="heading2">Contact Number</h4>
                                {{event.orgPhone}}
                            </div>
                        </div>
                        <hr />
                        <div class="uk-grid uk-child-width-1-2@m">
                            <div>
                                <h4 class="heading2">Event Capacity</h4>
                                {{event.capacity}}
                            </div>
                            <div>
                                <h4 class="heading2">Entry Fee</h4>
                                {{ (event.entryFee >= 1 ? "Rs. " + event.entryFee : "Free Entry") }}
                            </div>
                        </div>
                        <div *ngIf="eventId == 'preview'">
                            <hr />
                            <button class="uk-button uk-button-transparent uk-button-default m-r-15" (click)="onCancelPublish()">Go Back &
                                Edit</button>
                            <button class="uk-button uk-button-primary"
                                (click)="onPublish()">{{!!user ? 'Publish' : 'Signin to create this Event'}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Model START -->
        <div id="modal-sections-events" role="dialog" aria-labelledby="eventContactitle" aria-modal="true"
            aria-describedby="contactDetails" class="uk-modal-container" uk-modal="bg-close:false;container:false;">
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" aria-label="Close popup" type="button" (click)="onCloseModel()"
                    uk-close></button>
                <div class="uk-modal-header">
                    <h2 id="eventContactitle" tabindex=0 class="uk-modal-title">Organiser Contact Information</h2>
                </div>
                <div class="uk-modal-body" id="contactDetails">
                    <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
                        <div>
                            <!-- <p class="font-regular-15 m-b-10 lable">Location</p>
                            <p class="font-regular m-t-0">{{event?.address}}</p> -->
                            <p class="font-regular-15 m-b-10 lable">Organiser</p>
                            <p class="font-regular m-t-0">{{event?.organiser}}</p>

                            <p class="font-regular-15 m-b-10 lable">Phone Number</p>
                            <p class="font-regular m-t-0">
                                {{event?.orgPhone }}</p>
                        </div>

                        <div>
                             <p class="font-regular-15 m-b-10 lable">Email</p>
                            <p class="font-regular m-t-0">
                                {{ event?.orgEmail || '-'}}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close close-btn" (click)="onCloseModel()"
                        type="button">Close</button>
                </div>
            </div>
          </div>
          <!-- Contact Model END -->
          <!-- Report Form Model Start -->
          <div id="event-report-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h3 class="uk-modal-title">Report</h3>
                <!-- Success box START-->
                <div *ngIf="successMessage" class="uk-alert-success" uk-alert>
                <p>{{ successMessage }}</p>
                </div>
                <!-- Success box END-->
                <form [formGroup]="eventReportForm" (ngSubmit)="onSubmitReport()" class="uk-form-stacked review-form">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="comment">Message</label>
                        <div class="uk-form-controls">
                        <textarea formControlName="comment" id="comment" class="uk-input min-h-200" id="form-stacked-text"
                            placeholder="Enter your comment here"></textarea>
                        </div>
                    </div>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-transparent uk-modal-close" type="button">Cancel</button>
                        <button class="m-l-10 uk-button uk-button-default" type="submit"
                        [disabled]="eventReportForm.invalid">Submit</button>
                    </p>
                </form>
            </div>
          </div>
        <!-- Report Form Model End -->
    </div>
</div>
<notifier-container></notifier-container>
<ng-template #customNotification let-notificationData="notification">
    <my-custom-alert type="notificationData.type">
        <img class="icon" src="assets/images/loading5.gif">

        <span class="message">{{ notificationData.message }}</span>
    </my-custom-alert>
</ng-template>
<ng-template #customNotification1 let-notificationData="notification">
    <my-custom-alert type="notificationData.type">
        <img class="icon" src="assets/images/verifiedtoast.png">

        <span class="message">{{ notificationData.message }}</span>
    </my-custom-alert>
</ng-template>