<div class="top-banner" id="productBanner">
  <div uk-grid>
    <div class="uk-width-expand uk-flex uk-flex-middle">
      <p class="banner-text font-regular">Product & solutions crop up everyday to confuse you even more and so we are
        here to simplify things for you. We have included every single best option avaliable for you.</p>
    </div>
    <div class="uk-flex uk-flex-bottom uk-flex-center uk-width-auto@s">
      <img class="banner-img" src="/assets/images/landing-img/product-banner-updated.png" />
    </div>
  </div>
</div>

<div class="uk-container search-container">
  <!-- Search Form START -->
  <div class="search-form">
    <div class="search-field uk-grid-stack uk-grid-small" uk-grid>
      <div class="uk-width-expand">
        <form class="uk-search uk-search-default" autocomplete='off'>
          <span class="uk-search-icon-flip" [ngClass]="{ 'w-150':showReset}" uk-search-icon>
            <button *ngIf="showReset" class="reset-link" (click)="resetSearch($event)">
              <fa-icon [icon]="['fas', 'times-circle']"></fa-icon><span class="uk-visible@s"> Clear Search</span>
            </button>
          </span>
          <input class="uk-search-input font-regular search-box sm-pr-150" aria-label="search"
            [(ngModel)]="searchParams.searchTxt" (keyup)="onSearchChange($event)" required type="text"
            placeholder="Search here" name="search" autocomplete='off' />
        </form>
      </div>
      <div>
        <button class="uk-button uk-button-default search-btn" (click)="onSearch()">Search</button>
      </div>
    </div>
  </div>
  <!-- Search Form END -->
  <!-- Search Result START -->
  <div class="search-result" *ngIf="showResult">

    <div class="m-t-20 uk-hidden@s" *ngIf="productsList && productsList?.length > 0">
      <p class="font-regular-15 font-weight-600">Search Results ({{productsTotal}})
      </p>

      <div class="m-t-20 uk-grid-small" uk-grid>
        <div class="uk-width-1-1">
          <div class="search-result-box cursor-pointer" routerLink="/products/all"
            [queryParams]="{ searchTxt:searchParams.searchTxt}">
            <p>Products ({{productsTotal}})</p>
          </div>
        </div>
      </div>
      <p class="uk-text-center">
        <fa-icon style="color:#1A73E8;" [icon]="['fas', 'info-circle']"></fa-icon> Tap on the card to see the full
        results
      </p>
    </div>

    <div class="uk-text-center uk-text-bold pt-norec" *ngIf="productsList!==undefined && productsList?.length == 0">
      No Records found
    </div>
    <div class="uk-visible@s">
      <div uk-grid class="uk-flex-left uk-text-center uk-child-width-1-3@m">
        <div *ngFor="let product of productsList">
          <app-product-search-card [product]="product"></app-product-search-card>
        </div>
      </div>
      <div class="m-t-30" *ngIf="productsList!==undefined && productsList?.length > 0">
        <button class="uk-width-1-1 uk-button-default" (click)="showAllProducts()"> See All Products </button>
      </div>
    </div>

  </div>
  <!-- Search Result END -->
</div>

<!-- <div class="uk-container m-b-30">
  <div class="home-banner landing-bg">
    <div class="uk-child-width-1-2@s uk-padding" uk-grid>
      <div class="uk-text-left@s">
        <h1>Shop for Products easily!</h1>
        <p class="font-regular">
          Products & solutions crop up everyday to confuse you even more and so we are here to simplify things for you.
          We have included every single best option available for you. Just pick what you want based on your need and
          get them delivered home, from reputed online markets. It’s that easy!
        </p>
      </div>
    </div>
  </div>
</div> -->

<div class="uk-container products">
  <div class="grid-reverse-dir" uk-grid>
    <div class="uk-width-1-3@m">
      <div class="category-box bg-white uk-visible@s">
        <div uk-grid>
          <div class="uk-width-expand">
            <h3 class="uk-h4">Categories</h3>
          </div>
          <div *ngIf="searchParams.productCategory !== ''">
            <a class="uk-text-danger" (click)="clearSelection()">Clear Selection</a>
          </div>
        </div>
        <ul class="uk-list uk-list-large p-2" *ngIf="catsList!==undefined">
          <li *ngFor="let cat of catsList" (click)="onTabChange(cat.id,cat.name)" class="cursor-pointer"
            [ngClass]="{'cat-active': cat.id === searchParams.productCategory}">{{cat.name}} <span
              class="uk-badge uk-float-right">{{cat.productCount}}</span></li>
        </ul>
      </div>
    </div>
    <div class="uk-width-expand@m">
      <!-- Sample Implementation on 04-03-20 -->
      <!-- Mobile filter START -->
      <div class="bg-white category-box m-b-20 uk-hidden@s">
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-2-3">
            <div class="light-text">Showing</div>
            <p class="m-t-5 uk-text-bold font-regular">{{showingProduct}}</p>
          </div>
          <div class="uk-width-1-3">
            <button class="uk-button uk-button-default w-full h-full p-0"
              uk-toggle="target: #product-mobile-category-modal">Filter
              <fa-icon [icon]="['fas', 'filter']">
              </fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div id="product-mobile-category-modal" uk-modal>
        <div class="uk-modal-dialog">
          <button class="uk-modal-close-default color-white" type="button" uk-close></button>
          <div class="uk-modal-header bg-filter-header p-20">
            <h2 class="font-regular-24 color-white uk-text-bold">Categories</h2>
          </div>
          <div class="uk-modal-body p-20">
            <ul class="uk-list uk-list-large" *ngIf="catsList!==undefined">
              <li class="cursor-pointer" (click)="searchParams.productCategory = ''"
                [ngClass]="{'cat-active': !searchParams.productCategory}">All Products</li>
              <li *ngFor="let cat of catsList" (click)="searchParams.productCategory = cat.id" class="cursor-pointer"
                [ngClass]="{'cat-active': cat.id === searchParams.productCategory}">{{cat.name}} <span
                  class="uk-badge uk-float-right">{{cat.productCount}}</span></li>
            </ul>
          </div>
          <div class="uk-modal-footer">
            <p class="uk-text-center light-text">
              <fa-icon style="color: #1A73E8;" [icon]="['fas', 'info-circle']">
              </fa-icon> Tap to select category
            </p>
            <div class="uk-grid-small uk-child-width-1-2" uk-grid>
              <div>
                <button class="uk-button uk-button-transparent uk-modal-close w-full" type="button">Cancel</button>
              </div>
              <div>
                <button class="uk-button uk-button-default w-full" (click)="applyFilter()" type="button">Apply</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile filter END -->

      <!-- Products list  -->
      <div *ngIf="productsList!==undefined && productsList.length > 0">
        <app-product-detail-card *ngFor="let proudct of productsList" [product]="proudct"
          [searchTxt]="searchParams.searchTxt"></app-product-detail-card>
      </div>
      <app-pagination *ngIf="(productsList && productsList.length > 0)" [totalRecords]="totalRecords"
        [currentPage]="searchParams.p" [perPage]="searchParams.s" (pageChangeCall)="changePage($event)">
      </app-pagination>
      <div class="m-t-20" *ngIf="productsList==undefined || productsList.length == 0">
        <app-product-no-record></app-product-no-record>
      </div>
    </div>
  </div>

</div>