<div class="top-banner" id="productBanner">
  <div uk-grid>
    <div class="uk-width-expand uk-flex uk-flex-middle">
      <p class="banner-text font-regular">Product & solutions crop up everyday to confuse you even more and so we are
        here to simplify things for you. We have included every single best option avaliable for you.</p>
    </div>
    <div class="uk-flex uk-flex-bottom uk-flex-center uk-width-auto@s">
      <img class="banner-img" src="/assets/images/landing-img/product-banner-updated.png" />
    </div>
  </div>
</div>
<div [ngClass]="{'all-blue': searchTxt!='' }" class="mb-24">
  <div class="uk-container search-container">
    <!-- Search Form START -->
    <div class="search-form">
      <div class="search-field uk-grid-stack uk-grid-small" uk-grid>
        <div class="uk-width-expand">
          <form class="uk-search uk-search-default" autocomplete='off'>
            <span class="uk-search-icon-flip" [ngClass]="{ 'w-150':showReset}" uk-search-icon>
              <button *ngIf="showReset" class="reset-link" (click)="resetSearch($event)">
                <fa-icon [icon]="['fas', 'times-circle']"></fa-icon><span class="uk-visible@s"> Clear Search</span>
              </button>
            </span>
            <input class="uk-search-input font-regular search-box sm-pr-150" aria-label="search"
              [(ngModel)]="tempSearchTxt" (keyup)="onSearchChange($event)" required type="text"
              placeholder="Search here" name="search" autocomplete='off' />
          </form>
        </div>
        <div>
          <button class="uk-button uk-button-default search-btn" (click)="onSearch()">Search</button>
        </div>
      </div>
    </div>
    <!-- Search Form END -->
  </div>
  <app-product-results [showPagination]="showPagination" [showSharing]="showSharing" [searchTxt]="searchTxt" (showCount)="showProductCount($event)"></app-product-results>
</div>