<div class="uk-container products">
  <div class="breadcrumbs">
      <ul class="uk-breadcrumb">
          <li routerLink="/ask-question" class="fa fa-angle-right">Ask an Expert</li>
      </ul>
  </div>
  <h2>My Questions</h2>
  <hr class="m-b-30"/>
  <div uk-grid>
    <div class="uk-width-expand@m">
      <ul class="m-t-20" id="questionstab" uk-tab>
        <li (click)="onTopTabChange(0)" ><a href="#">Unanswered ({{totalRecords}})</a></li>
        <li (click)="onTopTabChange(1)" ><a href="#">Answered ({{totalRecordsQues}})</a></li>
      </ul>
      <ul class="uk-switcher uk-margin">
        <li>
          <div  *ngIf="unanswered!==undefined && unanswered.length > 0">
            <app-question-detail-card *ngFor="let unanswered of unanswered" [question]="unanswered" [viewby]="viewby"></app-question-detail-card>
          </div>
          <app-pagination *ngIf="(unanswered && unanswered.length > 0)" [totalRecords]="totalRecords" [currentPage]="searchParams.p" [perPage]="searchParams.s" (pageChangeCall)="changePage($event)"></app-pagination>
          <div class="m-t-20" *ngIf="unanswered==undefined || unanswered.length == 0">
            <app-question-expert-no-record></app-question-expert-no-record>
          </div>
        </li>
        <li>
          <div  *ngIf="questions!==undefined && questions.length > 0">
            <app-question-detail-card *ngFor="let question of questions" [question]="question" [viewby]="viewby"></app-question-detail-card>
          </div>
          <app-pagination *ngIf="(questions && questions.length > 0)" [totalRecords]="totalRecordsQues" [currentPage]="searchParamsQues.p" [perPage]="searchParamsQues.s" (pageChangeCall)="changePageQues($event)"></app-pagination>
          <div class="m-t-20" *ngIf="questions==undefined || questions.length == 0">
              <app-question-expert-no-record></app-question-expert-no-record>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>