.pagination {
  border-top: 1px solid #d7e0ef;
}
.uk-pagination {
  justify-content: center;
  width: 100%;
  margin: 30px auto 30px auto;
}
.uk-pagination > li.pagenum {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  margin: 0 5px;
  background-color:#c7c9cd;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  a{
    color:  #fff;
  }
}
.uk-pagination > li.pagenum.uk-active {
  background-color: #1a73e8;

}
.uk-pagination> .pagenum:hover {
    background-color: #93969e;
  }

  .uk-pagination> .pagenum:focus:active {
    background-color: #61656f;
  }

.uk-pagination > * > * {
  display: inline-block;
}
.uk-pagination .pg-align-1 {
  width: 78px;
  line-height: 50px;
  padding-left:0px;
  padding-right:0px;
  &.first {
    width: 55px;
  }
}
.uk-pagination .pg-align-2 {
  width: 56px;
  line-height: 50px;
  padding-left: 5px;
  padding-right: 0px;
}


// @media (max-width: 640px) {
//   .uk-pagination > li.pagenum {
//     width: 35px;
//     height: 35px;
//     line-height: 35px;
//   }
//   .uk-pagination > li:first-child {
//     width: auto;
//     line-height: 35px;
//   }
//   .uk-pagination > li:last-child {
//     width: auto;
//     line-height: 35px;
//   }
// }
.pageNext{
  color: #1a73e8;
}

.pagePrev{
  color: #1a73e8;
}


@media (max-width: 640px){
  .uk-pagination> li.pagenum{
    width: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin: 1px 3px;

  }
  .uk-pagination .pg-align-2 {
    line-height: 32px;
  }
  .uk-pagination > li:last-child {
    line-height: 32px;
}
.uk-pagination{
  margin-top: 10px;
  margin-bottom: -60px;
}
}
