<div class="uk-container eventslist">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <ul class="uk-breadcrumb">
            <li routerLink="/community" class="fa fa-angle-right">Community</li>
            <li class="fa fa-angle-right"><b>Events</b></li>
        </ul>
    </div>
    <!-- Bread crumbs End -->
    <!-- Tabs with list start -->
    <div class="uk-container">
        <ul uk-tab>
          <li class="uk-active"><a href="#">All Events</a></li>
          <li><a href="#">Outdoor Events (128)</a></li>
          <li><a href="#">Indoor Events(172)</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
          <li>
              <div class="uk-grid uk-grid-large uk-flex-center uk-text-center uk-child-width-1-3@m">
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
                <app-event-summary></app-event-summary>
              </div>
          </li>
          <li>
                <div class="uk-grid uk-grid-large uk-flex-center uk-text-center uk-child-width-1-3@m">
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                </div>
          </li>
          <li>
                <div class="uk-grid uk-grid-large uk-flex-center uk-text-center uk-child-width-1-3@m">
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                    <app-event-summary></app-event-summary>
                </div>
          </li>
        </ul>
    </div>
    <!-- Tabs with list end -->
    <!-- Pagination start -->
    <div class="uk-container">
        <app-pagination></app-pagination>
    </div>
    <!-- Pagination end -->
</div>