<div class="uk-container events" *ngIf="eventsList!=undefined">
    <!-- Bread crumbs Start -->
    <div class="breadcrumbs">
        <ul class="uk-breadcrumb">
            <li routerLink="/community" class="fa fa-angle-right">Community</li>
        </ul>
    </div>
    <h2>All Events</h2>
    <!-- Bread crumbs End -->
    <!-- Tabs with list start -->
    <div class="uk-container uk-position-relative">
        <div class="search-form uk-position-top-right">
            <div class="search-field uk-grid-stack uk-grid-small" uk-grid>
                <div class="uk-margin uk-width-1-1 uk-width-expand@s">
                <form class="uk-search uk-search-default">
                    <span class="uk-search-icon-flip" [ngClass]="{ 'w-150':showReset}" uk-search-icon>
                        <button *ngIf="showReset" (click)="resetSearch()" class="reset-search">
                            <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                        </button>
                        <button *ngIf="showReset" class="reset-link" (click)="resetSearch()">Reset&nbsp;&nbsp;</button>
                    </span>
                    <input class="uk-search-input search-box" [(ngModel)]="searchParams.searchTxt" (keyup)="onSearchChange($event.target.value)"
                    required type="text" placeholder="Search..." name="search" />
                </form>
                </div>
                <div class="uk-width-1-1 uk-width-auto@s uk-margin-bottom">
                <button class="uk-button uk-button-default search-btn" (click)="onSearch()">Search</button>
                </div>
            </div>
        </div>
        <ul uk-tab>
          <li (click)="onTabChange(0)" class="uk-active"><a href="#">All Events ({{countData.all}})</a></li>
          <li (click)="onTabChange(1)" ><a href="#">Outdoor Events ({{countData.outdoor}})</a></li>
          <li (click)="onTabChange(2)" ><a href="#">Indoor Events({{countData.indoor}})</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
          <li>
              <div class="uk-grid uk-grid-large uk-flex-left uk-text-center uk-child-width-1-3@m">
                <app-event-summary *ngFor="let event of eventsList" [event]="event" [eventType]="0"></app-event-summary>
              </div>
          </li>
          <li>
                <div class="uk-grid uk-grid-large uk-flex-left uk-text-center uk-child-width-1-3@m">
                    <app-event-summary *ngFor="let event of eventsList" [event]="event" [eventType]="1"></app-event-summary>
                </div>
          </li>
          <li>
                <div class="uk-grid uk-grid-large uk-flex-left uk-text-center uk-child-width-1-3@m">
                    <app-event-summary *ngFor="let event of eventsList" [event]="event" [eventType]="2"></app-event-summary>
                </div>
          </li>
        </ul>
    </div>
    <!-- Tabs with list end -->
    <app-pagination [totalRecords]="15" [currentPage]="2" [perPage]="3"></app-pagination>
</div>