<div class="event-register">
    <div class="uk-container">
        <h1 class="m-t-40">Sign Up to attend  Joy of Age  Events!</h1>
        <hr />
        <h4>Please sign up with your basic details here to participate in events that Joy of Age schedules every week, Also let us know your interests in other Areas of what Joy of Age offers !</h4>
        <div class="inner-container bg-white">
            <form>
                <!-- <h5>Your Name</h5> -->
                <div class="uk-margin uk-grid-small uk-child-width-1-2@m" uk-grid>
                    <div>
                        <label for="Address"
                            class="uk-form-label"><span uk-icon="icon: user"></span>First Name<span class="required">*</span></label>
                        <div class="uk-form-controls">
                            <input id="Address"
                                class="uk-input" formControlName="first name" placeholder="first name" />
                        </div>
                    </div>
                    <div >
                        <label for="Address" class="uk-form-label">Last Name</label>
                        <div class="uk-form-controls">
                            <input id="Address" class="uk-input" formControlName="address" placeholder="last name" />
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <label for="Landmark"
                        class="uk-form-label">Your Email</label>
                    <div class="uk-form-controls">
                        <input id="Landmark" class="uk-input" formControlName="landmark"
                            placeholder="Eg.: joyofage@gmail.com" />
                    </div>
                </div>
                <div class="uk-margin">
                    <label for="Landmark"
                        class="uk-form-label">Your Phone Number</label>
                    <div class="uk-form-controls">
                        <input id="Landmark" class="uk-input" formControlName="landmark"
                            placeholder="Eg.: 987654321" />
                    </div>
                </div>
                <div class="uk-margin">
                    <label for="Landmark"
                        class="uk-form-label">Which Event are you interested in ?</label>
                    <div class="uk-form-controls">
                        <input id="Landmark" class="uk-input" formControlName="landmark"
                            placeholder="Eg.: Please add event your intersted" />
                    </div>
                </div>
                <label for="Address"
                            class="uk-form-label">Would you be interested in our :<span class="required">*</span></label>
                <div class="uk-margin uk-grid-small uk-child-width-1-2@m" uk-grid>
                    <div>
                        <div class="uk-form-controls">
                                <label><input class="uk-radio" type="radio" name="radio1"> NewLetters</label>
                        </div>
                    </div>
                    <div class="uk-form-controls">
                        <label><input class="uk-radio" type="radio" name="radio1"> 2nd Career Options</label> 
                    </div>
                    <div class="uk-form-controls"> 
                        <label><input class="uk-radio" type="radio" name="radio1"> Learning Academy</label> 
                    </div>
                    <div class="uk-form-controls">
                        <input id="Address" 
                            class="uk-input"   formControlName="first name" placeholder="Others (Please Specify)" /> 
                    </div>
                </div>
                <hr/>
                <div class="uk-margin">
                    <button class="uk-button uk-button-transparent m-r-15" >Cancel</button>
                    <button class="uk-button uk-button-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>