<div class="popular-search">
  <div>
    <h4 class="font-regular font-weight-600">Popular Search</h4>
    <div class="uk-child-width-auto" uk-grid>
      <div>
        <a>National Insurance General Enquiries</a>
      </div>
      <div>
        <a>Getting repairs and decorating done</a>
      </div>
      <div>
        <a>Before you go into Work</a>
      </div>

      <div>
        <a>Money Advice Service</a>
      </div>

      <div>
        <a>Indian Lung Foundation – Breathe Easy support groups</a>
      </div>

      <div>
        <a>Guide Dogs for the blind</a>
      </div>
    </div>
  </div>
</div>