.popular-search{
    // padding: 24px 40px;
    > div{
      background: #D7E0EF;
      mix-blend-mode: normal;
      border-radius: 4px;
      padding: 24px;
      a{
        // margin-right:40px;
        font-size: 18px;
        line-height: 150%;
        color: #2A415E;
      }
    }
  }