.category-box {
    border: 1px solid #d7e0ef;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    .uk-badge {
      background: #d9dadc;
      color: #000;
      border-radius: 5px;
    }
  }

  .uk-list {
    background-color: #ffffff;
    a {
      color: #000;
    }
    & > li {
      padding: 10px 5px;
      &:hover {
        background-color: #d7e0ef;
        border-radius: 4px;
        font-weight: 400;
      }
    }
  }

  .cat-active {
    font-weight: 400;
    background-color: #d7e0ef;
    border-radius: 4px;
    // color: #1A73E8;
  }

  .sroll-category {
    max-height: 358px;
    overflow-y: auto;
  }
  