<div>
  <div class="uk-margin uk-text-center">
    <span class="verified-icon font-100"></span>
    <p class="font-regular">{{ verifiedString }}</p>
  </div>
  <form class="uk-form-stacked" [formGroup]="userform">
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">What’s your name?</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="form-stacked-text"
          [ngClass]="{'uk-form-danger' : formControl.firstName.invalid && (formControl.firstName.dirty || formControl.firstName.touched) }"
          type="text" formControlName="firstName" placeholder="Your Display Name...">
      </div>
    </div>

    <div [hidden]="auth.user?.userIdType === userIdType.EMAIL" class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Email</label>
      <div class="uk-form-controls">
        <input
          [ngClass]="{'uk-form-danger' : formControl.primaryEmail.invalid && (formControl.primaryEmail.dirty || formControl.primaryEmail.touched) }"
          class="uk-input" id="form-stacked-text" type="text" formControlName="primaryEmail" placeholder="Your Email...">
      </div>
    </div>

    <div [hidden]="auth.user?.userIdType === userIdType.MOBILE" class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Mobile Number</label>
      <div class="uk-form-controls">
        <input
          [ngClass]="{'uk-form-danger' : formControl.primaryPhoneNo.invalid && (formControl.primaryPhoneNo.dirty || formControl.primaryPhoneNo.touched) }"
          class="uk-input" id="form-stacked-text" type="text" formControlName="primaryPhoneNo"
          placeholder="Your Mobile Number...">
      </div>
    </div>
    <!-- <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Age</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="form-stacked-text" type="text" placeholder="Your age in years...">
      </div>
    </div> -->

    <!-- <div class="uk-margin">
      <div class="uk-form-label">Gender</div>
      <label class="mr-4"><input class="uk-radio" value="1" type="radio" formControlName="gender" checked> Male</label>
      <label class="mr-4"><input class="uk-radio" value="0" type="radio" formControlName="gender"> Female</label>
      <label><input class="uk-radio" type="radio" value="3" formControlName="gender"> Transgender</label>
    </div> -->

    <div class="uk-margin">
      <button class="uk-button uk-button-default submit-btn w-100" [disabled]="userform.invalid"
        (click)="onSubmit()">Submit</button>
    </div>
  </form>

  <!-- <div class="uk-padding-small skip">
    Skip this step. <a routerLink="/">Go back Home</a>
  </div> -->
</div>