@import "src/assets/css/variables.scss";
.skip{
    background-color: #E4EEFB;
    border-radius: 4px;
}
a{
    color: #1A72E8;
}
.uk-input{
    border-radius: 4px;
    height: 48px;
}
.uk-radio{
    height: 24px;
    width: 24px;
}

.submit-btn{
    height: 48px;
    border-radius: 4px;
    font-size: $font-small;
    &:focus{
        border: 2px solid #1A72E8;
    }
}