<div>
  <div class="uk-margin uk-text-center">
    <span class="verified-icon font-100"></span>
    <p class="font-regular">{{ verifiedString }}</p>
  </div>
  <form class="uk-form-stacked">
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">What’s your name?</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="form-stacked-text" type="text" placeholder="Phone Number...">
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Age</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="form-stacked-text" type="text" placeholder="Phone Number...">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-form-label">Gender</div>
      <label class="mr-4"><input class="uk-radio" type="radio" name="radio2" checked> Male</label>
      <label class="mr-4"><input class="uk-radio" type="radio" name="radio2"> Female</label>
      <label><input class="uk-radio" type="radio" name="radio2"> Transgender</label>
    </div>
  </form>

  <div class="uk-padding-small skip">
    Skip this step. <a routerLink="/">Go back Home</a>
  </div>
</div>