@import "src/assets/css/variables.scss";
.skip {
    background-color: #e4eefb;
    border-radius: 4px;
}
a {
    color: #1a72e8;
}
.uk-input {
    border-radius: 4px;
    height: 48px;
}
.uk-radio {
    height: 24px;
    width: 24px;
}
h1,
h2,
h3 {
    font-family: "HKGroteskRegular";
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
    color: rgba(22, 28, 45, 0.68);
}
// .submit-btn {
//     height: 48px;
//     border-radius: 4px;
//     font-size: $font-small;
//     &:active,
//     &:hover {
//         border: 2px solid #1a72e8;
//     }
// }

.category-box {
    border: 1px solid #d7e0ef;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
}
