@import "../../../assets/css/variables.scss";

.search-container {
  .uk-search-default .uk-search-icon {
    width: 164px;
}
  &.dark {
    background-color: #e4eefb;
    h4.title {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
  }
  border: 1px solid #d7e0ef;
  background-color: #ecf4ff;
  font-family: $regular-font;
  border-radius: 8px;
  .header-label {
    font-size: 24px;
    color: rgba(22, 28, 45, 0.87);
    margin: 40px 40px 16px 40px;
    h3 {
      font-weight: 600;
    }
  }
  .search-form {
    padding: 32px 40px;
    .search-field {
      form {
        width: 100%;
        input {
          height: 56px;
          border-radius: 4px;
          background-color: #ffffff;
          color: $font-light-black;
        }
      }
      .search-btn {
        height: 56px;
        border-radius: 4px;
        text-transform: capitalize;
        font-size: 18px;
        min-width: 216px;
        width: 100%;
      }
      @media (max-width: 640px) {
        .search-btn {
          height: auto;
          min-width: 80px;
          padding: 0px;
        }
        form {
          input {
            height: 40px;
          }
        }
      }
    }
  }
  @media (max-width: 640px) {
    .search-form {
      padding: 16px 16px;
    }
  }
  // .w-150 {
  //   width: 150px;
  // }
  // .pr-150 {
  //   padding-right: 150px !important;
  // }
  .reset-search {
    background-color: transparent;
    color: red;
    border-radius: 50%;
    padding: 2px 5px;
    border: unset;
    cursor: pointer;
    margin: 0;
    font-family: $regular-font;
    font-size: 16px;
    line-height: 1em;
    &:focus {
      outline: none;
    }
  }
  .reset-link {
    margin: 0 5px;
    background: none;
    color: red;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  
}

.events {
  font-family: $regular-font;
  margin-bottom: 24px;
  h1{
    color: $font-light-black;
    font-family: $regular-font;
    font-weight: bold;
    font-size: 2rem;
    margin-top:0px;
    margin-bottom:0px;
  }
  .addevent{
    text-transform: capitalize;
    background-color: #D7E0EF;
    width: 100%;
    margin-top: 16px;
  }
  .uk-tab > .uk-active > a {
    font-weight: bold;
    color: $primary-txt-color;
    text-transform: none;
    font-size: 18px;
    border-bottom: 4px solid $primary-txt-color !important;
  }
  .uk-tab a{
    text-transform: none;
    font-size: 18px;
    color: $font-light-black;
  }
  .w-150{
    width: 150px;
  }
  .pr-150{
    padding-right:150px !important;
  }
  .cat-active{
    font-weight: 400;
    background-color: #D7E0EF;
    border-radius: 4px;
    // color: #1A73E8;
  }
  .uk-list{
    background-color: #ffffff;
    & > li{
      a{
        color: #000;
      }
        padding: 10px 5px;
      &:hover{
        background-color: #D7E0EF;
        border-radius: 4px;
        font-weight: 400;
      }
    }
  }
  .category-box{
    border: 1px solid #D7E0EF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;    
    .uk-badge{
        background: #D9DADC;
        color: #000;
        border-radius:5px;
    }
  }
  .whatapp-icon{
    background:#009487;
    color:#fff;
  }

  .fb-icon{
      background:#2a415e;
      color:#fff;
  }

  .email-icon{
      background:#1772eb;
      color:#fff;

  }
  .social-link{
    color: #000;
  }
  // .add-event-inner{
  //   background-color: #D7E0EF;
  //   font-size: 18px;
  //   color: $primary-txt-color;
  //   border-radius: 4px;
  //   height: 100%;
  //   min-height: 270px;
  //   svg{
  //     margin-top: 32%;
  //   }
  // }
  // .add-event{
  //   margin-bottom: 20px;
  // }
  .search-form {
    .search-field {
      form {
        width: 100%;
        input {
          height: 40px;
          border-radius: 4px;
          background-color: #ffffff;
          color: $font-light-black;
        }
      }
      .search-btn {
        height: 40px;
        border-radius: 4px;
        text-transform: capitalize;
        font-size: 18px;
        min-width: 150px;
        width: 100%;
        margin-top: -1px;
      }
    }
    .reset-search{
      background-color: transparent;
      color: red;
      border-radius: 50%;
      padding: 2px 2px;
      border: unset;
      cursor: pointer;
      margin: 0;
      font-family: $regular-font;
      font-size: 16px;
      line-height: 1em  ;
      &:focus{
        outline:none;
       }
    }
    
    .reset-link{
      margin: 0 5px;
        background:none;
        color: red;
         border:none; 
         padding:0!important;
         font: inherit;
         cursor: pointer;
         &:focus{
          outline:none;
         }
    
    }
  }
  .search-form::after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
  }

  @media (max-width : 640px) {
    .addevent{
      width: 170px;
      padding: 0px;
    }
  }
.createevent{
  background: rgb(228, 238, 251);
  border-radius: 3px;
  margin-left: 0px;
  font-size: 18px;
  margin-top: 0px;
  p{
    text-align: center;
    margin-left: -18px;
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    
  }
}
  
}

.searchresult{
  border-radius:1px;
  border: 1px solid rgba(22, 28, 45, 0.16);
  box-sizing: border-box;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 16px;
  p{
    margin-left: 16px;
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 9px;
  }
}