<!-- Contact detail from -->
<div class="category-box m-t-40">
    <h3>Contact Details</h3>
    <hr />
    <form class="uk-form-stacked">

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Phone Number</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Enter phone number">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Email ID</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Enter emailId">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select">Country</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="form-stacked-select">
                    <option disabled selected hidden value="">Select Country</option>
                    <option>India</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select">City</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="form-stacked-select">
                    <option disabled selected hidden value="">Select City</option>
                    <option>Bengaluru</option>
                    <option>Hyderabad</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Address</label>
            <div class="uk-form-controls">
                <textarea class="uk-input min-h-100" id="form-stacked-text" placeholder="Enter your address"></textarea>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Zip</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Enter zipcode">
            </div>
        </div>

        <hr class="m-t-75" />
        <p class="uk-text-right">
            <button class="uk-button uk-button-transparent uk-modal-close">Cancel</button>
            <button class="m-l-10 uk-button uk-button-default">Submit</button>
        </p>
    </form>
</div>
<!-- Contact detail from -->