<!-- Contact detail from -->
<div class="category-box m-t-40 bg-white">
    <h3>Address</h3>
    <label class="private-checkbox" for="private-imformation"><input class="uk-checkbox" id="private-imformation"
            type="checkbox" checked> This information is
        private</label>
    <hr />
    <!-- Error box START-->
    <div *ngIf="!isLoading && errorMessage" class="uk-alert-danger" uk-alert>
        <p><span class="uk-icon mr-5" uk-icon="warning"></span> {{ errorMessage }}</p>
    </div>
    <!-- Error box END-->
    <!-- Success box START-->
    <div *ngIf="!isLoading && successMessage" class="uk-alert-success" uk-alert>
        <p><span class="uk-icon mr-5" uk-icon="info"></span> {{ successMessage }}</p>
    </div>
    <!-- Success box END-->
    <form [formGroup]="contactForm" class="uk-form-stacked" (ngSubmit)="onSubmit()">

        <!-- <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Phone Number</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" formControlName="primaryPhoneNo" type="text"
                    placeholder="Enter phone number">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Email ID</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" type="text" formControlName="primaryEmail"
                    placeholder="Enter emailId">
            </div>
        </div> -->

        <!-- <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select">Country</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="form-stacked-select" formControlName="country">
                    <option disabled selected hidden value="">Select Country</option>
                    <option>India</option>
                </select>
            </div>
        </div> -->


        <div class="uk-margin">
            <label class="uk-form-label" for="Address">Your Address</label>
            <div class="uk-form-controls">
                <textarea class="uk-input min-h-100" id="Address" formControlName="streetAddress"
                    placeholder="Enter your address"></textarea>
            </div>
        </div>

        <!-- <div class="uk-margin">
            <label class="uk-form-label" for="city">City</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="city" formControlName="city">
                    <option disabled selected hidden value="">Select City</option>
                    <option>Bengaluru</option>
                    <option>Hyderabad</option>
                </select>
            </div>
        </div> -->

        <div class="uk-margin">
            <label class="uk-form-label" for="city">City</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="city" formControlName="city" type="text" placeholder="Enter City">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label"
                [ngClass]="{'uk-text-danger' : formControl.zip.invalid && (formControl.zip.dirty || formControl.zip.touched) }"
                Ifor="zip">Pin Code</label>
            <div class="uk-form-controls">
                <input
                    [ngClass]="{'uk-form-danger' : formControl.zip.invalid && (formControl.zip.dirty || formControl.zip.touched) }"
                    class="uk-input" id="zip" type="number" (keyup)="setMaxValue($event.target.value)" formControlName="zip" placeholder="Enter Pin Code">
                <small aria-describedby="zip"
                    *ngIf="formControl.zip.invalid && ( formControl.zip.dirty ||  formControl.zip.touched)"
                    class="uk-text-danger">Error: Pincode should be of 6 digits.
                </small>
            </div>
        </div>

        <hr class="m-t-75" />
        <p class="uk-text-right">
            <button class="uk-button uk-button-transparent uk-modal-close" type="button"
                (click)="onCancel()">Cancel</button>
            <button class="m-l-10 uk-button uk-button-default" type="button" [disabled]="contactForm.invalid"
                (click)="showOtpModal()" [disabled]="contactForm.invalid">Save Changes</button>
        </p>
    </form>
    <app-otp-popup [mobileNum]="otpMobile" [showModal]="otpModalShow" (updateOtp)="updateOtp($event)"></app-otp-popup>
</div>
<!-- Contact detail from -->