<!-- Change picture form -->
<div class="category-box bg-white">
    <h3>Key Profile Information</h3>
    <div class="uk-width-expand@s">
        <label class="private-checkbox" for="private-imformation"><input class="uk-checkbox" id="private-imformation"
                type="checkbox" checked>This information is private unless marked “Visible to users / visitors on
            site”</label>
    </div>
    <hr />
    <!-- Error box START-->
    <div *ngIf="!isLoading && errorMessage" class="uk-alert-danger" uk-alert>
        <p><span class="uk-icon mr-5" uk-icon="warning"></span> {{ errorMessage }}</p>
    </div>
    <!-- Error box END-->
    <!-- Success box START-->
    <div *ngIf="!isLoading && successMessage" class="uk-alert-success" uk-alert>
        <p><span class="uk-icon mr-5" uk-icon="info"></span> {{ successMessage }}</p>
    </div>
    <!-- Success box END-->

    <div uk-grid>
        <div class="uk-width-1-3@s uk-flex uk-flex-center">
            <div class="display-picture">
                <img [src]="profileImage || 'assets/images/default-thumbnail.png'" alt="user profile image">
                <div class="uk-text-center p-12">
                    <div uk-form-custom class="w-100">
                        <input type="file" (change)="fileChange($event)" accept="image/*">
                        <button class="uk-button uk-button-default w-100" type="button" tabindex="-1">Select a
                            picture</button>
                        <span style="font-size: 12px;">(Visible to users / visitors on site)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-expand@s">
            <form class="uk-form-stacked" [formGroup]="basicProfile">

                <div class="uk-margin">
                    <label class="uk-form-label"
                        [ngClass]="{'uk-text-danger' : formControl.firstName.invalid && ( formControl.firstName.dirty ||  formControl.firstName.touched) }"
                        for="firstName">Name<span class="required">*</span> <span>(Visible to users / visitors on
                            site)</span> </label>
                    <div class="uk-form-controls">
                        <input class="uk-input"
                            [ngClass]="{'uk-form-danger' : formControl.firstName.invalid && ( formControl.firstName.dirty ||  formControl.firstName.touched) }"
                            id="firstName" formControlName="firstName" type="text" placeholder="Name">
                        <small aria-describedby="firstName"
                            *ngIf="formControl.firstName.invalid && ( formControl.firstName.dirty ||  formControl.firstName.touched)"
                            class="uk-text-danger">Name is required to save your key information.</small>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label"
                        [ngClass]="{'uk-text-danger' : formControl.primaryEmail.invalid && ( formControl.primaryEmail.dirty ||  formControl.primaryEmail.touched) }"
                        for="Email-ID">Email address<span class="required">*</span></label>
                    <div class="uk-form-controls">
                        <input class="uk-input"
                            [ngClass]="{'uk-form-danger' : formControl.primaryEmail.invalid && ( formControl.primaryEmail.dirty ||  formControl.primaryEmail.touched) }"
                            id="Email-ID" formControlName="primaryEmail" type="text" placeholder="Email address">
                        <small aria-describedby="Email-ID"
                            *ngIf="formControl.primaryEmail.invalid && ( formControl.primaryEmail.dirty ||  formControl.primaryEmail.touched)"
                            class="uk-text-danger">
                            <span *ngIf="formControl.primaryEmail.errors.required">Email address is required to
                                save your key information.</span>
                            <span *ngIf="formControl.primaryEmail.errors.email">Invalid Email address, please
                                enter a
                                valid email ID.</span>
                        </small>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label"
                        [ngClass]="{'uk-text-danger' : formControl.primaryPhoneNo.invalid && ( formControl.primaryPhoneNo.dirty ||  formControl.primaryPhoneNo.touched) }"
                        for="Phone-number">Mobile phone number<span class="required">*</span></label>
                    <div class="uk-form-controls">
                        <input class="uk-input"
                            [ngClass]="{'uk-form-danger' : formControl.primaryPhoneNo.invalid && ( formControl.primaryPhoneNo.dirty ||  formControl.primaryPhoneNo.touched) }"
                            id="Phone-number" formControlName="primaryPhoneNo" type="number" placeholder="Phone number">
                        <small aria-describedby="Phone-number"
                            *ngIf="formControl.primaryPhoneNo.invalid && ( formControl.primaryPhoneNo.dirty ||  formControl.primaryPhoneNo.touched)"
                            class="uk-text-danger">Mobile phone number is required to save your key
                            information.</small>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <hr />
    <p class="uk-text-right">
        <button class="uk-button uk-button-transparent uk-modal-close" type="button"
            (click)="onCancel()">Cancel</button>
        <button class="m-l-10 uk-button uk-button-default" (click)="showOtpModal()"
            [disabled]="basicProfile.invalid || isLoading">Save Changes</button>
    </p>
    <app-otp-popup [mobileNum]="otpMobile" [showModal]="otpModalShow" (updateOtp)="updateOtp($event)"></app-otp-popup>
</div>
<!-- Change picture form END-->


<app-merge-request-modal 
    [showModal]="showMergeModel" 
    [isTypeMobile]="mergePopupTypeisMobile"
    [oldAccountDetails]="oldAccountDetails"
    [newUserDetails]="newAccountDetails"
    [isWhileRegistration]="false"
    (isMergeRequired)="isMergeRequired=$event; proceedUpdate(null)"
    (onModalVisibilityChange)="showMergeModel=$event" ></app-merge-request-modal>