@import "../../../assets/css/variables.scss";

.center {
  padding: 40px;
  position: fixed;
  width: 100%;
  height: 100%;
  >div {
    background: #ecf4ff;
    height: 100%;
  }
  }
   h1{
      font-size: 70px;
      font-weight: 600;
      font-family:"HKGroteskRegular"; 
   }

  a{
    color: #1A73E8; 
}

.uk-button-default{

    border-radius: 4px;
    font-size: 18px;
    border: none;
    text-transform: none;
    padding: 0px 30px;
}

.uk-button-transparent{
  border-radius: 4px;
  font-size: 18px;
  text-transform: none;
  padding: 0px 30px;
}