h1 {
    font-family: "HKGroteskRegular";
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
    color: rgba(22, 28, 45, 0.68);
}

.uk-accordion-title {
    font-family: "HKGroteskRegular";
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(22, 28, 45, 0.68);
    font-size: 23px;
}
.link {
    color: #1a73e8;
}
