<div class="uk-section">

    <h1>Terms and Conditions</h1>
    <hr />

    <div>

        <div>
            <h3 class="font-regular-24 font-weight-700 m-0">Introduction</h3>
            <hr class="m-t-10" />
            <p class="font-regular-15">
                The User's (defined below) use of Elderly Care Platform ("Website") and related tools and services
                thereof, including but not limited to viewing information, acting on such information and the
                transactions that may be implemented through the Website, is governed by and shall be subject to these
                terms and conditions ("Agreement"), the terms whereof are subject to change at any time, without prior
                notice to You. Any new features or tools which are added to the current Website shall also be subject to
                the Terms of Service. To ensure that You are aware of the changes, please review this Agreement and all
                the documents referred to hereunder periodically.
            </p>
            <p class="font-regular-15">
                This Website is developed and maintained by Elderly Care Platform ("Company") a company incorporated
                under the Companies Act, 2013, having its registered office at Bangalore - 560043
            </p>
            <p class="font-regular-15">
                For the purposes of this Agreement, the term "User(s)" and wherever the context so requires "You" or
                "Your" shall mean any natural or legal person who has access and is using the Website. The terms "We",
                "Us" and "Our" shall mean the Company. In the event You are representing an incorporated entity, You
                hereby confirm that You have been expressly authorized by such entity to consent this User Agreement,
                and such entity agrees to be bound by the terms hereunder.</p>
            <p class="font-regular-15">
                This Agreement sets forth the legally binding terms of Your use of the Website and related services. By
                proceeding further, You confirm that You have read and have agreed and accepted to be bound by the terms
                and conditions mentioned herein and incorporated in any additional guidelines or rules applicable to
                particular services on the Website ("Additional Documents"), which shall be deemed to be a part of this
                Agreement. In the event of any conflict between the terms of this Agreement and any aforesaid Additional
                Documents, the Additional Documents shall prevail. If any of the terms of this Agreement or of any of
                the Additional Documents are not acceptable to You, please do not use the Website. Your continued usage
                of the Website after any change constitutes Your acceptance of the amended Agreementu</p>

        </div>

        <div class="m-t-40">
            <h3 class="font-regular-24 font-weight-700 m-0">Scope</h3>
            <hr class="m-t-10" />
            <p class="font-regular-15">
                You acknowledge that the Website is an online platform to facilitate exchange of information relating to
                health and health related products and services ("Information"), purchase of Products (defined below)
                and Services, for the benefit of senior citizens, their families and caregivers ("Senior Citizens"). You
                understand and agree that any information on the Website, including the Information or exchange thereof
                is not and shall not be construed to mean medical advice, prognosis or diagnosis for any reason
                whatsoever. Additionally, all such Information is subject to confirmation by a registered medical
                practitioner. You further agree that any reliance in the Information shall be at Your own risk and
                volition.</p>
            <p class="font-regular-15">
                Users are entitled to purchase products related to health and health related products displayed on the
                Website, including without limitation mobility aids, health monitoring devices, convenience products,
                equipment, food supplements, diagnostics equipment, orthopedic support, toilet aids, incontinence
                products and other health support products ("Products"). Additionally, the Website facilitates the
                option for the Users to avail health related services from third party service providers such as for
                nursing, calling an ambulance, health assistants, assistance for hospitalization and such other services
                that may be offered by the Company from time to time("Services").</p>
            <p class="font-regular-15">
                The Company represents that all Products and Services are made available from third party manufacturers
                ("Product Vendor(s)") and service providers ("Service Provider Vendor(s)") and are not in any manner
                manufactured or rendered by the Company. The Product Vendors and Service Provider Vendors shall
                hereinafter be collectively referred as Vendors. Any representation or information on the Products or
                Services are in accordance with the data and information provided by the relevant Vendors and therefore
                the Company is not and shall not be liable for any claims in this regard, whatsoever.</p>

        </div>

        <div class="m-t-40">
            <h3 class="font-regular-24 font-weight-700 m-0">Personal Information</h3>
            <hr class="m-t-10" />
            <p class="font-regular-15">
                The privacy of Your information is governed by the privacy policy ("Privacy Policy") and the additional
                provisions in this Agreement. You confirm that You have also read and have agreed and accepted to be
                bound by the terms and conditions incorporated in the terms of the Privacy Policy, which shall be deemed
                to be a part of this Agreement. It is clarified that any information provided or exchanged by You on or
                through the Website with any third party is at Your sole risk and We do shall not be liable for any
                claims in this regard whatsoever.
            </p>
        </div>

        <div class="m-t-40">
            <h3 class="font-regular-24 font-weight-700 m-0">Terms of Use</h3>
            <hr class="m-t-10" />
            <p class="font-regular-15">
                You acknowledge that certain parts of this Website are available only if You register on this Website by
                following the registration process mentioned under this User Agreement and provided that You are an
                active customer of Beautiful Years and are not subject to suspension, cancellation or disciplinary
                proceeding by Beautiful Years under this User Agreement or otherwise.
            </p>
            <p class="font-regular-15">
                Your access to and use of this Website will be through a User Account with a password ("User Account")
                created on the Website, to identify such User. The Website will provide You with an option to access the
                Website through Your existing user accounts associated with any social media platform or any other
                website including without limitation through Your email service providers (e.g. Gmail), Facebook, Google
                Plus etc. However, the Products and certain Services associated with this Website are available only if
                You register on this Website by submitting know Your customer ("KYC") details. You acknowledge that the
                KYC information includes personal information, including without limitation, details about [bank
                information], contact information and such other information as required by Us ("Your Information"). By
                submitting Your Information on the Website, You hereby expressly consent to Us using Your Information. A
                confirmation mail will be sent to Your preferred account at the time of registering, to verify the User
                Account created by You on the Website. Your User Account will be active only after You verify Your
                e-mail address by clicking on the verification link. In case You use an e-mail address provided to You
                by Your employer or organization, Your access or use of the Website may be blocked by Your
                employer/organization depending on the policies of Your employer or organization, as the case maybe, and
                We shall not be liable for non-access of the Website in such an event. You hereby understand and agree
                that certain personal information as provided by You on the Website, may be shared with the Courier
                Agency (defined below) and/or the third party Service Provider Vendor for processing the Your Order
                (defined below) and You hereby consent to the same. We shall not be liable for any use/misuse of such
                personal information by such Courier Agency or Service Provider Vendor, for any reason whatsoever.
            </p>
            <p class="font-regular-15">
                It is clarified that Your right to be a registered User is subject to Our confirmation. We shall under
                no circumstances be liable for the authenticity of Your Information submitted on this Website as a
                registered User. We will take reasonable measures to ensure that Your Information remains confidential,
                secure and is used only for the purposes of verification. In the event there are any changes to Your
                Information, You agree to immediately intimate Us of such change in writing at writetous@Elderly Care
                Platform.com. If You provide any information that is untrue, inaccurate, incomplete or not current or if
                We have reasonable grounds to suspect that such information is untrue, inaccurate, not current or not in
                accordance with the User Agreement, We have the right to reject the order and/or suspend or terminate
                Your User Account.</p>
            <p class="font-regular-15">
                Upon being successfully registered as a User, You consent to receiving periodic newsletters from
                Beautiful Years on the e-mail address provided by You.
            </p>
            <p class="font-regular-15">
                The Company reserves the right to restrict or refuse Your access and/or usage to the Website, in any
                manner, including but not restricted to termination of Your User Account or removal of the content
                associated with Your User account, without providing You with any reasons and without a prior notice.
                You understand that consequent to Your termination or deletion of Your User Account, You will not be
                allowed to access or use certain parts of the Website which need mandatory registration. You acknowledge
                that any content that you may have posted on the website will not be removed or deleted upon your
                deletion or termination of Your User Account with Us.
            </p>
            <p class="font-regular-15">
                You shall be solely responsible for any activity occurs through Your User Account and shall not hold Us
                liable in this regard, for any reason whatsoever. You undertake the responsibility to control the
                dissemination and use of the User ID and passwords associated with Your User Account, permit, supervise
                and regulate entry to Your User Account. Company cannot and will not have any obligation or culpability
                for any data submitted on Your User Account or any data used or misused whether submitted, utilized, or
                misused by You, Your representatives or any third party; whether or not acting on Your behalf.</p>

        </div>

        <div class="m-t-40">
            <h3 class="font-regular-24 font-weight-700 m-0">Content</h3>
            <hr class="m-t-10" />
            <p class="font-regular-15">
                You are solely responsible for any data, content, Information, pictorial representations and/or images
                ("Content") that You upload, submit or send to or exchange on the Website. We shall under no
                circumstances be responsible for any claims made by a third party in respect thereof.
            </p>
            <p class="font-regular-15">
                Even though We make Our best efforts to ensure that the Information on Products and Services provided by
                Us on the Website is accurate and relevant, We do not guarantee the accuracy, correctness and/or
                relevancy of such Information which shall at all times be subject to independent review and confirmation
                by a registered and qualified medical practitioner. The Information on the Website may not be exhaustive
                or comprehensive. Accordingly, no part of the Information is to be relied upon for arriving at any
                conclusion as to medical diagnosis or prognosis of any person or for inference of any indications as to
                diseases, ailments, physical or mental conditions or any other health conditions and/or treatment
                thereof. Under no circumstances is the Information meant to replace diagnosis and treatment by a
                registered medical practitioner. The Company shall not be liable for any treatment or interpretation
                based on the Information and/or recommendations, and Your reliance on the same shall be at Your own
                risk.
            </p>
        </div>

        <div class="m-t-40">
            <h3 class="font-regular-24 font-weight-700 m-0">Content</h3>
            <hr class="m-t-10" />
            <p class="font-regular-15">
                You are solely responsible for any data, content, Information, pictorial representations and/or images
                ("Content") that You upload, submit or send to or exchange on the Website. We shall under no
                circumstances be responsible for any claims made by a third party in respect thereof.
            </p>
        </div>

        <div class="m-t-40">
            <h3 class="font-regular-24 font-weight-700 m-0">Content</h3>
            <hr class="m-t-10" />
            <p class="font-regular-15">
                You are solely responsible for any data, content, Information, pictorial representations and/or images
                ("Content") that You upload, submit or send to or exchange on the Website. We shall under no
                circumstances be responsible for any claims made by a third party in respect thereof.
            </p>
        </div>

    </div>
</div>