<div class="uk-section">

    <h1 tabindex=0 id="termsHeader">Terms and Conditions</h1>
    <hr />


    <ul uk-accordion="multiple: true">
        <li>
            <a class="uk-accordion-title" href="#">Basis of use of website</a>
            <div class="uk-accordion-content">
                <p class="font-regular-15">In using this website, you agree that you have read and understood these
                    terms and conditions and you agree to them. If you do not agree to these terms and conditions you
                    are not authorised to use this website.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Third party websites</a>
            <div class="uk-accordion-content">
                <p class="font-regular-15">Certain links on the website lead to resources located on servers maintained
                    by third parties over whom we has no control or connection, business or otherwise as these sites are
                    external to us and you agree and understand that by visiting such sites you are beyond our website.
                    We therefore neither control, endorse or offer any judgement or warranty and accept no
                    responsibility or liability for the authenticity/availability of any of the goods/services/or for
                    any damage, loss or harm, direct or consequential or any violation of local or international laws
                    that may be incurred by your visit and/or transaction/s on these sites.</p>
                <p class="font-regular-15"> You must make all necessary inquiries before entering into any transaction
                    or remitting monies, data, personal information, etc. or contracting with or accepting or acting on
                    third party promotional content in any manner.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Our liability to you</a>
            <div class="uk-accordion-content">
                <p class="font-regular-15">On condition of us allowing you free access to the material on this website
                    you accept that we shall not be liable for any loss or damage caused directly or indirectly by your
                    reliance on the information on this website except to the extent we are unable to do so by law. This
                    is a comprehensive exclusion of liability and includes all losses, damages, costs and expenses of
                    any kind including loss of profit, economic loss, loss of goodwill and all and any direct, indirect
                    or consequential loss of any kind. The exclusions and restrictions of liability contained in these
                    terms and conditions are considered reasonable by you.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Intellectual property</a>
            <div class="uk-accordion-content">
                <p class="font-regular-15">All copyright, trademarks and other intellectual property rights in all
                    material or content in this website shall at all times remain our property or that of our licensors.
                    You are allowed to use this material and content of the website as expressly authorised by us or our
                    licensee. You may not copy, modify, distribute, reproduce, transmit, license, publish, use or resell
                    the information or incorporate into any other work, part or all of the material available on the
                    website in any form except that you may:</p>
                <ul class="font-regular-15">
                    <li>Print or download extracts of the material on this website for your personal non-commercial use.
                    </li>
                    <li>Copy the material on this website for the purpose of sending to individual third parties for
                        their personal non-commercial information, provided that you acknowledge us as the source of the
                        material and that you inform the third parties that these conditions apply to them and that they
                        must comply with them.
                    </li>
                </ul>
                <p class="font-regular-15">You will notify us immediately, if you become aware that any third party
                    infringes our intellectual property rights.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Disclaimer</a>
            <div class="uk-accordion-content">
                <p class="font-regular-15">All the contents of the website are only for general information or use. They
                    do not constitute advice and should not be relied upon in making (or refraining from making) any
                    decision or action. Any specific advice or replies to queries in any part of the website is/are the
                    personal opinion of such experts/consultants/persons and are not subscribed to by the website. The
                    information from or through this website is provided on “as is” and “as available” basis, and we do
                    not warrant that the website will operate error-free or that the website and its servers are free of
                    computer viruses or other harmful mechanisms. If your use of the website or content therein results
                    directly or indirectly in need for servicing or replacing equipment, software or data, we are not
                    responsible for any such costs. Website and content are provided on an “as is” basis without any
                    warranties of any kind and to the maximum extent permitted in law all warranties, expressed or
                    implied of any kind, regarding any matter pertaining to any goods, service or channel, including
                    without limitation, the implied warranties of merchantability, fitness for a particular purpose, and
                    non-infringement are disclaimed and excluded. You should not rely on the content of the websites as
                    a substitute for, nor does it replace any medical, financial, tax, legal, educational or other
                    professional advice. If you have any questions or inquiries about your health, you must seek the
                    advice of your doctor. Prior to any sale or purchase of any product, real estate, securities or
                    investment. You should consult your financial advisor. The use of the website is solely at your
                    risk.</p>
                <p class="font-regular-15">
                    We shall not be liable, at any time for damages (including, without limitation, damages for loss of
                    business projects, loss of savings, loss of revenue, loss or loss of profits) arising in contract,
                    tort or otherwise from the use of or inability to use the website, or any of its contents, or from
                    any act or omissions a result of using the website or any such contents or for any failure of
                    performance, error, omission, interruption, deletion, defect, delay in operation or transmission,
                    computer virus, communications line failure, theft or destruction or unauthorised access to,
                    alteration of, or use of information contained on the website. No representations, warranties or
                    guarantees whatsoever are made as to the accuracy, adequacy, reliability, completeness, suitability
                    or applicability of the information to a particular situation. We, our affiliates, directors,
                    shareholders, employees, representatives, advertisers and content providers, shall not be liable to
                    you or anyone else as a result of your access of the website for indirect, special, incidental,
                    punitive or exemplary damages.
                </p>
            </div>
        </li>

        <li>
            <a class="uk-accordion-title" href="#">Modifications</a>
            <div class="uk-accordion-content">
                <p class="font-regular-15">We reserve the right to add, remove, edit, update, change or modify these
                    terms and conditions including but not limited to suspend, cancel, or discontinue this website or
                    services or portions or sections thereof at any time without notice. The modifications and changes
                    shall be effective immediately upon posting on this page. It shall be your sole responsibility to
                    review these terms and conditions prior to each use of the website. You shall be deemed to have
                    accepted all such modifications and change if you continue to access the website thereafter.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">General</a>
            <div class="uk-accordion-content">
                <p class="font-regular-15">Each of the provisions contained in these terms and conditions shall be
                    construed as being independent of every other and if any provision contained in the terms and
                    conditions is determined to be invalid or unenforceable pursuant to applicable law including, but
                    not limited to the limitations on liability, such determination shall not affect the validity of the
                    remainder of the terms and conditions which shall continue in effect.</p>
                <p class="font-regular-15">
                    Our website is operated and controlled from India and these terms and conditions and your use of
                    this website are governed by and construed in accordance with the law of India.
                </p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Privacy policy</a>
            <div class="uk-accordion-content">
                <p class="font-regular-15">Please also visit our Privacy Policy section establishing the collection, use
                    and disclosure of the information
                    we collect on our website at <a class="link" routerLink="/user-policy">Privacy Policy</a>.</p>
            </div>
        </li>
    </ul>

</div>