<div class="uk-section">

    <h1>Terms and Conditions</h1>
    <hr />



    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Introduction</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            The User's (defined below) use of Joy of Age ("Website") and related tools and services thereof, including but
            not limited
            to viewing information, acting on such information and the transactions that may be implemented through the
            Website, is
            governed by and shall be subject to these terms and conditions ("Agreement"), the terms whereof are subject
            to change at
            any time, without prior notice to You. Any new features or tools which are added to the current Website
            shall also be
            subject to the Terms of Service. To ensure that You are aware of the changes, please review this Agreement
            and all the
            documents referred to hereunder periodically.
        </p>
        <p class="font-regular-15">
            This Website is developed and maintained by Foundation for Innovation and Social Entrepreneurship
            ("Company") a company incorporated under the Companies Act, 2013, having its registered office at No. 3
            ,14th Main,HSR Layout ,Sector 5,Bangalore 560102
        </p>
        <p class="font-regular-15">
            For the purposes of this Agreement, the term "User(s)" and wherever the context so requires "You" or "Your"
            shall mean any natural or legal person who has access and is using the Website. The terms "We", "Us" and
            "Our" shall mean the Company. In the event You are representing an incorporated entity, You hereby confirm
            that You have been expressly authorized by such entity to consent this User Agreement, and such entity
            agrees to be bound by the terms hereunder.</p>
        <p class="font-regular-15">
            This Agreement sets forth the legally binding terms of Your use of the Website and related services. By
            proceeding further, You confirm that You have read and have agreed and accepted to be bound by the terms and
            conditions mentioned herein and incorporated in any additional guidelines or rules applicable to particular
            services on the Website ("Additional Documents"), which shall be deemed to be a part of this Agreement. In
            the event of any conflict between the terms of this Agreement and any aforesaid Additional Documents, the
            Additional Documents shall prevail. If any of the terms of this Agreement or of any of the Additional
            Documents are not acceptable to You, please do not use the Website. Your continued usage of the Website
            after any change constitutes Your acceptance of the amended Agreement.</p>

    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Scope</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            You acknowledge that the Website is an online platform to facilitate exchange of information relating to
            health and health related products and services ("Information"), purchase of Products (defined below) and
            Services, for the benefit of senior citizens, their families and caregivers ("Senior Citizens"). You
            understand and agree that any information on the Website, including the Information or exchange thereof is
            not and shall not be construed to mean medical advice, prognosis or diagnosis for any reason whatsoever.
            Additionally, all such Information is subject to confirmation by a registered medical practitioner. You
            further agree that any reliance in the Information shall be at Your own risk and volition.</p>
        <p class="font-regular-15">
            Users are entitled to purchase products related to health and health related products displayed on the
            Website through our third part site, including without limitation mobility aids, health monitoring devices,
            convenience products, equipment, food supplements, diagnostics equipment, orthopedic support, toilet aids,
            incontinence products and other health support products ("Products"). Additionally, the Website facilitates
            the option for the Users to avail health related services from third party service providers such as for
            nursing, calling an ambulance, health assistants, assistance for hospitalization and such other services
            that may be offered by the Company from time to time("Services").</p>
        <p class="font-regular-15">
            The Company represents that all Products and Services are made available from third party manufacturers
            ("Product
            Vendor(s)") and service providers ("Service Provider Vendor(s)") and are not in any manner manufactured or
            rendered by
            the Company. The Product Vendors and Service Provider Vendors shall hereinafter be collectively referred as
            Vendors. Any
            representation or information on the Products or Services are in accordance with the data and information
            provided by
            the relevant Vendors and therefore the Company is not and shall not be liable for any claims in this regard,
            whatsoever.</p>

    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Personal Information</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            The privacy of Your information is governed by the privacy policy ("Privacy Policy") and the additional
            provisions in
            this Agreement. You confirm that You have also read and have agreed and accepted to be bound by the terms
            and conditions
            incorporated in the terms of the Privacy Policy, which shall be deemed to be a part of this Agreement. It is
            clarified
            that any information provided or exchanged by You on or through the Website with any third party is at Your
            sole risk
            and We do shall not be liable for any claims in this regard whatsoever.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Terms of Use</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            You acknowledge that certain parts of this Website are available only if You register on this Website by
            following the
            registration process mentioned under this User Agreement and provided that You are an active customer of
            Joy of Age and
            are not subject to suspension, cancellation or disciplinary proceeding by Joy of Age under this User Agreement
            or
            otherwise.
        </p>
        <p class="font-regular-15">
            Your access to and use of this Website will be through a User Account with a password ("User Account")
            created on the
            Website, to identify such User. The Website will provide You with an option to access the Website through
            Your existing
            user accounts associated with any social media platform or any other website including without limitation
            through Your
            email service providers (e.g. Gmail), Facebook, Google Plus etc. However, the Products and certain Services
            associated
            with this Website are available only if You register on this Website by submitting know Your customer
            ("KYC") details.
            You acknowledge that the KYC information includes personal information, including without limitation,
            details about
            [bank information], contact information and such other information as required by Us ("Your Information").
            By submitting
            Your Information on the Website, You hereby expressly consent to Us using Your Information. A confirmation
            mail will be
            sent to Your preferred account at the time of registering, to verify the User Account created by You on the
            Website.
            Your User Account will be active only after You verify Your e-mail address by clicking on the verification
            link. In case
            You use an e-mail address provided to You by Your employer or organization, Your access or use of the
            Website may be
            blocked by Your employer/organization depending on the policies of Your employer or organization, as the
            case maybe, and
            We shall not be liable for non-access of the Website in such an event. You hereby understand and agree that
            certain
            personal information as provided by You on the Website, may be shared with the Courier Agency (defined
            below) and/or the
            third party Service Provider Vendor for processing the Your Order (defined below) and You hereby consent to
            the same. We
            shall not be liable for any use/misuse of such personal information by such Courier Agency or Service
            Provider Vendor,
            for any reason whatsoever.
        </p>
        <p class="font-regular-15">
            It is clarified that Your right to be a registered User is subject to Our confirmation. We shall under no
            circumstances
            be liable for the authenticity of Your Information submitted on this Website as a registered User. We will
            take
            reasonable measures to ensure that Your Information remains confidential, secure and is used only for the
            purposes of
            verification. In the event there are any changes to Your Information, You agree to immediately intimate Us
            of such
            change in writing at writetous@JoyofAge.org If You provide any information that is untrue, inaccurate,
            incomplete or
            not current or if We have reasonable grounds to suspect that such information is untrue, inaccurate, not
            current or not
            in accordance with the User Agreement, We have the right to reject the order and/or suspend or terminate
            Your User
            Account.</p>
        <p class="font-regular-15">
            Upon being successfully registered as a User, You consent to receiving periodic newsletters from Joy of Age on
            the e-mail
            address provided by You.
        </p>
        <p class="font-regular-15">
            The Company reserves the right to restrict or refuse Your access and/or usage to the Website, in any manner,
            including
            but not restricted to termination of Your User Account or removal of the content associated with Your User
            account,
            without providing You with any reasons and without a prior notice. You understand that consequent to Your
            termination or
            deletion of Your User Account, You will not be allowed to access or use certain parts of the Website which
            need
            mandatory registration. You acknowledge that any content that you may have posted on the website will not be
            removed or
            deleted upon your deletion or termination of Your User Account with Us.
        </p>
        <p class="font-regular-15">
            You shall be solely responsible for any activity occurs through Your User Account and shall not hold Us
            liable in this
            regard, for any reason whatsoever. You undertake the responsibility to control the dissemination and use of
            the User ID
            and passwords associated with Your User Account, permit, supervise and regulate entry to Your User Account.
            Company
            cannot and will not have any obligation or culpability for any data submitted on Your User Account or any
            data used or
            misused whether submitted, utilized, or misused by You, Your representatives or any third party; whether or
            not acting
            on Your behalf.</p>

    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Content</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            You are solely responsible for any data, content, Information, pictorial representations and/or images
            ("Content") that
            You upload, submit or send to or exchange on the Website. We shall under no circumstances be responsible for
            any claims
            made by a third party in respect thereof.
        </p>
        <p class="font-regular-15">
            Even though We make Our best efforts to ensure that the Information on Products and Services provided by Us
            on the
            Website is accurate and relevant, We do not guarantee the accuracy, correctness and/or relevancy of such
            Information
            which shall at all times be subject to independent review and confirmation by a registered and qualified
            medical
            practitioner. The Information on the Website may not be exhaustive or comprehensive. Accordingly, no part of
            the
            Information is to be relied upon for arriving at any conclusion as to medical diagnosis or prognosis of any
            person or
            for inference of any indications as to diseases, ailments, physical or mental conditions or any other health
            conditions
            and/or treatment thereof. Under no circumstances is the Information meant to replace diagnosis and treatment
            by a
            registered medical practitioner. The Company shall not be liable for any treatment or interpretation based
            on the
            Information and/or recommendations, and Your reliance on the same shall be at Your own risk.

        </p>
        <p class="font-regular-15">
            You shall not access or use or assist any other person to access or use Website for the following purposes:
        </p>
        <ul class="mt-20">
            <li>
                Any unauthorized use including without limitation any usage of the content provided on this Website not
                in
                conformity with the rights granted with respect to the same, may violate third party intellectual
                property
                rights as well as the laws of privacy for which You shall be solely responsible.
            </li>
            <li>
                Transmitting material that encourages conduct that constitutes a criminal offence, results in civil
                liability or
                otherwise breaches any relevant laws, regulations or code of practice;
            </li>
            <li>
                Breaching any applicable laws;
            </li>
            <li>
                Using or attempting to use any engine, software, tool, agent or other Device or mechanism (including
                without
                limitation browsers, spiders, robots, avatars or intelligent agents) to manipulate the Website or
                reverse
                engineer it by copying, modifying, decompiling or dissembling; and/or
            </li>
            <li>
                Gaining or attempting to gain unauthorized access to any part or feature of the Website or any other
                systems or
                networks connected to the Website or to any server, computer, network, by hacking or any other
                illegitimate
                means.
            </li>
        </ul>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">You agree and confirm:</h3>
        <hr class="m-t-10" />
        <ul class="mt-20">
            <li>
                That You are at least 18 (Eighteen) years of age and is competent to contract within the meaning of the
                Indian Contract Act, 1872. If You are under 18 (Eighteen) years of age and You wish to access or use the
                Website, Your parents or legal guardian must acknowledge and agree to the User Agreement. Should Your
                parents or legal guardian fail to agree or acknowledge the User Agreement, You shall immediately
                discontinue
                its use;
            </li>
            <li>
                That Your use of this Website and the Products and/or Services provided therein are for lawful purposes
                only. By accepting this User Agreement and accessing the Website, You agree to be in full compliance
                with
                all the applicable laws, rules, regulations and guidelines;
            </li>
            <li>
                That You have and will continue to provide accurate, current and complete information during the
                registration process and to update such information to keep it accurate, current and complete;
            </li>
            <li>
                That the Content submitted by You shall not be derogatory, offensive or misleading in any manner;
            </li>
            <li>
                That images and pictorial representations on the Website may be enhanced for advertising purposes;
            </li>
            <li>
                That We will not be responsible for verifying any Content posted on the Website;
            </li>
            <li>
                That You and all other parties on Your behalf will behave with good conduct with the Service Provider
                Vendors and shall not use abusive, objectionable or defamatory conduct or language for any reason
                whatsoever;
            </li>
            <li>
                That You also understand and acknowledge that the use of the Website requires internet connectivity. You
                shall bear the costs incurred to access and use the Website and We shall not, under any circumstances
                whatsoever, be responsible or liable for such costs;
            </li>
            <li>
                That the information about the Products or Services on the Website, graphical images, text, video clips,
                reprographics, sounds, demos, patches nor any other files are purely indicative and may not match with
                actual Products or Services;
            </li>
            <li>
                That You shall be solely responsible for all activities undertaken through Your User Account, whether or
                not
                you have authorized such activities or actions and shall, at all times, keep the Company indemnified in
                this
                regard;
            </li>
            <li>
                That You shall be responsible for checking the content, Product and/or Service description and other
                related
                information; and prior to placing an Order for the relevant Product or Service; and
            </li>
            <li>
                If You are registering as a business entity, You represent that You are duly authorized by the business
                entity to accept this User Agreement and You have the authority to bind that business entity to this
                User
                Agreement.
            </li>
        </ul>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Territory</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            Unless otherwise specified, the purchase of Products and Services is strictly restricted to the territory of
            India.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Pricing and Availability of Products and Services</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            Joy of Age reserves the right, at its discretion, to change the prices and availability of the Products and/or
            Services from time to time, details of which will be effective from the time of its posting on the Website.
            All
            prices indicated shall be in Indian National Rupees. We do not make any representation that the prices
            quoted on
            the Website will match the offers provided by stores. Without prejudice to the foregoing, We may give
            discounts
            or promotional offers on any Product for any brand category or Services, at Our sole discretion.
        </p>
        <p class="font-regular-15">
            We have taken due care to ensure accurate Product and Services and pricing information on this Website. In
            the
            event there is any error in the pricing of the Products and/or Services or typographical error on the
            availability and Products and/or Services information, We shall have the right, at Our discretion, to either
            contact You for instructions or cancel Your order and notify You of such cancellation on the e-mail address
            provided by You. The Company shall appropriately refund any amount paid by You for such Products and/or
            Services, in accordance with the refund policy of the Company.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Fraudulent use of Website</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            Any fraudulent use of this Website or applicable payment method to purchase the Products, which causes any
            monetary loss to the Company as a result of Your action/inaction shall be recovered from You. Without
            prejudice to the above, the Company reserves the right to initiate legal proceedings against You for the
            fraudulent use of this Website or for any other unlawful act or omission in breach of this User Agreement.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Electronic Communications</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            When You send e-mails to Us, You understand and agree that You are communicating with Us through electronic
            records. You agree to receive communications, including periodic newsletters, via electronic records by Us,
            as and when required. You agree that all agreements, notices, disclosures and other communications that We
            provide to You electronically satisfy any legal requirement that is required of such communication in
            writing. You undertake to maintain Your e-mail address for all communications with Us. If We are desirous of
            communicating with You, We shall send it to the e-mail address provided and updated by You and it shall be
            deemed to have been received by You once it is reflected as sent in the outbox of Our e-mail ID.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Objectionable Material</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            You agree to use this Website and enter into a transaction to purchase the Products and Services at Your
            sole risk and that to the fullest extent permitted under applicable law, You agree to waive, any legal
            or equitable rights or remedies You may have against Beautiful Years in relation to the Website and the
            content that may be deemed inaccurate, offensive, indecent, or objectionable to You.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Governing Law and Jurisdiction</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            This User Agreement shall be construed in accordance with the applicable laws of India and the courts at
            Bangalore shall have the sole and exclusive jurisdiction to entertain any disputes that may arise hereunder,
            subject to the dispute resolution mechanism in the succeeding paragraph.
        </p>
        <p class="font-regular-15">
            In the event the Parties are unable to resolve any dispute, such dispute shall be submitted to final and
            binding arbitration at the request of either of the Parties upon written notice to that effect to the other.
            Such arbitration shall be in accordance with the Arbitration and Conciliation Act, 1996 and shall be held at
            Bangalore. All proceedings of such arbitration shall be in the English language. The arbitration shall be
            conducted by a sole arbitrator to be appointed in accordance with the provisions of the Arbitration and
            Conciliation Act, 1996. If the Parties are unable to mutually agree upon the sole arbitrator within 30
            (Thirty) days from the date a party raised a dispute, the arbitration panel shall consist of 03 (Three)
            arbitrators, with the Us and You entitled to appoint one arbitrator each and the two arbitrator's so
            appointed shall appoint the third arbitrator.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Reviews, Feedback, Submissions</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            All reviews, comments, feedback, suggestions, ideas, and other submissions disclosed, submitted or offered
            to Joy of Age on or through this Website, any blog, Facebook, Twitter or any other such social media or
            networking platform or otherwise disclosed, submitted or offered in connection with Your use of this Website
            or purchase of the Products (collectively, the "Comments") shall be and remain the property of Joy of Age.
            Such disclosure, submission or offer of any Comments shall constitute an assignment to Joy of Age of all
            worldwide rights, titles and interests in all copyrights and other intellectual property rights in the
            Comments. Thus, Joy of Age owns exclusively all such rights, titles and interests and shall not be limited in
            any way in its use, commercial or otherwise, of any Comments. Joy of Age shall be entitled to use, reproduce,
            disclose, modify, adapt, create derivative works from, publish, display and distribute any Comments You
            submit for any purpose whatsoever, without restriction and without compensating You in any way. Joy of Age is
            and shall be under no obligation:
        </p>
        <ul>
            <li>
                To maintain any Comments in confidence;
            </li>
            <li>
                To pay You any compensation for any Comments; and/or
            </li>
            <li>
                To respond to any Comments. You agree that any Comments submitted by You to this Website interalia any
                blog, Facebook, Twitter or any other such social media or networking platform or disclosed otherwise
                shall not violate this policy or any right of any third party, including copyright, trademark, privacy
                or other personal or proprietary right(s), and shall not cause injury to any person or entity, including
                Joy of Age. You further agree that no Comments submitted by You to this Website shall be or contain
                libelous or otherwise unlawful, threatening, abusive or obscene material, or contain software viruses,
                political campaigning, commercial solicitation, chain letters, mass mailings or any form of "spam".
                Joy of Age may not regularly review Your Comments, but does reserve the right (but not the obligation) to
                monitor and edit or remove any Comments. You grant Joy of Age the right to use the name that You submit in
                connection with any Comments. You agree not to use a false e-mail address, impersonate any person or
                entity, or otherwise mislead as to the origin of any Comments You submit. You are and shall remain
                solely responsible for the content of any Comments you make and You agree to indemnify Joy of Age for and
                against all claims resulting from any Comments You submit. Joy of Age takes no responsibility and assumes
                no liability for any Comments submitted by You or any third party.
            </li>
        </ul>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Copyright & Trademark</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            Each time You upload the Content, You grant the Company a worldwide non-exclusive, transferable, royalty
            free license to use any such content including by way of distribution, storage, hosting, sub-license,
            reproduction, communication, creation of derivative works, and modification of such content. You accept that
            such license will not terminate upon Your deletion or removal of the Content or other uploaded content in
            respect of which it is granted; and shall continue to be used by the Company, on the Website. You agree and
            confirm that:
        </p>

        <ul class="mt-20">
            <li>
                All copyright, database right and all other proprietary rights, title and interest in all Content
                and./or Information presented on this Website ("IP") is owned by and/or licensed to Joy of Age or owned by
                and/or licensed to the manufacturer of the Products and/or Services or is owned by and/or licensed to
                the person uploading such Content and is or may be protected or covered by copyright, trade mark,
                intellectual property law and/or other proprietary rights, unless expressly stated otherwise.
            </li>
            <li>
                No extracts of this Website or part thereof shall be displayed, printed or downloaded by You or with
                Your assistance, for any reason, including without limitation to commercialize any IP in any way.
            </li>

            <li>
                Your use of this Website does not confer on You or any other party, any license or other rights under
                the intellectual property or other proprietary rights of Joy of Age, the manufacturer of the Products and/
                or Services and/or of any third party, whether implied or otherwise.
            </li>

            <li>
                Joy of Age shall not be held liable for any claims relating to infringement of any intellectual property
                rights in relation to the Products and/or Services their content and/or Content.
            </li>
        </ul>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Indemnity</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            By accessing this Website, You agree to defend, indemnify and hold harmless, Joy of Age, its employees,
            directors, officers, agents and successors-in-interest and assigns from and against any and all claims,
            liabilities, damages, losses, costs and expenses, including attorney's fees, caused by or arising out of
            claims based upon Your actions or inactions, which may result
        </p>
        <ul class="mt-20">
            <li>
                In any loss or liability to Us or any third party including but not limited to breach of any warranties,
                representations or undertakings; or
            </li>
            <li>
                In relation to any information provided by You on the Website or while transacting on the Website; or
                (iii) in relation to the non-fulfillment of any of Your obligations under the User Agreement; or
            </li>
            <li>
                Arising out of Your violation of any applicable laws, regulations including but not limited to
                infringement of intellectual property rights, non-payment of statutory dues and taxes, claims of libel,
                defamation, violation of rights of privacy or publicity, delay, misrepresentation or misinformation or
                loss; or
            </li>
            <li>
                In relation to Your fraudulent use of the payment method on this Website. This clause shall survive the
                expiry or termination of the User Agreement.
            </li>
        </ul>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Suspension and Termination</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            Without prejudice to any other right, We have the right, at Our sole discretion, to terminate Your
            registration or restrict, suspend or block Your access to certain parts of the Website, if there is a breach
            of the terms of the User Agreement or if there are reasonable grounds to believe that You have breached any
            of the terms under the User Agreement. You understand that consequent to termination, You will not be
            allowed to access the Website, unless otherwise agreed or permitted in writing by Us.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Limitation of Liability and Disclaimers</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            The website may be under constant upgrades, and some functions and features may not be fully operational.
        </p>
        <p class="font-regular-15">
            Due to the limitations inherent in providing information obtained from multiple sources, there may be
            Delays, omissions, or inaccuracies in the content provided on the website including the data or delay or
            Errors in functionality of the website. As a result, we do not represent that the information posted on the
            Website is correct in every case.
        </p>
        <p class="font-regular-15">
            We expressly disclaim all liabilities that may arise as a consequence of any unauthorized use of credit/
            Debit cards/IMPS-MMID.
        </p>
        <p class="font-regular-15">
            You acknowledge that third party services are available on the website. We may have formed partnerships or
            Alliances with some of these third parties from time to time in order to facilitate the provision of certain
            Services to you. However, you acknowledge and agree that at no time are we making any representation or
            Warranty regarding any third party's services nor will we be liable to you or any third party for any
            Consequences or claims arising from or in connection with such third party including, and not limited to,
            Any liability or responsibility for, death, injury or impairment experienced by you or any third party. You
            Hereby disclaim and waive any rights and claims you may have against us with respect to third party's
            Services.
        </p>
        <p class="font-regular-15">
            While the materials provided on the website were prepared to provide accurate information regarding the
            Subject discussed, the information contained in these materials is being made available with the
            Understanding that we make no guarantees, representations or warranties whatsoever, whether expressed or
            Implied, with respect to professional qualifications, expertise, quality of work or other information
            Herein. Further, we do not, in any way, endorse any service offered or described herein. In no event shall
            We be liable to you or any third party for any decision made or action taken in reliance on such
            Information.
        </p>
        <p class="font-regular-15">
            The information provided hereunder is provided "As is". We and / or our employees make no warranty or
            Representation regarding the timeliness, content, sequence, accuracy, effectiveness or completeness of any
            Information or data furnished hereunder or that the information or data provided hereunder may be relied
            Upon. Multiple responses may usually be made available from different sources and it is left to the
            Judgement of users based on their specific circumstances to use, adapt, modify or alter suggestions or use
            Them in conjunction with any other sources they may have, thereby absolving us as well as our consultants,
            Business associates, affiliates, business partners and employees from any kind of professional liability.
        </p>
        <p class="font-regular-15">
            We shall not be liable to you or anyone else for any losses, consequential damage or injury arising out of
            Or relating to the information provided on the website. In no event will we or our licensors or any of their
            Officers, directors, employees, agents or sub-contactors or affiliates ("Representatives") be liable to you
            Or any third party for any decision made or action taken by your reliance on the content contained herein.
        </p>
        <p class="font-regular-15">
            In no event shall the company or its representatives be liable for any consequential, incidental, direct,
            Indirect, special, punitive, or other damages whatsoever (including, without limitation, damages for loss of
            Business profits, loss of reputation, business interruption, loss of business information, or other
            Pecuniary loss) arising out of the agreement, website, services or content or the use of or inability to use
            Any service or content on the website, even if the company has been advised of the possibility of such
            Damages.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Force Majeure</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            We shall not be held liable for any of Our obligations under the User Agreement due to reasons beyond our
            control such as down time of servers, viruses, strikes, technical snags, system compatibility, natural
            calamities, acts of war, terror etc. You agree not to hold Us liable for any delay or adverse effect caused
            due to the occurrence of such an event.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Changes to the User Agreement</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            We may at any time modify and/or amend the terms of this User Agreement without any prior notification to
            You. In the event of any such modification of or amendment to the User Agreement, the latest revised version
            of the User Agreement shall be posted on the Website and shall become effective from the time of posting.
            You must regularly review this User Agreement and in the event the modified or amended terms and conditions
            of the User Agreement are not acceptable to You, You should discontinue using the Website and any other
            services offered on and/or through this Website. Your continued use of Website will constitute Your
            acceptance of the latest revised User Agreement.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Entire Agreement</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            If any part of the User Agreement is determined to be invalid or unenforceable pursuant to applicable law
            including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the
            invalid or unenforceable provision will be deemed to be superseded by a valid, enforceable provision that
            most closely matches the intent of the original provision and the remainder of the User Agreement shall
            continue in effect. Unless otherwise specified herein, this User Agreement including the Privacy Policy and
            Purchase Order Terms and Conditions constitute the entire agreement between You and Joy of Age in respect of
            the purchase of Products and related services. Our failure to act with respect to a breach by You or others
            does not waive our right to act with respect to subsequent or similar breaches.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Contact Us</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            In the event You wish to contact Us for any reason related to the use of the Website, Products or User
            Agreement, please contact Us at <a href="writetous@JoyofAge.org">writetous@JoyofAge.org</a>
        </p>
    </div>
    
    <!-- Latest Updated below are not available -->

    <!-- <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Purchase and Delivery</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            The Website is equipped with a "cart" feature, which records the Products and/or Services that You
            intend to purchase when You agree to place them in the cart. You understand that the cart is not an
            order by itself and is only a record of Products and/or Services that You intend to purchase. Your cart
            shall be deemed to be an order only when You click/choose the "Checkout" option ("Order(s)"). Subsequent
            to successfully placing the Order You will be required to make payment for such Order as described
            below. Each time you place an Order, You enter into a legally binding contract with the respective
            Vendors for purchase of the Products and/or Services that You have ordered. It is agreed that neither
            the Company nor the Vendors shall be obligated to deliver an Order, unless successful payment has been
            made for the Products and/or Services in the Order. No delays in payment shall be entertained for any
            reason whatsoever.
        </p>
        <p class="font-regular-15">
            The delivery of the Orders for Products shall be during the working hours of the respective courier
            agency associated with the Company ("Courier Agency"). As part of processing the Order, the Courier
            Agency and/or Service Provider Vendor may contact You by call or message on Your registered contact
            number, for the purposes of fulfilment of the Order. The Courier Agency and/or Service Provider Vendor
            may also ask You to share certain information, including but not limited directions to the delivery
            address and Your alternative contact number. You undertake to assist and provide correct information to
            the Courier Agency and/or Service Provider Vendor and guide them to the delivery address where You or a
            person authorized by You will collect and/or pay for the purchased Products and/or Services. The
            information provided by You to the Courier Agency and/or Service Provider Vendor shall be provided at
            Your own risk and We shall not be liable for storing, processing or handling of such information. You
            understand that delivery periods quoted to You at the time of confirming the Order, if at all, is an
            approximate estimate and may vary. In the event of purchase of Services, You shall be solely responsible
            for ensuring the identity and verification of the Service Provider Vendor, prior to payment and/or
            receipt of the Services.
        </p>
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Cancellation of Order</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            You Order will be delivered only to the address designated by You at the time of placing the Order on
            the Website.
        </p>
        <p class="font-regular-15">
            Your Order shall be deemed to be cancelled, upon the occurrence of any of the following events and Our
            decision shall be final and binding:
        </p>

        <ul class="mt-20">
            <li>
                In the event of the designated address falling outside the delivery zone offered by Us;
            </li>
            <li>
                Non-availability of the Products ordered or purchased;
            </li>
            <li>
                Failure to successfully pay for the Order;
            </li>
            <li>
                Failure to deliver Your Order due to lack of information, direction or authorization from You at
                the
                time of delivery;
            </li>
            <li>
                Failure or delay due to reasons beyond Our control or attributable to the respective Vendors;
            </li>
            <li>
                Non-delivery of the Order due to an incorrect address provided by You;
            </li>
            <li>
                Your failure to accept delivery at the address provided by You, as evidenced in the Order; or
            </li>
            <li>
                Occurrence of a Force Majeure Event.
            </li>
        </ul>
        <p class="font-regular-15">
            Upon cancellation of Your Order, You will only be notified through an email to Your registered e-mail
            ID. The amount paid by You for the Order shall be refunded to You within a period of 15 (Fifteen) days,
            from the date of cancellation, depending on the policies and terms of the External Payment Processor,
            referred to herein below. We shall not be liable to pay any compensation for non-delivery of the
            purchased Products and/or Services.
        </p>
        
        
    </div>

    <div class="m-t-40">
        <h3 class="font-regular-24 font-weight-700 m-0">Payments</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            You can make payments for Your Orders either online through the Website by way of net-banking, credit
            card/ debit card purchase or through IMPS-MMID ("Online Payments") or upon delivery of Your Order, by
            payment of cash for the respective Orders placed by You ("Cash on Delivery"). You understand that the
            payment option through net banking or IMPS-MMID may be restricted to certain banks only, in which case
            You may be required to choose an alternate payment method. You understand that We use a third party
            registered payment gateway provider for the requisite Online Payments and You may be subject to the
            terms and conditions of such payment gateway. We shall not be held liable for any action/inaction, loss
            or damage incurred by You arising out of the use of such third party payment gateway provider, for any
            reason whatsoever. In the event COD method is not possible for Your area, or not available for certain
            Products, We shall immediately notify You on the email ID that You provide Us at the time of placing the
            Order, and give You an option for an alternative method for payment.
        </p>

        <p class="font-regular-15">
            We use safe and trusted payment gateway partners to ensure that a secure encryption technology is used
            to
            protect Your transaction details at all times. You can choose the mode of payment on the Website at the
            time
            of making payment for the Products and/or Services purchased.
        </p>
        <p class="font-regular-15">
            For the purposes of making Online Payments, You agree to provide all information necessary for the
            processing of such payments including but not restricted to Your credit/debit card/IMPS - MMID details,
            passwords, billing address, etc., as applicable. You agree, confirm and understand that the credit/debit
            card or other such necessary details provided by You for this purpose are true and accurate. You shall
            not
            use the credit or debit card which is not lawfully owned by You, i.e. in any transaction, You must use
            Your
            own credit/ debit card. The information provided by You will not be utilized or shared with any third
            party
            unless required in relation to fraud verifications or by law, regulation or court order. You further
            undertake and confirm that You are authorized to use the credit/ debit card/MMID for the payments for
            Your
            Order(s). You hereby indemnify the Company for any action or inaction on Your part which occurs
            consequent
            to or arises from the use of any payment mechanism including in respect of any declining of
            authorization
            for any transaction or for any direct or indirect loss or damage arising on account of such decline of
            authorization or fraudulent use of the respective credit/debit card or IMPS-MMID account. You
            acknowledge
            that in the event the payment is declined, for any reason whatsoever, [Your Order will stand cancelled
            and
            You shall be notified of such cancellation through the Website.]
        </p>
        <p class="font-regular-15">
            Your credit/debit card/IMPS - MMID details and any other information pertaining to the payment for Your
            Orders shall be encrypted and transmitted as such. The Company will not have access to any such
            information.
            You agree to be solely liable for the fraudulent use of such credit/debit card/IMPS/bank details and the
            onus to "prove otherwise" shall be exclusively on You. You further confirm and undertake that You are
            aware
            and are in compliance with all the applicable laws including Foreign Exchange Management Act 1999 as
            amended
            from time to time, regulations, notifications, circulars, guidelines which may be issued by the Reserve
            Bank
            of India, Information Technology Act, 2000, amended from time to time, and any other legal provision in
            relation to Your use of the credit/debit card or any net-banking or such other facilities provided to
            You.
            The Company shall not be liable, for any reason whatsoever for Your failure, neglect or non-compliance
            of
            such applicable law.
        </p>
    </div> -->



</div>