<h1 class="font-regular-24 font-weight-600">TBD Reviews(0)</h1>
<div class="uk-child-width-expand m-t-50 m-b-50" uk-grid>
    <div class="info">
        <h1 class="font-regular-24 font-weight-600 m-0"> No review!</h1>
        <p class="lable font-regular m-0"> No user has left review for this service.</p>
        <p> <button class="uk-button uk-button-default review-btn"
                (click)="writeNewReview()">{{  auth.isAuthenticate ? 'Write Review': 'Signin to Review'  }}</button></p>
    </div>
    <div class="uk-text-right">
        <img src="/assets/images/norecord.svg" />
    </div>
</div>