<h3 class="font-regular-24 font-weight-600">Reviews</h3>
<div class="uk-child-width-expand m-t-50 m-b-50" uk-grid>
    <div class="info">
        <h4 class="font-regular-24 font-weight-600 m-0">We do not have any reviews yet !</h4>
        <p class="lable font-regular m-0"> Would you like to add a review?</p>
        <p> <button class="uk-button uk-button-default review-btn"
                (click)="writeNewReview()">{{  auth.isAuthenticate ? 'Write review': 'Join us to review'  }}</button></p>
    </div>
    <div class="uk-text-right">
        <img src="/assets/images/norecord.svg" alt="no record icon" />
    </div>
</div>