<div class="uk-section">

    <h1 tabindex=0 id="aboutHeader"> SEENAGE.LIFE</h1>
    <hr />

    <div uk-grid>

        <div class="uk-width-1-3@m  uk-visible@s">
            <div class="details-box logo">
                <img src="assets/images/Seenage.life.png" alt="No Image Found" />
            </div>
            <div class="details-box m-t-40">
                <div class="p-20">
                    <p class="font-regular font-weight-700 m-b-0">Contact Us</p>

                    <div class="m-t-20" uk-grid>
                        <div class="uk-width-auto">
                            <fa-icon icon="phone-volume"></fa-icon>
                            <!-- <span uk-icon="icon: receiver"></span> -->
                        </div>
                        <div class="uk-width-expand p-l-10">
                            <p class="font-regular-15">+91 7411485820</p>
                            <p class="font-regular-15">Bengaluru</p>
                        </div>
                    </div>
                    <div class="m-t-20" uk-grid>
                        <div class="uk-width-auto">
                            <fa-icon icon="envelope"></fa-icon>
                            <!-- <span uk-icon="icon: receiver"></span> -->
                        </div>
                        <div class="uk-width-expand p-l-10">
                            <p class="font-regular-15">contactus@seenage.life</p>
                        </div>
                    </div>

                    <div class="m-t-20" uk-grid>
                        <div class="uk-width-auto">
                            <fa-icon icon="map-marked-alt"></fa-icon>
                            <!-- <span uk-icon="icon: receiver"></span> -->
                        </div>
                        <div class="uk-width-expand p-l-10">
                            <p class="font-regular-15">12/A, First Floor, 19th Main Road, Sector 3, HSR layout
                                Bangalore - 560102 </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="details-box m-t-40">
                <div class="p-20">
                    <p class="font-regular font-weight-700 m-b-0">Follow Us</p>

                    <div class="uk-width-expand m-t-20">
                        <a aria-label="instagram " href="https://www.instagram.com/seenage.life/" target="_blank"
                            class="uk-icon-button m-r-5" uk-icon="instagram"></a>
                        <a aria-label="linkedin "
                            href="https://www.linkedin.com/in/seenage-life-0610991a7" target="_blank"
                            class="uk-icon-button m-r-5" uk-icon="linkedin"></a>
                        <a aria-label="twitter " href="https://twitter.com/@SeenageLife" target="_blank"
                            class="uk-icon-button m-r-5" uk-icon="twitter"></a>
                        <a aria-label="facebook " href="https://www.facebook.com/seenage.life/" target="_blank"
                            class="uk-icon-button m-r-5" uk-icon="facebook"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-expand@m">

            <div>
                <h3 tabindex=0 class="font-regular-24 font-weight-700 m-0">About Us</h3>
                <hr class="m-t-10" />
                <p class="font-regular-15">The key objective of Seenage Life is to provide a platform for senior citizens to find a way back into the workforce. We believe that age does not limit ability, performance or skill and that seniors (seenagers) have a lot to contribute to society, as regards experience, advice and guidance. </p>
                <!-- <p class="font-regular-15">The key objective of Seenage Life is of providing a platform for senior
                    citizens to realize their potential and help them find a way back into the workforce. We believe
                    that age does not limit ability, performance or skill and that seniors (seenagers) have a lot to
                    contribute to society in terms of knowledge, experience, advice, guidance and also as role models.
                    Our goal is to ensure that seenagers continue their professional involvement, have a sense of
                    purpose and achievement while earning their living.
                </p>
                <p class="font-regular-15">Even though seenagers are experienced they tend to be an under-rated resource and employment
                    opportunities for them are far and few. Towards this end we are: <br>
                   <li class="m-r">• Actively engaged with NGOs & corporates, helping seenagers find work either full time, part time,
                    paid or voluntary. </li>
                    <li class="m-r"> • Setting up Seenage Academy so that seenagers can upskill themselves in their areas of interest and
                        / or passion, enabling them to secure employment.</li>
                   
                  
                </p>
                <p class="font-regular-15">Seenage Life also provides a platform for Seenagers to: <br>
                    <li class="m-r">• Showcase their products </li>
                    <li class="m-r">• Volunteer for tutoring, mentoring or counselling </li>
                    <li class="m-r">• Share articles and events happening in and around their city </li>
                    <li class="m-r">• Consult with experts</li>
                    
                </p>
                <p class="font-regular-15">
                    We also conduct events of interest to seenagers and hope to create a network of senior citizens that
                    can interact, both physically and virtually, eventually forming mutually supportive groups.
                </p>
                <p class="font-regular-15">
                    This website is being run as a sustainable enterprise by its promoters, Seenage Life and was
                    originally initiated by Tata Trust and managed by SocialAlpha. Our community includes seniors and
                    experts in the senior space and a small group of evangelists to manage the website. Core to the
                    community are our seenagers (seniors) - they help decide what’s interesting and what is not for the
                    community.
                </p> -->
            </div>

            <div class="m-t-40">
                <h3 tabindex=0 class="font-regular-24 font-weight-700 m-0">What We Do</h3>
                <hr class="m-t-10" />
                <p class="font-regular-15">Our goal is to ensure that seenagers continue their professional involvement, have a sense of purpose and achievement while earning their living. Even though seenagers are experienced they tend to be an under-rated resource and employment opportunities for them are far and few.</p>
            </div>

            <div class="m-t-40">
                <h3 tabindex=0 class="font-regular-24 font-weight-700 m-0">Jobs for You</h3>
                <hr class="m-t-10" />
                <p class="font-regular-15"> We are actively engaged with NGOs & corporates, helping seenagers find work either full time, part time, paid or voluntary. Seenage Academy is being set up so that seenagers can upskill themselves in their areas of interest and / or passion, enabling them to secure employment. 
                </p>
            </div>

            <div class="m-t-40">
                <h3 tabindex=0 class="font-regular-24 font-weight-700 m-0">Our Community</h3>
                <hr class="m-t-10" />
                <p class="font-regular-15"> Seenage Life also provides a platform for Seenagers to Volunteer for tutoring, mentoring or counselling, Share articles and events happening in and around their city and Conduct events.
                </p>
            </div>

            <div class="m-t-40">
                <h3 tabindex=0 class="font-regular-24 font-weight-700 m-0">Ask Experts</h3>
                <hr class="m-t-10" />
                <p class="font-regular-15">We partner with well-known experts across various functions relevant to the community. As members you can ask questions and receive answers in complete confidentiality from our experts.
                </p>
            </div>

            <div class="m-t-40">
                <h3 tabindex=0 class="font-regular-24 font-weight-700 m-0">Products that help</h3>
                <hr class="m-t-10" />
                <p class="font-regular-15">We present a curated set of useful products with every single best option available. Just pick what you want based on your need and get them delivered home, from reputed online markets. It’s that easy! You can also rate and review products on this platform after using them, to help others make better choices. Purchase and product delivery will be through reliable external partner sites.
                </p>
            </div>

            <div class="m-t-40">
                <h3 tabindex=0 class="font-regular-24 font-weight-700 m-0">Who We Are</h3>
                <hr class="m-t-10" />
                <p class="font-regular-15">
                    This website is being run as a sustainable enterprise by its promoters, Seenage Life and was originally initiated by Tata Trust and managed by SocialAlpha. Our community includes seniors and experts in the senior space and a small group of evangelists to manage the website. Core to the community are our seenagers - they help decide what’s interesting and what is not for the community.  
                </p>

                <!-- <p class="font-regular-15">The Seenage.Life platform is supported by Tata Trusts for our elderly
                    citizens and is currently owned and managed by Seenage.Life Pvt Ltd.
                </p> -->
            </div>

        </div>

        <div class="uk-width-1-3@m  uk-hidden@s ">
            <div class="details-box logo">
                <img src="assets/images/Seenage.life.png" alt="No Image Found" />
            </div>
            <div class="details-box m-t-40">
                <div class="p-20">
                    <p class="font-regular font-weight-700 m-b-0">Contact Us</p>

                    <div class="m-t-20" uk-grid>
                        <div class="uk-width-auto">
                            <fa-icon icon="phone-volume"></fa-icon>
                            <!-- <span uk-icon="icon: receiver"></span> -->
                        </div>
                        <div class="uk-width-expand p-l-10">
                            <p class="font-regular-15">+91 7411485820</p>
                            <p class="font-regular-15">Bengaluru</p>
                        </div>
                    </div>
                    <div class="m-t-20" uk-grid>
                        <div class="uk-width-auto">
                            <fa-icon icon="envelope"></fa-icon>
                            <!-- <span uk-icon="icon: receiver"></span> -->
                        </div>
                        <div class="uk-width-expand p-l-10">
                            <p class="font-regular-15">contactus@seenage.life</p>
                        </div>
                    </div>

                    <div class="m-t-20" uk-grid>
                        <div class="uk-width-auto">
                            <fa-icon icon="map-marked-alt"></fa-icon>
                            <!-- <span uk-icon="icon: receiver"></span> -->
                        </div>
                        <div class="uk-width-expand p-l-10">
                            <p class="font-regular-15">12/A, First Floor, 19th Main Road, Sector 3, HSR layout
                                Bangalore - 560102 </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="details-box m-t-40">
                <div class="p-20">
                    <p class="font-regular font-weight-700 m-b-0">Follow Us</p>

                    <div class="uk-width-expand m-t-20">
                        <a aria-label="instagram " href="https://www.instagram.com/seenage.life/" target="_blank"
                            class="uk-icon-button m-r-5" uk-icon="instagram"></a>
                        <a aria-label="linkedin "
                            href="https://www.linkedin.com/in/seenage-life-0610991a7" target="_blank"
                            class="uk-icon-button m-r-5" uk-icon="linkedin"></a>
                        <a aria-label="twitter " href="https://twitter.com/@SeenageLife" target="_blank"
                            class="uk-icon-button m-r-5" uk-icon="twitter"></a>
                        <a aria-label="facebook " href="https://www.facebook.com/seenage.life/" target="_blank"
                            class="uk-icon-button m-r-5" uk-icon="facebook"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>