<div class="uk-section">

    <h3>About Us</h3>
    <hr />

    <div uk-grid>

        <div class="uk-width-1-3@m">
            <div class="details-box">
                <img src="assets/images/default-thumbnail.png" />
                <div class="p-20">
                    <p class="font-regular font-weight-700 m-b-0">Elderly Care</p>
                    <p class="m-0 font-regular-15">An Elder Spring Initiative by Tata Trust</p>
                </div>
            </div>

            <div class="details-box m-t-40">
                <div class="p-20">
                    <p class="font-regular font-weight-700 m-b-0">Contact Us</p>

                    <div class="m-t-20" uk-grid>
                        <div class="uk-width-auto">
                            <fa-icon icon="phone-volume"></fa-icon>
                            <!-- <span uk-icon="icon: receiver"></span> -->
                        </div>
                        <div class="uk-width-expand p-l-10">
                            <p class="font-regular-15">+91
                                99
                                9999
                                9999</p>
                            <p class="font-regular-15">+91 99 9999
                                9999</p>
                        </div>
                    </div>
                    <div class="m-t-20" uk-grid>
                        <div class="uk-width-auto">
                            <fa-icon icon="envelope"></fa-icon>
                            <!-- <span uk-icon="icon: receiver"></span> -->
                        </div>
                        <div class="uk-width-expand p-l-10">
                            <p class="font-regular-15">abc@email.com</p>
                        </div>
                    </div>

                    <div class="m-t-20" uk-grid>
                        <div class="uk-width-auto">
                            <fa-icon icon="map-marked-alt"></fa-icon>
                            <!-- <span uk-icon="icon: receiver"></span> -->
                        </div>
                        <div class="uk-width-expand p-l-10">
                            <p class="font-regular-15">Nagar 1st Block 1st Cross Rammurthy nagar, Bangalore 560016</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="details-box m-t-40">
                <div class="p-20">
                    <p class="font-regular font-weight-700 m-b-0">Follow Us</p>

                    <div class="m-t-20">
                        <a href="#" class="uk-icon-button  uk-margin-small-right whatapp-icon" uk-icon="whatsapp"> </a>
                        <a href="#" class="uk-icon-button  uk-margin-small-right fb-icon" uk-icon="facebook"> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-expand@m">

            <div>
                <h1 class="font-regular-24 font-weight-700 m-0">What We Do</h1>
                <hr class="m-t-10" />
                <p class="font-regular-15">ABCD is the Elderly Care Platform supported by Tata Trust , a
                    community-driven nationwide digital platform that powers an ecosystem to serve the needs of the
                    elderly. ABCD is your trusted and non-prescriptive community to discuss issues , get advice ,
                    find
                    relevant information, crowd-reviewed products, services and opportunities.</p>
            </div>

            <div class="m-t-40">
                <h1 class="font-regular-24 font-weight-700 m-0">Our Community</h1>
                <hr class="m-t-10" />
                <p class="font-regular-15">ABCD is creating a digitally-driven online community that engages its members
                    in real work - both locally and nationally. It will provide community-support to important
                    interactions in a welcoming atmosphere .The key building block of the communities will be stories
                    and conversations about the experiences collected over the life experiences of the elderly and their
                    caregivers, resulting in a trusted warm space nurtured by the community members.
                </p>
            </div>

            <div class="m-t-40">
                <h1 class="font-regular-24 font-weight-700 m-0">Servecies You Need</h1>
                <hr class="m-t-10" />
                <p class="font-regular-15">The platform makes it easy for its community members to find their service
                    providers and all information regarding them in one place , which is relevant and up to date.
                </p>
            </div>

            <div class="m-t-40">
                <h1 class="font-regular-24 font-weight-700 m-0">Prodcuts You Trust</h1>
                <hr class="m-t-10" />
                <p class="font-regular-15">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                    a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                    making it look like readable English. Many desktop publishing packages and web page editors now use.
                </p>
            </div>

            <div class="m-t-40">
                <h1 class="font-regular-24 font-weight-700 m-0">Ask an Expert</h1>
                <hr class="m-t-10" />
                <p class="font-regular-15"> It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout.
                </p>
            </div>

        </div>
    </div>