h1 {
    margin: 0px;
    font-family: "HKGroteskRegular";
    font-size: 32px;
    font-weight: 600;
    color: #151c2c;
}

.details-box {
    border: 1px solid #d7e0ef;
    box-sizing: border-box;
    border-radius: 4px;
    img {
        width: 100%;
        object-fit: cover;
        background: #2a415e;
    }
}

.whatapp-icon {
    background: #009487;
    color: #fff;
}

.insta-icon {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    color: #fff;
}

.linkedin-icon {
    background: #0e76a8;
    color: #fff;
}

.twitter-icon {
    background: #00acee;
    color: #fff;
}

.fb-icon {
    background: #2a415e;
    color: #fff;
}
