<div class="uk-section">

    <h3>About "Joy Of Age"</h3>
    <hr />

    <div uk-grid>

        <div class="uk-width-1-3@m">
            <div class="details-box">
                <img src="assets/images/default-thumbnail.png" alt="No Image Found" />
                <div class="p-20">
                    <p class="font-regular font-weight-700 m-b-0">"Joy Of Age"</p>
                    <p class="m-0 font-regular-15">Supported by Tata Trusts</p>
                </div>
            </div>

            <div class="details-box m-t-40">
                <div class="p-20">
                    <p class="font-regular font-weight-700 m-b-0">Contact Us</p>

                    <div class="m-t-20" uk-grid>
                        <div class="uk-width-auto">
                            <fa-icon icon="phone-volume"></fa-icon>
                            <!-- <span uk-icon="icon: receiver"></span> -->
                        </div>
                        <div class="uk-width-expand p-l-10">
                            <p class="font-regular-15">080 67500950</p>
                            <p class="font-regular-15">Available - 9:30:am–5:30:pm, Mon-Fri</p>
                        </div>
                    </div>
                    <div class="m-t-20" uk-grid>
                        <div class="uk-width-auto">
                            <fa-icon icon="envelope"></fa-icon>
                            <!-- <span uk-icon="icon: receiver"></span> -->
                        </div>
                        <div class="uk-width-expand p-l-10">
                            <p class="font-regular-15">writetous@JoyofAge.org.</p>
                        </div>
                    </div>

                    <div class="m-t-20" uk-grid>
                        <div class="uk-width-auto">
                            <fa-icon icon="map-marked-alt"></fa-icon>
                            <!-- <span uk-icon="icon: receiver"></span> -->
                        </div>
                        <div class="uk-width-expand p-l-10">
                            <p class="font-regular-15">No. 3, 14th Main, HSR Layout, Sector 5, Bangalore – 560102 </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="details-box m-t-40">
                <div class="p-20">
                    <p class="font-regular font-weight-700 m-b-0">Follow Us</p>

                    <div class="m-t-20">
                        <a href="https://www.instagram.com/social_alpha_in" target="_blank"
                            class="uk-icon-button  uk-margin-small-right insta-icon" uk-icon="instagram"> </a>
                        <a href="https://www.linkedin.com/company/social-alpha" target="_blank"
                            class="uk-icon-button  uk-margin-small-right linkedin-icon" uk-icon="linkedin"> </a>
                        <a href="https://twitter.com/socialalphain" target="_blank"
                            class="uk-icon-button  uk-margin-small-right twitter-icon" uk-icon="twitter"> </a>
                        <a href="https://www.facebook.com/SocialAlphaIN" target="_blank"
                            class="uk-icon-button  uk-margin-small-right fb-icon" uk-icon="facebook"> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-expand@m">

            <div>
                <h1 class="font-regular-24 font-weight-700 m-0">What We Do</h1>
                <hr class="m-t-10" />
                <p class="font-regular-15">"Joy of Age" supported by Tata Trust, is a digital platform for elders
                    to engage within a trusted community of elders and caregivers. With a pilot launch
                    in late 2019 for Hyderabad, the platform intends to cover larger number of elders in urban and rural
                    India shortly after. </p>
            </div>

            <div class="m-t-40">
                <h1 class="font-regular-24 font-weight-700 m-0">Our Community</h1>
                <hr class="m-t-10" />
                <p class="font-regular-15">"Joy of Age" enables an online community where members
                    share stories and conversations based on real life experiences. Community members can easily
                    participate and drive the content of the conversations based on relevance and interests.
                </p>
            </div>

            <div class="m-t-40">
                <h1 class="font-regular-24 font-weight-700 m-0">Ask Experts</h1>
                <hr class="m-t-10" />
                <p class="font-regular-15"> "Joy of Age" partners with well known experts across various areas relevant
                    to
                    the community. Members can ask questions and receive answers in complete confidentiality
                    from these experts.
                </p>
            </div>

            <div class="m-t-40">
                <h1 class="font-regular-24 font-weight-700 m-0">Products that help</h1>
                <hr class="m-t-10" />
                <p class="font-regular-15">"Joy of Age" presents curated set of products that are useful to the community.
                    Community members who have used these products can rate and review products on this platform to help
                    other
                    members make better choices.
                    Ability to purchase and get product delivered will be through external partner sites.
                </p>
            </div>

            <div class="m-t-40">
                <h1 class="font-regular-24 font-weight-700 m-0">Services that matter</h1>
                <hr class="m-t-10" />
                <p class="font-regular-15">"Joy of Age" makes it easy for its community members to find relevant and
                    up-to-date service providers. Transparent information about source of the data and easy access
                    to reviews from community members will assist elders and their caregivers towards making informed
                    choices before engaging a
                    service provider.
                </p>
            </div>

        </div>
    </div>