<div [routerLink]="['/products', product.id]" [queryParams]="pageParam"
  class="cursor uk-card uk-card-default uk-card-hover uk-grid-collapse uk-child-width-1-2@s uk-margin uk-text-center uk-text-left@m"
  uk-grid  tabindex=-1>

  <div class="uk-card-media-left uk-width-1-4@m uk-width-1-3@s p-16">
    <img class="product-img" src="{{product.images[0]}}" alt="product image">
  </div>

  <div class="uk-card-body uk-width-expand uk-flex uk-flex-between uk-flex-column p-16">
    <div>
      <h3 class="font-regular"><a href="javascript:void(0)">{{product?.name}}</a></h3>
      <div class="m-t-20@s">
        <ngb-rating [rate]="getDbServiceRating(product.rating)" [readonly]="true" [max]="5">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
        <span class="ml-15">{{product?.rating}} Ratings</span>
      </div>
    </div>
    <div class="category m-t-20">
      In: <span (click)="onclick($event,product)" class="category-text">{{product?.productCategory?.name}}</span>
    </div>
  </div>

  <div class="uk-width-1-4@m uk-visible@s  price-border">
    <div class="prize-card">
      <div class="m-0 price">Rs. {{product?.price}}</div>
      <div class="font-regular">On {{product?.buyFrom | titlecase }}</div>
    </div>
  </div>
  <div class="p-16 uk-hidden@s">
    <div class="price-text-sm m-t-20">Rs. {{product?.price}}</div>
  </div>
</div>