a{
    color: #1A72E8;
}

.p-verified{
    padding: 3px 10px;
}

.p-16{
    padding: 16px;
}

.uk-label-danger{
    background-color: #C83F3F;
}

.uk-label-warning{
    background-color: #E8B24A;
    color: #423d27;
}

.price {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2em;
    color: #000;
}