<div [routerLink]="['/products', product.id]"
  class="cursor uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>

  <div class="uk-card-media-left uk-width-1-4@m uk-width-1-3@s p-16">
    <img class="product-img" src="{{product.images[0]}}" alt="">
  </div>

  <div class="uk-card-body uk-width-expand p-16">
    <a href="javascript:void(0)" class="font-regular">{{product.name}}</a>
    <div>
      <ngb-rating [rate]="getDbServiceRating(product.rating)" [readonly]="true" [max]="5">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>
      <span class="ml-15">{{product.rating}} Ratings</span>
    </div>
    <div class="category">
      In: <span>{{product?.productCategory?.name}}</span>
    </div>
    <!-- <div>
      <div class="uk-label d-inline-flex uk-flex-middle p-verified">
        <span class="verified-icon-w m-r-5"></span>
        <span> VERIFIED</span>
      </div>
      <span class="uk-label uk-label-warning p-verified">
        <fa-icon icon="exclamation-triangle"></fa-icon> UNVERIFIED
      </span>

      <span class="uk-label uk-label-danger p-verified ml-2">38% OFF</span>
    </div> -->
  </div>

  <div class="uk-width-1-4@m  price-border">
    <div class="prize-card">
      <!-- <div>
        <strike>Rs. {{product.price}}</strike>
      </div> -->
      <div class="m-0 price">Rs. {{product.price}}</div>
      <div class="font-regular">On {{product.buyFrom | titlecase }}</div>
    </div>
  </div>
</div>