<div class="search-container">
  <!-- <div class="header-label">
    <h3>Search for services and service providers</h3>
  </div> -->

  <!-- Search Form START -->
  <div class="search-form" [ngClass]="{'search-bg': !ecpService.showBg}">
    <div class="search-field uk-grid-stack uk-grid-small" uk-grid>

      <div class="uk-width-expand uk-position-relative">
        <div class="uk-position-absolute uk-z-index w-full pr-20">
          <form class="uk-search uk-search-default" autocomplete='off'>
            <input id="serviceSearch" class="uk-search-input search-box font-regular sm-pr-150"
              aria-label="search service" aria-autocomplete=list [(ngModel)]="searchPageParam.term"
              (keyup)="searchEvent($event)" (keydown.enter)="onSearch($event.target.value)" required type="text"
              placeholder="Search here" name="search" autocomplete='off' />
            <span class="uk-search-icon-flip" [ngClass]="{ 'w-150':showReset}" uk-search-icon>
              <button class="uk-button-link" style="visibility: hidden"></button>
              <button *ngIf="showReset" class="reset-link" (click)="resetSearch($event)">
                <fa-icon [icon]="['fas', 'times-circle']"></fa-icon><span class="uk-visible@s"> Clear Search</span>
              </button>

            </span>
          </form>
          <ul aria-live="polite" aria-atomic="true" *ngIf="autocompleteFields.length > 0"
            class="uk-list uk-list-large p-10 m-0 max-h-200 uk-overflow-auto search-list" appKeyHandler
            (onItemSelected)="onItemSelected($event)">
            <li role="option" class="cursor-pointer" *ngFor="let field of autocompleteFields"
              (click)="onAutocompleteClick(field)">
              {{field?.name ||  field?.basicProfileInfo?.firstName }}
            </li>
          </ul>
        </div>
      </div>

      <div>
        <button class="uk-button uk-button-default search-btn" (click)="onSearch(searchPageParam.term)">Search</button>
      </div>

    </div>

    <!-- Search Form END -->
    <div class="m-t-20 uk-hidden@s" aria-live="polite" aria-atomic="true"
      *ngIf="popullarService && popullarService.length > 0">
      <p class="font-regular-15 font-weight-600">Search Results ({{totalService}})
      </p>

      <div class="m-t-20 uk-grid-small" uk-grid>
        <div class="uk-width-1-1">
          <div class="search-result-box cursor-pointer" routerLink="/services"
            [queryParams]="{ category:searchPageParam.term}">
            <p>Services ({{totalService}})</p>
          </div>
        </div>
      </div>
      <p class="uk-text-center">
        <fa-icon style="color:#1A73E8;" [icon]="['fas', 'info-circle']"></fa-icon> Tap on the card to see the full
        results
      </p>
    </div>

    <div class="uk-text-center uk-text-bold m-t-20" *ngIf="popullarService && popullarService.length == 0">
      No Records found
    </div>
    <div class="uk-visible@s">

      <div class="mt-32" aria-live="polite" aria-atomic="true" *ngIf="popullarService && popullarService.length > 0">
        <!-- <app-services-list [services]="popullarService"></app-services-list> -->
        <div class="uk-child-width-1-3@m uk-grid-match" uk-grid>
          <div *ngFor="let service of popullarService;let i=index" role="group" [attr.aria-label]="'Service ' + i">
            <app-service-search-card [service]="service"></app-service-search-card>
          </div>
        </div>


        <div class="m-t-30">
          <button routerLink="/services" [queryParams]="{ category:searchPageParam.term}"
            class="uk-button uk-button-default uk-width-1-1">View All</button>
        </div>
      </div>
    </div>

    <!-- Popular search component  -->

    <!-- Popular search START -->
    <!-- <app-popular-search></app-popular-search> -->

    <!-- <div class="uk-container popular-search-list"></div> -->
    <!-- <div class="quote-line uk-margin-remove" uk-grid>
    <div class="uk-width-expand@s uk-padding-remove uk-flex uk-flex-middle">
      <div class="uk-flex uk-flex-middle">
        <span class="mr-3">
          <span class="verified-icon"></span>
        </span>Find. Learn. Contact. Find a service provider near you.
      </div>
    </div>
    <div class="uk-width-auto@s uk-text-center">
      <button routerLink="/services/all" class="uk-button uk-button-default">More services</button>
    </div>
  </div> -->
  </div>
</div>