@import "../../../assets/css/variables.scss";

.add-rating {
  background-color: #e4eefb;
  border-radius: 4px;
  color: #161c2d;
}

.review-form {
  input,
  textarea,
  select {
    border-radius: 4px;
  }
  .uk-button-default {
    border-radius: 4px;
    font-size: 18px;
    border: none;
    text-transform: none;
    padding: 0px 30px;
  }

  .uk-button-transparent {
    border-radius: 4px;
    font-size: 18px;
    text-transform: none;
    padding: 0px 30px;
  }
}

.add-star {
  color: #cecece;
  font-size: 32px;
}

.add-filled {
  color: #e8b24a;
}

@media(max-width:640px){
  .add-rating{
    height: 60px;
    margin-bottom: -30px;
  }
  .review-form{
    .p-25{
      padding: 25px !important;
      margin-top: 10px;
    }
    .uk-button-default{
      margin-top: -30px;
    }
  }
}
