@import "../../../assets/css/variables.scss";

.add-rating {
  background-color: #e4eefb;
  border-radius: 4px;
  color: #161c2d;
}

.review-form {
  input,
  textarea,
  select {
    border-radius: 4px;
  }
  .uk-button-default {
    border-radius: 4px;
    font-size: 18px;
    border: none;
    text-transform: none;
    padding: 0px 30px;
  }

  .uk-button-transparent {
    border-radius: 4px;
    font-size: 18px;
    text-transform: none;
    padding: 0px 30px;
  }
}

.add-star {
  color: #cecece;
  font-size: 32px;
}

.add-filled {
  color: #e8b24a;
}
