<div class="uk-section">

  <h3>My Profile</h3>
  <hr class="m-b-30"/>
  <div uk-grid>
    <div class="uk-width-1-3@m">
      <div class="category-box">
        <p class="font-regular-24 font-weight-600">Settings</p>
        <ul class="uk-nav uk-nav-default">
          <li [ngClass]="{'uk-active':selectedTab == 'displayname' }"><a href="javascript:void(0)" class="font-regular"
              (click)="selectedTab='displayname'">Change Display Name
              <span uk-icon="icon:chevron-right; ratio: 1.5" class="uk-float-right"></span></a>
          </li>
          <li [ngClass]="{'uk-active':selectedTab == 'editprofile' }"><a href="javascript:void(0)" class="font-regular"
              (click)="selectedTab='editprofile'">Edit Profile <span uk-icon="icon:chevron-right; ratio: 1.5"
                class="uk-float-right"></span></a></li>
        </ul>
      </div>

      <div class="category-box m-t-30">
        <p class="font-regular-24 font-weight-600">Profile</p>
        <ul class="uk-nav uk-nav-default">
          <li [ngClass]="{'uk-active':selectedTab == 'viewprofile' }"><a href="javascript:void(0)" class="font-regular"
              (click)="selectedTab='viewprofile'">View Profile <span uk-icon="icon:chevron-right; ratio: 1.5"
                class="uk-float-right"></span></a>
          </li>
          <li [ngClass]="{'uk-active':selectedTab == 'viewhistory' }"><a href="javascript:void(0)" class="font-regular"
              (click)="selectedTab='viewhistory'">View History <span uk-icon="icon:chevron-right; ratio: 1.5"
                class="uk-float-right"></span></a></li>
        </ul>
      </div>
    </div>
    <div class="uk-width-expand@m">

      <ng-container [ngSwitch]="selectedTab">
        <div class="uk-animation-fade uk-animation-fast" *ngSwitchCase="'displayname'">
          <app-display-name-form></app-display-name-form>
        </div>

        <div class="uk-animation-fade uk-animation-fast" *ngSwitchCase="'editprofile'">
          <app-edit-profile-form (cancelForm)="viewUserProfile()"></app-edit-profile-form>
        </div>

        <div class="uk-animation-fade uk-animation-fast" *ngSwitchCase="'viewprofile'">
          <app-view-profile (editProfile)="viewEditProfile()"></app-view-profile>
        </div>
      </ng-container>

    </div>
  </div>
</div>