<!-- Product Featured START tabs -->
<div class="featured-tab m-b-30">
    <div class="title">
        <div uk-grid>
            <div class="uk-width-expand@s">
                <img src="assets/images/products.png" /> <span class="font-regular-24 font-weight-600">Products</span>
            </div>
            <div>
                <div uk-grid>
                    <div class="uk-flex uk-flex-middle">
                        <small>Showing</small>
                    </div>
                    <div>
                        <select class="uk-select">
                            <option>Popular products</option>
                            <option>Past event</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <!-- Featured Service card  -->
        <div uk-slider>
            <div class="uk-position-relative">
                <div class="uk-slider-container uk-light">
                    <!-- Product Card -->
                    <ul class="uk-slider-items uk-grid-match uk-child-width-1-3@m uk-grid">
                        <li>
                            <div class="uk-card uk-card-default service-content">
                                <div class="p-8">
                                    <div class="verified">
                                        <img class="h-150 w-100" src="assets/images/product-test2.png" />
                                        <button class="perOff">35% OFF</button>
                                    </div>
                                    <p class="font-regular font-weight-600 m-b-5">Wheel chair </p>

                                    <ngb-rating [rate]="4" [readonly]="true" [max]="5">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>

                                    <div class="font-regular-15">Reviews</div>
                                    <div class="m-t-10">
                                        <span class="price-text">Rs 1699</span> <span class="m-l-5 mrp">Rs 8000</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default service-content">
                                <div class="p-8">
                                    <div class="verified">
                                        <img class="h-150 w-100" src="assets/images/product-test2.png" />
                                        <button class="perOff">35% OFF</button>
                                    </div>
                                    <p class="font-regular font-weight-600 m-b-5">Wheel chair </p>

                                    <ngb-rating [rate]="4" [readonly]="true" [max]="5">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>

                                    <div class="font-regular-15">Reviews</div>
                                    <div class="m-t-10">
                                        <span class="price-text">Rs 1699</span> <span class="m-l-5 mrp">Rs 8000</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-default service-content">
                                <div class="p-8">
                                    <div class="verified">
                                        <img class="h-150 w-100" src="assets/images/product-test2.png" />
                                        <button class="perOff">35% OFF</button>
                                    </div>
                                    <p class="font-regular font-weight-600 m-b-5">Wheel chair </p>

                                    <ngb-rating [rate]="4" [readonly]="true" [max]="5">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>

                                    <div class="font-regular-15">Reviews</div>
                                    <div class="m-t-10">
                                        <span class="price-text">Rs 1699</span> <span class="m-l-5 mrp">Rs 8000</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-default service-content">
                                <div class="p-8">
                                    <div class="verified">
                                        <img class="h-150 w-100" src="assets/images/product-test2.png" />
                                        <button class="perOff">35% OFF</button>
                                    </div>
                                    <p class="font-regular font-weight-600 m-b-5">Wheel chair </p>

                                    <ngb-rating [rate]="4" [readonly]="true" [max]="5">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>

                                    <div class="font-regular-15">Reviews</div>
                                    <div class="m-t-10">
                                        <span class="price-text">Rs 1699</span> <span class="m-l-5 mrp">Rs 8000</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-default service-content">
                                <div class="p-8">
                                    <div class="verified">
                                        <img class="h-150 w-100" src="assets/images/product-test2.png" />
                                        <button class="perOff">35% OFF</button>
                                    </div>
                                    <p class="font-regular font-weight-600 m-b-5">Wheel chair </p>

                                    <ngb-rating [rate]="4" [readonly]="true" [max]="5">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>

                                    <div class="font-regular-15">Reviews</div>
                                    <div class="m-t-10">
                                        <span class="price-text">Rs 1699</span> <span class="m-l-5 mrp">Rs 8000</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-default service-content">
                                <div class="p-8">
                                    <div class="verified">
                                        <img class="h-150 w-100" src="assets/images/product-test2.png" />
                                        <button class="perOff">35% OFF</button>
                                    </div>
                                    <p class="font-regular font-weight-600 m-b-5">Wheel chair </p>

                                    <ngb-rating [rate]="4" [readonly]="true" [max]="5">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>

                                    <div class="font-regular-15">Reviews</div>
                                    <div class="m-t-10">
                                        <span class="price-text">Rs 1699</span> <span class="m-l-5 mrp">Rs 8000</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <!-- <a class="uk-position-center-left-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slider-item="previous"></a>
              <a class="uk-position-center-left-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slider-item="next"></a> -->
                </div>
                <div class="uk-hidden@s uk-light">
                    <a class="uk-position-center-left uk-position-small button-slidenav" href="#" uk-slidenav-previous
                        uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small button-slidenav" href="#" uk-slidenav-next
                        uk-slider-item="next"></a>
                </div>

                <div class="uk-visible@s">
                    <a class="uk-position-center-left-out uk-position-small button-slidenav slidenav-pervious" href="#"
                        uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small button-slidenav slidenav-next" href="#"
                        uk-slidenav-next uk-slider-item="next"></a>
                </div>
                <!-- <a class="uk-position-center-left uk-position-small button-slidenav" href="#" uk-slidenav-previous
                uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small  button-slidenav" href="#" uk-slidenav-next
                uk-slider-item="next"></a> -->
                <!-- <div class="uk-margin"></div> -->

            </div>
        </div>

    </div>
    <div class="block-footer">
        <div uk-grid>
            <div class="uk-width-expand@s">
                <img src="assets/images/verified.png" /> <span class="m-l-5">More than 500 service providers</span>
            </div>
            <div>
                <button routerLink="/products/all" class="uk-button uk-button-default">See All Products</button>
            </div>
        </div>
    </div>
</div>
<!-- Product Featured END tabs -->