<div>
  <!-- Error box START-->
  <div *ngIf="numberError" class="uk-alert-danger uk-animation-fade" uk-alert>
    <p>{{ numberError }}</p>
  </div>
  <!-- Error box END-->
  <div class="uk-form-stacked">
    <div class="uk-margin">
      <label class="uk-form-label" for="Phone-Number">Mobile Number</label>
      <div class="uk-form-controls">

        <div class="uk-inline mobile-number">
          <a *ngIf="mobileNumber" class="uk-form-icon uk-form-icon-flip" (click)="changeNumber()">Change Number</a>
          <input class="uk-input otpnumber"
            [ngClass]="{'uk-form-danger' : mobile.invalid && (mobile.dirty || mobile.touched) }" id="Phone-Number"
            type="number" [(ngModel)]="mobileNumber" (keydown.enter)="requestOtp()" placeholder="Enter Mobile Number..."
            required #mobile="ngModel" />
        </div>
      </div>
    </div>
    <div class="uk-margin">
      <div class="uk-form-controls">
        <input class="uk-input" aria-label="otpcode" type="number" name="otpcode" [(ngModel)]="OtpCode"
          placeholder="Enter OTP..." (keydown.enter)="requestOtp()" [disabled]="!otpGenerated" />
        <a *ngIf="otpGenerated" (click)="requestResendOtp()" href="javascript:void(0)" class="resend-otp"> Resend
          OTP</a>
      </div>
    </div>
  </div>
  <div class="m-b-40" uk-grid>
    <div *ngIf="!otpGenerated" class="uk-width-expand uk-flex uk-flex-middle">- An OTP will be sent to the above number.
    </div>
    <div *ngIf="otpGenerated" class="uk-width-expand uk-flex uk-flex-middle">- 4-digit OTP was
      {{ otpResend ? 'resent': 'sent' }} to
      {{ mobileNumber }}.</div>
    <div class="uk-width-auto"> <button class="uk-button uk-button-default otp-btn"
        (click)="requestOtp()">{{ otpGenerated ?  'Verify OTP' :'Request OTP'}}</button></div>
  </div>
  <hr>
  <div class="uk-child-width-1-2@l m-t-30" uk-grid>
    <div>
      <button class="fb-btn uk-button uk-button-default font-regular" (click)="signinWithFacebook()">
        <fa-icon [icon]="['fab', 'facebook-square']" [style]="{'float': 'left'}"></fa-icon>
        Login with Facebook
      </button>
    </div>

    <div>
      <button class="google-btn uk-button uk-button-default font-regular" (click)="signinWithGoogle()">
        <fa-icon [icon]="['fab','google']" [style]="{'float': 'left'}"></fa-icon>
        Login with Google
      </button>
    </div>
  </div>
</div>