<div class="uk-section m-t-b-0">
  <div class="breadcrumbs">
    <app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>
  </div>
  <!-- <ul class="uk-breadcrumb">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/services/all">All Services</a></li>
    <li><span> {{ service?.name || service?.basicProfileInfo?.firstName  }}</span></li>
  </ul> -->
  <h1 class="uk-h2">
    {{ service?.name || service?.basicProfileInfo?.firstName  }}
  </h1>
  <hr class="m-b-30" />

  <div uk-grid>

    <div class="uk-width-1-3@m m-b-30">

      <!-- Conatact Service details START-->
      <div class="details-box bg-white">

        <div class="verified">
          <img [imageHandler] *ngIf="!isDBService" [src]="service?.disp_pic" alt="No Image Found" />
          <img [imageHandler] *ngIf="isDBService" [src]="service?.basicProfileInfo?.profileImage?.original"
            alt="No Image Found" />
          <button *ngIf="service?.verified == '1'"><span class="verified-icon-w"></span></button>
        </div>
        <div class="uk-text-center">
          <p class="m-t-20 m-b-0 uk-text-bold font-regular">
            {{ service?.name || service?.basicProfileInfo?.firstName }}
          </p>
          <p class="m-t-0 m-b-10">Source: {{isDBService ? 'Elder spring' : 'Justdial' }}</p>

          <p *ngIf="!isDBService" class="m-t-0">{{ service.tag_cname }}</p>
          <p *ngIf="isDBService && service?.systemTags.length > 0" class="m-t-0">
            {{service?.systemTags[0].name}}</p>

          <!-- <button class="uk-button uk-button-default" uk-toggle="target: #modal-sections">Contact Service
            Provider</button> -->
            <a class="uk-button uk-button-default color-white" uk-toggle="target: #modal-sections">Contact Service
              Provider</a>

          <!-- Contact Model START -->
          <div id="modal-sections" class="uk-modal-container" uk-modal>
            <div class="uk-modal-dialog">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <div class="uk-modal-header">
                <h3 class="uk-modal-title">Contact Details</h3>
              </div>
              <div class="uk-modal-body">
                <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
                  <div>

                    <p class="font-regular-15 m-b-10 lable">Email</p>
                    <p class="font-regular m-t-0">
                      {{ service?.email || service?.basicProfileInfo?.primaryEmail || '-'}}</p>

                    <p class="font-regular-15 m-b-10 lable">Organisation</p>
                    <p *ngIf="!isDBService" class="font-regular m-t-0">{{service?.seo_dt?.title}}
                    </p>
                    <p *ngIf="isDBService && service?.systemTags.length > 0" class="font-regular m-t-0">
                      <ng-container *ngFor="let tag of service?.systemTags">
                        {{ tag.description}}
                      </ng-container>
                    </p>



                  </div>

                  <div>
                    <p class="font-regular-15 m-b-10 lable">Phone Number</p>
                    <p *ngIf="!isDBService" class="font-regular m-t-0">
                      {{service?.contact || service?.mobile }}</p>
                    <p *ngIf="isDBService" class="font-regular m-t-0">
                      {{ service?.basicProfileInfo?.primaryPhoneNo  }}
                    </p>


                    <p class="font-regular-15 m-b-10 lable">Location</p>
                    <p *ngIf="!isDBService" class="font-regular m-t-0">{{service?.address}}</p>
                    <p *ngIf="isDBService" class="font-regular m-t-0">
                      {{service?.basicProfileInfo?.primaryUserAddress.streetAddress}}
                      {{service?.basicProfileInfo?.primaryUserAddress.zip}}
                      {{service?.basicProfileInfo?.primaryUserAddress.country}}
                    </p>
                  </div>

                </div>
              </div>
              <div class="uk-modal-footer uk-text-right review-form">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
              </div>
            </div>
          </div>
          <!-- Contact Model END -->

          <div class="m-t-10 m-b-20">
            <a (click)="reportFormToggle()">
              <fa-icon [icon]="['far', 'flag']" class="m-r-5"></fa-icon>
              {{ auth.isAuthenticate ? 'Report service provider': 'Join us to Report service provider'}}
            </a>

            <!-- Report Form MOdel Start -->

            <!-- This is the modal -->
            <div id="report-modal" uk-modal>
              <div class="uk-modal-dialog uk-modal-body">
                <h3 class="uk-modal-title">Report</h3>
                <!-- Success box START-->
                <div *ngIf="successMessage" class="uk-alert-success" uk-alert>
                  <p>{{ successMessage }}</p>
                </div>
                <!-- Success box END-->
                <form [formGroup]="reportForm" (ngSubmit)="onSubmitReport()" class="uk-form-stacked review-form">
                  <div class="uk-margin">
                    <label class="uk-form-label" for="reporting-cause">Cause of
                      Reporting</label>
                    <div class="uk-form-controls">
                      <select formControlName="cause" class="uk-select" id="reporting-cause">
                        <option disabled selected hidden value="">Select your cause of reporting
                        </option>
                        <option>Information provided is incorrect</option>
                        <option>Service Provider is unreachable</option>
                        <option>Service Provider no longer exists</option>
                        <option>Other reasons</option>
                      </select>
                    </div>
                  </div>

                  <div class="uk-margin">
                    <label class="uk-form-label" for="comment">Comment (optional)</label>
                    <div class="uk-form-controls">
                      <textarea formControlName="comment" id="comment" class="uk-input min-h-200" id="form-stacked-text"
                        placeholder="Enter your comment here"></textarea>
                    </div>
                  </div>

                  <p class="uk-text-right">
                    <button class="uk-button uk-button-transparent uk-modal-close" type="button">Cancel</button>
                    <button class="m-l-10 uk-button uk-button-default" type="submit"
                      [disabled]="reportForm.invalid">Submit</button>
                  </p>
                </form>
              </div>
            </div>
            <!-- Report Form MOdel End -->
          </div>
        </div>
      </div>
      <!-- Conatact Service details END-->

      <!-- Rating box START -->
      <ul class="uk-child-width-expand" uk-tab="connect: .switcher-container; animation: uk-animation-fade">
        <li><a class="db" [ngClass]="{'hidden':isDBService }" href="#">Joy Of Age</a></li>
        <li *ngIf="!isDBService"><a class="jd" href="#">JustDial</a></li>
      </ul>


      <div class="rating-box bg-white">
        <app-rating-view [detailReview]="detailReview" [dbReviewCount]="totalReviewRecords"
          [jdDetailReview]="jdDetailReview"></app-rating-view>
      </div>


      <!-- Rating box END -->

      <!-- Submit Rating START-->
      <ul class="uk-switcher switcher-container">
        <li>
          <div class="rating-box m-t-20 bg-white">
            <app-add-rating [userRating]="userRating" ratingOf="service" (submitForm)="onRatingSubmit($event)">
            </app-add-rating>
          </div>
        </li>
        <li>
        </li>
      </ul>
      <!-- Submit Rating END-->

      <!-- Socailmedia share box  START-->
      <div class="m-t-30 bg-white category-box">
        <div class="m-b-20 uk-visible@s">
          <a [href]="whatsappUrl" class="uk-icon-button  uk-margin-small-right whatapp-icon" uk-icon="whatsapp"
            target="_blank"> </a>
          <a class="social-link" [href]="whatsappUrl" target="_blank">
            Share via
            Whatsapp</a>
        </div>

        <div class="m-b-20 uk-hidden@s">
          <a [href]="whatsappMobileUrl" class="uk-icon-button  uk-margin-small-right whatapp-icon" uk-icon="whatsapp">
          </a>
          <a class="social-link" [href]="whatsappMobileUrl">
            Share via
            Whatsapp</a>
        </div>
        <div class="m-b-20">
          <a href="mailto:?subject=Regarding Service '{{ service?.name || service?.basicProfileInfo?.firstName  }}' from An Elder Spring Initiative by Tata Trusts&body=Service URL: {{currentUrl}}"
            class="uk-icon-button  uk-margin-small-right fb-icon" uk-icon="mail">
          </a> <a class="social-link"
            href="mailto:?subject=Regarding Service '{{ service?.name || service?.basicProfileInfo?.firstName  }}' from An Elder Spring Initiative by Tata Trusts&body=Service URL: {{currentUrl}}">
            Share via
            Email</a>
        </div>
        <div>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}&t={{ service?.name || service?.basicProfileInfo?.firstName  }}"
            onclick="javascript:window.open(this.href,
                    '_blank', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
            class="uk-icon-button  uk-margin-small-right email-icon" uk-icon="facebook"> </a> <a class="social-link"
            href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}&t={{ service?.name || service?.basicProfileInfo?.firstName  }}"
            onclick="javascript:window.open(this.href,
                    '_blank', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            Share via
            Facebook</a>
        </div>
      </div>
      <!-- Socailmedia share box  END-->

    </div>

    <div class="uk-width-expand@m">
      <!-- service informations START-->
      <div class="info category-box bg-white">
        <!-- About -->
        <ng-container *ngIf="service?.seo_dt?.desc || service?.basicProfileInfo?.description">
          <div>
            <h3 class="font-regular-24 font-weight-600">About</h3>
            <p *ngIf="!isDBService && service?.seo_dt?.desc">
              {{service?.seo_dt?.desc }}
            </p>
            <div *ngIf="isDBService" [innerHTML]="service?.basicProfileInfo?.description"></div>
          </div>
          <hr />
        </ng-container>

        <h3 class="font-regular-24 font-weight-600">Details</h3>
        <div uk-grid>
          <div class="uk-width-2-5@s">

            <p class="font-regular-15 m-b-10 lable">Email</p>
            <p class="font-regular m-t-0">
              {{ service?.email || service?.basicProfileInfo?.primaryEmail || '-'}}</p>

            <p class="font-regular-15 m-b-10 lable">Organisation</p>
            <p *ngIf="!isDBService" class="font-regular m-t-0">{{service?.seo_dt?.title}}</p>
            <p *ngIf="isDBService && service?.systemTags.length > 0" class="font-regular m-t-0">
              <ng-container *ngFor="let tag of service?.systemTags">
                {{ tag.description}}
              </ng-container>
            </p>

            <p class="font-regular-15 m-b-10 lable">Location</p>
            <p *ngIf="!isDBService" class="font-regular m-t-0">{{service?.address}}</p>
            <p *ngIf="isDBService" class="font-regular m-t-0">
              {{service?.basicProfileInfo?.primaryUserAddress.streetAddress}}
              {{service?.basicProfileInfo?.primaryUserAddress.zip}}
              {{service?.basicProfileInfo?.primaryUserAddress.country}}
            </p>

          </div>

          <div>
            <p class="font-regular-15 m-b-10 lable">City</p>
            <p class="font-regular m-t-0">
              {{service.city || service?.basicProfileInfo?.primaryUserAddress.city || '-'}}</p>

            <p class="font-regular-15 m-b-10 lable">Phone Number</p>
            <p *ngIf="!isDBService" class="font-regular m-t-0">{{service?.contact || service?.mobile }}</p>
            <p *ngIf="isDBService" class="font-regular m-t-0">
              {{ service?.basicProfileInfo?.primaryPhoneNo  }}
            </p>

            <p *ngIf="!isDBService" class="font-regular-15 m-b-10 lable">Timings</p>
            <p *ngIf="!isDBService" class="font-regular m-t-0">{{ service.HoursOfOperation }}</p>

            <p *ngIf="isDBService" class="font-regular-15 m-b-10 lable">Website</p>
            <p *ngIf="isDBService" class="font-regular m-t-0">
              {{ service?.serviceProviderInfo?.website ? service?.serviceProviderInfo?.website  : '-' }}
            </p>

          </div>

        </div>

      </div>
      <!-- service informations END-->

      <!-- Write Review Form START-->
      <!-- This is review modal -->
      <div id="review-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h4 class="font-regular-24 font-weight-600">{{reviewTitle}} Review</h4>
          <hr />
          <!-- Success box START-->
          <div *ngIf="reviewSuccessMessage" class="uk-alert-success" uk-alert>
            <p>{{ reviewSuccessMessage }}</p>
          </div>
          <!-- Success box END-->
          <form [formGroup]="reviewForm" class="uk-form-stacked review-form">


            <div class="uk-margin">
              <label class="uk-form-label" for="review-title">Title<span class="required">*</span></label>
              <div class="uk-form-controls">
                <input class="uk-input" id="review-title" formControlName="title" type="text"
                  placeholder="Enter your title">
              </div>
            </div>

            <!-- <div class="uk-child-width-1-2@s" uk-grid> -->
            <!-- <div>
                <div class="uk-margin">
                  <label class="uk-form-label" for="form-stacked-select">Your Rating<span
                      class="required">*</span></label>
                  <div class="uk-form-controls">
                    <select class="uk-select" formControlName="rating" id="form-stacked-select">
                      <option disabled selected hidden value="0">Select your rating</option>
                      <option value="90">5 Star</option>
                      <option value="80">4 Star</option>
                      <option value="60">3 Star</option>
                      <option value="40">2 Star</option>
                      <option value="20">1 Star</option>
                    </select>
                  </div>
                </div>

              </div> -->

            <!-- </div> -->

            <div class="uk-margin">
              <label class="uk-form-label" for="review">Your Review<span class="required">*</span></label>
              <div class="uk-form-controls">
                <textarea formControlName="review" class="uk-input min-h-200" id="review"
                  placeholder="Enter your review here"></textarea>
              </div>
            </div>

            <div class="uk-text-right">
              <button class="uk-button uk-button-transparent uk-modal-close" type="button">Cancel</button>
              <button class="uk-button uk-button-default m-l-5 uk-modal-close" (click)="onReviewSubmit()" type="button"
                [disabled]="reviewForm.invalid">{{ auth.isAuthenticate ? 'Post Review': 'Join us to Review'}}</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Write Review Form END-->

      <!-- Delete review confirmation modal -->
      <!-- <div id="delete-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
          <p class="font-regular font-weight-600">Are you sure want to delete this Comment?</p>
          <p class="lable font-regular m-0">By deleting this comment, you will also delete all the replies posted for
            this perticular comment.</p>
          <div class="uk-text-right">
            <button class="uk-button uk-button-default review-btn-transparent uk-modal-close"
              type="button">Cancel</button>
            <button class="uk-button uk-button-default review-btn uk-modal-close m-l-5"
              (click)="deleteReview()">Delete</button>
          </div>
        </div>
      </div> -->


      <!-- Reviews Section-->
      <div class="m-t-30">

        <!-- <h1 *ngIf="isDBService" class="font-regular-24 font-weight-600"> Reviews ({{dbReview.length}})</h1> -->
        <ul class="uk-switcher switcher-container">
          <li>
            <!--DB Reviews START-->

            <ng-container *ngIf="dbReview.length == 0">
              <app-no-review></app-no-review>
            </ng-container>

            <ng-container *ngIf="dbReview.length > 0">
              <div class="m-t-50 m-b-20" uk-grid>
                <div class="uk-width-expand uk-flex uk-flex-middle">
                  <h3 class="font-regular-24 font-weight-600"> Reviews
                    ({{totalReviewRecords}})
                  </h3>
                </div>
                <div class="uk-width-auto">
                  <button class="uk-button uk-button-transparent review-btn-transparent"
                    (click)="writeNewReview()">{{  auth.isAuthenticate ? 'Write Review': 'Join us to Review'  }}</button>
                </div>
              </div>

              <!-- Review Box START-->
              <app-reviews-list [userId]="userId" [dbReview]="dbReview" (likeReview)="likeUnlikeReview($event)"
                (submitEditForm)="editReview($event)"></app-reviews-list>
              <!-- Review Box END-->

              <app-pagination *ngIf="(dbReview && dbReview.length > 0)" [totalRecords]="totalReviewRecords"
                [currentPage]="reviwePaginate.p" [perPage]="reviwePaginate.s"
                (pageChangeCall)="changeReviewPage($event)">
              </app-pagination>

            </ng-container>
            <!-- DB Reviews END -->
          </li>
          <li>
            <!--JD Reviews START-->
            <ng-container *ngIf="!isDBService && service.Reviews.length == 0">
              <h3 class="font-regular-24 font-weight-600">JustDial Reviews(0)</h3>

              <div class="uk-child-width-expand m-t-50 m-b-50" uk-grid>
                <div class="info">
                  <h4 class="font-regular-24 font-weight-600 m-0"> No review!</h4>
                  <p class="lable font-regular m-0"> No user has left review for this service.</p>
                </div>
                <div class="uk-text-right">
                  <img src="/assets/images/norecord.svg" alt="No Image Found" />
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="!isDBService && service.Reviews.length > 0">
              <h3 class="font-regular-24 font-weight-600 m-t-50 m-b-20">JustDial Reviews
                ({{service.Reviews.length}})
              </h3>
              <!-- Demo box -->
              <!-- <div class="category-box m-t-30 bg-white">
                <div uk-grid>
                  <div class="uk-width-expand">
                    <div class="child-width-auto" uk-grid>
                      <div>
                        <img class="review-avatar" src="assets/images/discussion-user.png" />
                      </div>
                      <div class="p-l-20">
                        <p class="font-regular m-0">Dubbal Singh</p>
                      </div>
                    </div>
                  </div>
                  <div class="uk-flex uk-flex-middle">
                    <p class="font-regular-15">3 hours ago</p>
                  </div>
                </div>
                <hr />
                <div uk-grid>
                  <div class="uk-width-expand uk-flex uk-flex-middle">
                    <p class="font-regular font-weight-600">Excellent Service!! </p>
                  </div>
                  <div>
                    <ngb-rating rate="4" [readonly]="true" [max]="5">
                      <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                      </ng-template>
                    </ngb-rating>
                  </div>
                </div>
                <div class="m-t-30">
                  <p class="font-regular">I need to tell this to the world that this is the best and right place
                    for people who are
                    suffering with any type of physical pain</p>
                </div>
                <div class="m-t-30">
                  <div uk-grid>
                    <div class="uk-width-expand">
                      <span>
                        <fa-icon [icon]="['far', 'thumbs-up']" class="m-r-5"></fa-icon> 17
                      </span>
                      <span class="m-l-5">
                        <fa-icon [icon]="['far', 'thumbs-down']" class="m-r-5"></fa-icon> 20
                      </span>
                      <ng-container>
                        <a class="font-regular uk-text-primary">
                          Edit
                        </a>
                        <a class="font-regular uk-text-danger m-l-5">
                          Delete
                        </a>
                      </ng-container>
                    </div>
                    <div class="replay-link">
                      <a class="font-regular">
                        <fa-icon [icon]="['far', 'comments']" class="m-r-5"></fa-icon> Reply
                      </a>
                    </div>
                  </div>
                </div>

              </div> -->
              <!-- Demo box -->


              <div *ngFor=" let review of service.Reviews" class="category-box m-b-30 bg-white">
                <div uk-grid>
                  <div class="uk-width-expand">
                    <div class="child-width-auto" uk-grid>
                      <div>
                        <img class="review-avatar" [src]="review.reviewer_photo" alt="No Image Found" />
                      </div>
                      <div class="p-l-20">
                        <p class="font-regular m-0">{{ review.reviewer_name}}</p>

                      </div>
                    </div>
                  </div>
                  <div class="uk-flex uk-flex-middle">
                    <p class="font-regular-15">{{review.act_time}}</p>
                  </div>
                </div>

                <hr />
                <div uk-grid>
                  <div class="uk-width-expand uk-flex uk-flex-middle">
                    <p class="font-regular font-weight-600">JustDial Review</p>
                  </div>
                  <div>
                    <ngb-rating [rate]="review.review_rate" [readonly]="true" [max]="5">
                      <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                      </ng-template>
                    </ngb-rating>
                  </div>
                </div>

                <div class="m-t-30">
                  <p class="font-regular">{{review.review_text }}</p>
                </div>
                <!-- <div class="m-t-30 m-b-30">
                  <div uk-grid>
                    <div class="uk-width-expand">
                      <a class="like-link">
                        <fa-icon [icon]="['far', 'thumbs-up']" class="m-r-5 font-22"></fa-icon> 17
                      </a>
                      <a class="m-l-5 dislike-link">
                        <fa-icon [icon]="['far', 'thumbs-down']" class="m-r-5 font-22"></fa-icon> 20
                      </a>
                    </div>
                  </div>
                </div> -->
              </div>

            </ng-container>
            <!--JD Reviews END-->
          </li>
        </ul>
        <!-- Reviews -->
      </div>

      <!-- <div
        *ngIf=" (dbReview.length == 0  && !service?.Reviews) || (service?.Reviews && service?.Reviews.length == 0 && dbReview.length == 0)"
        class="m-t-30">
    
      </div> -->
      <!-- Reviews Section END-->
    </div>
  </div>
</div>