.service-content {
  text-align: center;
  border: 1px solid #D7E0EF;
  border-radius: 4px;
  .p-8 {
    padding: 8px;
  }
  img {
    border-radius: 8px;
    object-fit: contain;
  }
  a {
    color: #1a72e8;
  }
  .verified {
    position: relative;
    button {
      background-color: #1a72e8;
      right: 10px;
      position: absolute;
      border-radius: 4px;
      padding: 7px 10px;
      display: flex;
      top: 10px;
      border: 0px;
      span {
        font-size: 18px;
      }
    }
  }
}
