<div class="uk-card uk-card-hover uk-card-default service-content cursor-pointer uk-height-1-1" tabindex=0>
    <div class="p-8">
        <div (click)="navigate()">
            <div class="verified">

                <img [imageHandler] *ngIf="isDBService" [src]="service?.basicProfileInfo?.profileImage?.thumbnailImage"
                    class="h-150 w-100" alt="No Image">
                <img [imageHandler] *ngIf="!isDBService" [src]="service?.thumbnail" class="h-150 w-100"
                    alt="No Image Found">

                <button *ngIf="service?.verified == '1'"><span class="verified-icon-w"></span></button>
            </div>
            <h3 class="font-regular font-weight-600 m-b-5">
                {{ isDBService ? service?.basicProfileInfo.firstName :  service?.name}}</h3>

            <p class="m-t-0 m-b-10">Source: {{isDBService ? 'Elder spring' : 'Justdial' }}</p>


            <ngb-rating [rate]="getDbServiceRating(service.ratingPercentage)" [readonly]="true" [max]="5">
                <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
            </ngb-rating>

            <!-- <ngb-rating *ngIf="!isDBService" [rate]="service?.compRating" [readonly]="true" [max]="5">
                <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
            </ngb-rating> -->

            <div class="font-regular-15">{{isDBService ? service?.reviewCount : service?.totalReviews}} Reviews</div>
        </div>
        <div class="m-t-10">
            <a *ngIf="!isDBService">{{service?.type}}</a>
            <a *ngIf="isDBService && service?.systemTags.length > 0">{{service?.systemTags[0].name}}</a>

        </div>
    </div>
</div>