<div class="event-summary bg-white uk-height-1-1 uk-card-hover cursor-pointer uk-flex uk-flex uk-flex-column uk-flex-between"
    *ngIf="event?.isPast == isPast || isPast==0" [routerLink]="['/community/event', event?.id ]" [queryParams]="pageParam">
    <div class="event-summary-head uk-grid uk-grid-collapse">
        <h3 class="event-title">
            {{event?.title}}
        </h3>
    </div>
    <div class="event-summary-body">
        <div class="date">
            <b>Date</b>: {{event?.datetime | date: 'dd-MMM-yyyy'}}
        </div>
        <div class="time">
            <b>Time</b>: {{event?.datetime | date: 'h:mm a'}}
        </div>
        <div class="location">
            <b>Location</b>: {{event?.address}}
        </div>
    </div>
    <div class="event-summary-footer uk-grid uk-grid-collapse" *ngIf="isShow">
       
        <div class="detail" > 
            <hr  style="margin-bottom: 20px;" />
            {{event?.description | striphtml | ellipsis: 75}}
        </div>
        <div class="left-text uk-width-1-1">
            <hr />
            <span *ngIf="event?.entryFee <= 0" class="green">Free Entry</span>
            <span *ngIf="event?.entryFee > 0">Entry Fees: <span class="green"> Rs. {{event?.entryFee}}</span> </span>
        </div>
    </div>
</div>