@import "src/assets/css/variables.scss";

.event-summary{
    border: solid 1px #D7E0EF;
    margin-bottom:20px;
    border-radius: 4px;
    text-align: start;
    color: $font-color-black;
    .event-summary-head{
        align-items: center;
        background-color: #D7E0EF;
        border-radius: 4px;
        min-height: 70px;
        padding: 0 15px;
        margin: 7px;
        .event-title{
            // font-weight: bold;
            font-size: 18px;
            line-height: 27px;
            color: $primary-txt-color;
            a{
                color: $primary-txt-color; 
            }
        }
    }
    .event-summary-body{
        padding: 20px 15px;
        font-size: 18px;
        font-family: "HKGroteskRegular";
        .detail{
            font-size: $font-small;
            height: 55px;;
            overflow: hidden;
        }
    }
    .event-summary-footer{
        padding: 0 15px 10px;
        font-size: 15px;
        align-items: center;
        span{
            cursor: pointer;
        }
        .green{
            color: #187700;
            font-weight: bold;
        }
    }
    .outdoor-icon{
        background-image: url(/assets/images/outdoor.svg);
        background-size: contain;
        display: inline-block;
        width: 35px;
        height: 35px;
        position: relative;
        top: -10px;
        right: -35px;
    }
    .indoor-icon{
        background-image: url(/assets/images/indoor.svg);
        background-size: contain;
        display: inline-block;
        width: 35px;
        height: 35px;
        position: relative;
        top: -10px;
        right: -35px;
    }
    
}