/* You can add global styles to this file, and also import other style files */

// 1. Your custom variables and variable overwrites.

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "assets/css/variables.scss";
// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "~uikit/src/scss/uikit-theme.scss";
// 5. Import Font
// @import url("https://fontlibrary.org/face/hk-grotesk");
@import "assets/css/suedo.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null) {
  $src: $path;
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: url($src) format("truetype");
  }
}

@include font-face("HKGroteskRegular", "assets/font/hk-grotesk/HKGrotesk-Regular.ttf", normal, normal);
@include font-face("HKGroteskRegular", "assets/font/hk-grotesk/HKGrotesk-SemiBold.ttf", bold, normal);

.font-regular {
  font-size: 18px;
  font-family: "HKGroteskRegular";
}

.font-regular-15 {
  font-size: 15px;
  font-family: "HKGroteskRegular";
}

.font-regular-24 {
  font-family: "HKGroteskRegular";
  font-size: 24px;
}

.star {
  font-size: 1.5rem;
  color: #0000007a;
}

.filled {
  color: #e8b24a;
}

ngb-rating {
  :focus {
    outline: unset;
  }
}

.verified-icon {
  background-image: url("/assets/images/certified.svg");
  display: inline-block;
  height: 1em;
  width: 1em;
  font-size: 18px;
}

.verified-icon-w {
  background-image: url("/assets/images/certified-w.svg");
  display: inline-block;
  height: 1em;
  width: 1em;
  font-size: 15px;
}

.close-icon {
  background-image: url("/assets/images/cancel.svg");
  display: inline-block;
  height: 3em;
  width: 3em;
  font-size: 12px;
}

.spinner-border {
  width: 8rem;
  height: 8rem;
  border: 0.5em solid #1a72e8;
  border-right-color: transparent;
  border-radius: 50%;
}

.knx-active {
  background-color: #d7e0ef;
  font-weight: 400;
}
.uk-button-primary,
.uk-button {
  border-radius: 4px;
  font-size: $font-small;
}

.uk-button {
  text-transform: none;
}

.uk-alert-success,
.uk-alert-danger {
  border: 1px solid;
  border-radius: 4px;
}

.required {
  color: #ee0202;
}

.breadcrumbs {
  margin-top: 48px;
  .uk-breadcrumb > :nth-child(n + 2):not(.uk-first-column)::before {
    margin: 0 5px;
    content: ">";
  }
  .uk-breadcrumb {
    font-size: 18px;
    color: $primary-txt-color;
    margin-top: 20px;
  }
  .uk-breadcrumb b {
    font-size: 18px;
    color: #000;
    font-weight: bold;
  }
}
.m-t-main-screen {
  margin-top: 40px;
}
.m-t-main-screen.search-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.font-light {
  color: $font-light-black;
}

.home-banner {
  min-height: 224px;
  margin: 32px 0 32px 0;
  border-radius: 8px;
  font-family: $regular-font;
  border: 1px solid #d7e0ef;
  h1 {
    font-family: $regular-font;
    font-size: 32px;
    font-weight: 600;
  }
}

@media (max-width: 640px) {
  .home-banner {
    min-height: 504px;
  }
}

.featured-tab {
  border-radius: 8px;
  border: 1px solid #d7e0ef;
  .title {
    background: #ecf4ff;
    padding: 24px 40px;
    border-radius: 8px 8px 0px 0px;
  }
  .block-footer {
    background: #ecf4ff;
    padding: 24px 40px;
    border-radius: 0px 0px 8px 8px;
  }
  .content {
    background: #e4eefb;
    padding: 40px;
  }

  .uk-button-default {
    background-color: #1a73e8;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    color: #fff;
    text-transform: none;
    padding: 1px 30px;
    &:focus {
      color: #1a73e8;
      background-color: #fff;
    }
  }
}

.button-slidenav {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  margin: 0 5px;
  background-color: #ffffff;
  color: #777 !important;
  font-size: 18px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  &:hover {
    color: #000;
  }
  &:focus {
    color: #000;
  }
}

.slidenav-pervious {
  right: 97% !important;
}

.slidenav-next {
  left: 97% !important;
}

.uk-search .uk-search-icon:not(a):not(button):not(input) {
  pointer-events: all;
}
@media screen and (max-width : 640px) {
  .m-t-main-screen.search-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .home-banner {
    min-height: 504px;
  }
  .slidenav-pervious {
    right: 92% !important;
  }
  
  .slidenav-next {
    left: 92% !important;
  }
}
