/* You can add global styles to this file, and also import other style files */

// 1. Your custom variables and variable overwrites.

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "assets/css/variables.scss";
// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "~uikit/src/scss/uikit-theme.scss";
// 5. Import Font
// @import url("https://fontlibrary.org/face/hk-grotesk");
@import "assets/css/suedo.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~angular-notifier/styles";
// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null) {
  $src: $path;
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: url($src) format("truetype");
  }
}

@include font-face("HKGroteskRegular", "assets/font/hk-grotesk/HKGrotesk-Regular.ttf", normal, normal);
@include font-face("HKGroteskRegular", "assets/font/hk-grotesk/HKGrotesk-SemiBold.ttf", bold, normal);

// html {
//   scroll-behavior: smooth;
// }
.font-regular {
  font-size: 18px;
  font-family: "HKGroteskRegular";
}

.font-regular-15 {
  font-size: 15px;
  font-family: "HKGroteskRegular";
}

.font-regular-24 {
  font-family: "HKGroteskRegular";
  font-size: 24px;
}

.star {
  font-size: 1.5rem;
  color: #0000007a;
}

.filled {
  color: #e8b24a;
}

ngb-rating {
  :focus {
    outline: unset;
  }
}

.verified-icon {
  background-image: url("/assets/images/certified.svg");
  display: inline-block;
  height: 1em;
  width: 1em;
  font-size: 18px;
}

.verified-icon-w {
  background-image: url("/assets/images/certified-w.svg");
  display: inline-block;
  height: 1em;
  width: 1em;
  font-size: 15px;
}

.close-icon {
  background-image: url("/assets/images/cancel.svg");
  display: inline-block;
  height: 3em;
  width: 3em;
  font-size: 12px;
}

.spinner-border {
  width: 8rem;
  height: 8rem;
  border: 0.5em solid #1a72e8;
  border-right-color: transparent;
  border-radius: 50%;
}

.knx-active {
  background-color: #d7e0ef;
  font-weight: 400;
}
.uk-button-primary,
.uk-button {
  border-radius: 4px;
  font-size: $font-small;
}

.uk-button {
  text-transform: none;
}

.uk-alert-success,
.uk-alert-danger {
  border: 1px solid;
  border-radius: 4px;
}

.required {
  color: #ee0202;
}

.breadcrumbs {
  margin-top: 48px;
  .uk-breadcrumb > :nth-child(n + 2):not(.uk-first-column)::before {
    margin: 0 5px;
    content: ">";
  }
  .uk-breadcrumb {
    font-size: 18px;
    color: $primary-txt-color;
    margin-top: 20px;
  }
  .uk-breadcrumb b {
    font-size: 18px;
    color: #000;
    font-weight: bold;
  }
}

.font-light {
  color: $font-light-black;
}

.home-banner {
  min-height: 224px;
  margin: 32px 0 32px 0;
  border-radius: 8px;
  font-family: $regular-font;
  border: 1px solid #d7e0ef;
  h1 {
    font-family: $regular-font;
    font-size: 32px;
    font-weight: 600;
  }
}

@media (max-width: 640px) {
  // .home-banner {
  //   min-height: 504px;
  // }
  .m-t-20\@s {
    margin-top: 20px !important;
  }
}

.featured-tab {
  border-radius: 8px;
  border: 1px solid #d7e0ef;
  .title {
    background: #ecf4ff;
    padding: 24px 40px;
    border-radius: 8px 8px 0px 0px;
  }
  .block-footer {
    background: #ecf4ff;
    padding: 24px 40px;
    border-radius: 0px 0px 8px 8px;
  }
  .content {
    background: #e4eefb;
    padding: 40px;
  }

  .uk-button-default {
    border-radius: 4px;
    font-size: 18px;
    text-transform: none;
    padding: 1px 30px;
  }
}

.button-slidenav {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  margin: 0 5px;
  background-color: #ffffff;
  color: #777 !important;
  font-size: 18px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  &:hover {
    color: #000;
  }
}

.search-result-box {
  background: #d7e0ef;
  border: 1px solid #bac2d0;
  border-radius: 2px;
  color: #1a73e8;
  p {
    margin: 20px 0;
    text-align: center;
  }
}

.slidenav-pervious {
  right: 97% !important;
}

.slidenav-next {
  left: 97% !important;
}

.uk-search .uk-search-icon:not(a):not(button):not(input) {
  pointer-events: all;
}

.uk-button-default:focus:active,
.uk-button-primary:focus:active {
  background: #0050ba;
  color: #ffffff;
}

.uk-button-default,
.uk-button-primary {
  color: #ffffff;
  background: #1a73e8;
  &:hover,
  &:focus {
    background: #529bfb;
    color: #ffffff;
  }
  &:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }
  &:disabled {
    color: #a2a4ab;
    background-color: #c7c9cd;
  }
}

.uk-button-transparent:focus:active {
  background: transparent;
  color: #0050ba;
  border: 1px solid #0050ba;
}

.uk-button-transparent {
  color: #1a73e8;
  background: transparent;
  border: 1px solid #1a73e8;
  &:hover,
  &:focus {
    background: transparent;
    color: #529bfb;
    border: 1px solid #529bfb;
  }
  &:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }
  &:disabled {
    color: #c7c9cd;
    border: 1px solid #c7c9cd;
    background-color: transparent;
  }
}

@media screen and (max-width: 640px) {
  .home-banner {
    min-height: 504px;
  }
  .slidenav-pervious {
    right: 92% !important;
  }

  .slidenav-next {
    left: 92% !important;
  }
  .grid-reverse-dir {
    flex-direction: column-reverse;
  }
}

.uk-search-input {
  &:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }
}
.see-all-card {
  color: #1a73e8;
  text-align: center;
  width: 100%;
}

/* Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a09e9e;
}

.light-text {
  color: #c4c4c4;
}

.bg-filter-header {
  background: #2a415e;
}

/* New Banner */
// .top-banner {
//   margin-top: 32px;
//   border-radius: 4px;
//   .banner-text {
//     padding: 32px 40px;
//   }
// }

.top-banner {
  margin-top: 32px;
  border-radius: 4px;
  // background: #f1f1f2;
  .banner-text {
    padding: 32px 40px;
  }
  // .banner-img {
  //   padding-top: 16px;
  // }
}

.mb-24 {
  margin-bottom: 24px;
}
.all-blue {
  background-color: #ecf4ff;
  border: 1px solid #d7e0ef;
  border-radius: 8px;
  margin-top: 32px;
  div.search-container {
    border: none;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  div.tab {
    margin-top: 0px;
    padding: 0 32px;
  }
  div#searchResultList {
    padding: 0 32px;
  }
}

// @media (min-width: 640px) {
//   .banner-img {
//     padding-right: 40px;
//   }
// }

.uk-alert-danger {
  color: #fff;
  background: #c83f3f;
  border-radius: 4px;
}

.uk-alert-success {
  color: #fff;
  background: #187700;
  border-radius: 4px;
}
.notifier__notification--success {
  color: $notifier-success-font-color;
  background-color: #187700;
  box-sizing: 0px opx 16px;
  border-radius: 4px;
  position: fixed;
  width: 417px;
  height: 128px;
  left: 368px;
  top: 330px;

  .notifier__notification-button-icon {
    // 16x16 fixed size
    fill: $notifier-success-icon-color;
  }
}
.notifier__notification--info {
  color: $notifier-info-font-color;
  background-color: #2a415e;
  box-sizing: 0px opx 16px;
  border-radius: 4px;
  position: fixed;
  width: 417px;
  height: 128px;
  left: 368px;
  top: 330px;

  .notifier__notification-button-icon {
    // 16x16 fixed size
    fill: $notifier-info-icon-color;
  }
}

.search-tab {
  margin-top: 24px;

  .uk-tab {
    &::before {
      border-bottom: none;
    }

    & > * > a {
      border-bottom: 2px solid $font-light-black;
      font-size: 18px;
      font-weight: bold;
      line-height: 165%;
      text-transform: unset;
      color: $font-light-black;
      &:hover {
        color: #161c2d;
        border-bottom: 2px solid #161c2d;
      }
      &:focus:active {
        border-bottom: 4px solid $font-light-black;
      }
    }

    & > .uk-active > a {
      border-bottom: 4px solid #1a73e8;
      color: #1a73e8;
    }
  }
}

.result-bar {
  padding: 14px 16px;
  background: #d7e0ef;
  border-radius: 4px;
}

.page-info-bar {
  padding: 14px 16px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 24px;
  border: 1px solid #d7e0ef;
  p {
    color: $font-color-black;
  }
}

.service-info {
  h1 {
    display: none;
  }
  h2,
  h3 {
    font-family: "HKGroteskRegular";
    font-size: 24px;
    font-weight: 600;
    color: $font-light-black;
  }
  p {
    font-size: 18px;
    font-family: "HKGroteskRegular";
    color: #161c2d;
  }
}

.uk-select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='triangle-down'%3E%3Cpolygon points='5 7 15 7 10 12'%3E%3C/polygon%3E%3C/svg%3E");
}

.white-space-wrap {
  white-space: pre-wrap;
}
.uk-form-danger .ng-select-container {
  border-color: #ff0000;
  height: 40px;
  // border: 1px solid #D7E0EF;
}
.ng-select.ng-select-single .ng-select-container {
  height: 40px;
  border: 1px solid #d7e0ef;
}
.whatapp-icon {
  background: #009487;
  color: #fff;
  &:focus {
    outline: -webkit-focus-ring-color auto 2px;
  }
}

.fb-icon {
  background: #2a415e;
  color: #fff;
  &:focus {
    outline: -webkit-focus-ring-color auto 2px;
  }
}

.email-icon {
  background: #1772eb;
  color: #fff;
  &:focus {
    outline: -webkit-focus-ring-color auto 2px;
  }
}
.uk-text-meta {
  color: $font-light-black;
}

.reset-link {
  margin: 0 5px;
  background: none;
  color: red;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
