.search-result{
    padding: 24px 40px 0;
}

.uk-tab{
    &::before {
        border-bottom: none;
    }
    
    & > * > a {
        border-bottom: 3px solid #161c2d3d;
        font-size: 18px;
        line-height: 165%;
    }
    
    & > .uk-active > a {
        color: #1A73E8;
        border-color: #1e87f0;
    }
}

.uk-button-default{
    color:#1A73E8;
    border: 1px solid #1A73E8;
    border-radius: 4px;
    height: 48px;
}
  

