<div class="uk-card uk-card-hover uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin cursor-pointer"
  tabindex=-1 (click)="navigate()" uk-grid>
  <div class="uk-card-media-left uk-width-1-4@m uk-width-1-3@s p-16">
    <!-- <img [imageHandler] *ngIf="isDBService" [src]="service?.basicProfileInfo?.profileImage?.thumbnailImage" width="152"
      height="152" alt="No Image">
    <img [imageHandler] *ngIf="!isDBService" [src]="service?.thumbnail" width="152" height="152" alt=""> -->
    <div class="verified">

      <img [imageHandler] *ngIf="isDBService" [src]="service?.basicProfileInfo?.profileImage?.thumbnailImage"
        class="h-150 w-100" alt="service thumbnail image">
      <img [imageHandler] *ngIf="!isDBService" [src]="service?.thumbnail" class="h-150 w-100"
        alt="service thumbnail image">

      <button class="uk-button-default" tabindex=-1 *ngIf="service?.verified == '1'"><span
          class="verified-icon-w"></span></button>
    </div>

  </div>

  <div class="uk-card-body uk-text-center uk-text-left@s uk-width-expand p-16">
    <div>
      <h3 class="font-regular font-weight-600 m-0">
        <a href="javascript:void(0)"
          (click)="navigate()">{{ isDBService ? service?.basicProfileInfo.firstName :  service?.name}}</a>
      </h3>
      <div>
        <ngb-rating [rate]="getDbServiceRating(service?.ratingPercentage)" [readonly]="true" [max]="5">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>

        <!-- <ngb-rating *ngIf="!isDBService" [rate]="service?.compRating" [readonly]="true" [max]="5">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating> -->

        <span class="ml-15">{{isDBService ? service?.reviewCount : service?.totalReviews}} Reviews</span>
      </div>
      <p class="m-t-0 m-b-10">Source: {{isDBService ? 'Elder spring' : 'Justdial' }}</p>
    </div>
    <!-- <div *ngIf="service?.verified == '1'" class="uk-label uk-flex uk-flex-middle fit-inline-size p-verified">
      <span class="verified-icon-w m-r-5"></span>
      <span> VERIFIED BY {{isDBService ? 'ELDER SPRING' : 'JUSTDIAL' }}</span>
    </div> -->
    <div class="m-t-30">
      <p class="m-0"><span>{{isDBService ? service?.basicProfileInfo.primaryUserAddress.city :  service?.city}}</span>
      </p>
      <p *ngIf="!isDBService" class="m-0 font-regular"><a>{{service?.type}}</a><a href="javascript:void(0)"
          *ngIf="service.categoryId" (click)="filterCategory($event)">
          ({{service?.categoryKey}})</a></p>
      <p *ngIf="isDBService && service.catName" class="m-0 font-regular">
        <a href="javascript:void(0)" (click)="filterCategory($event)">{{service.catName}}</a>
      </p>
    </div>
  </div>

</div>