a {
  color: #1a72e8;
}

h3{
  a{
    color: #000;
  }
}

.p-verified {
  padding: 3px 10px;
}

.p-16 {
  padding: 16px;
}

.uk-card-default {
  border: 1px solid #d7e0ef;
  border-radius: 4px;
}

.verified {
  position: relative;
  .verified-img {
    color: #ffffff;
    background: #1a73e8;
    right: 10px;
    position: absolute;
    border-radius: 4px;
    padding: 7px 10px;
    display: flex;
    top: 10px;
    border: 0px;
    span {
      font-size: 18px;
    }
  }
}
