
<div class="category-box bg-white m-t-40">
    <div uk-grid>
        <div class="uk-width-expand">
            <h3>Personal information</h3>
        </div>
        <div class="uk-width-auto uk-flex uk-flex-middle">
            <a href="javascript:void(0)" uk-toggle="target: #modal-sections">Edit</a>
        </div>
         <!-- Edit Model START -->
         <div id="modal-sections" class="uk-modal-container" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title">Notice!</h3>
                </div>
                <div class="uk-modal-body">
                    <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
                        <div>
                            <p class="font-regular-15 m-b-10 lable">Please Submit or Cancel before edit.</p>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right review-form">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
                </div>
            </div>
        </div>
          <!-- Edit Model END -->
    </div>

    <hr>

    <div class="m-t-40">
        <p class="font-regular-15 m-b-10 lable">Something about yourself</p>
        <p class="font-regular m-t-0">{{ userService?.userProfile?.basicProfileInfo?.shortDescription || '-' }}</p>

    </div>

    <div class="m-t-30">
        <p class="font-regular-15 m-b-10 lable">Emotional Challenges</p>
        <p class="font-regular m-t-0">{{userService?.userProfile?.individualInfo?.emotionalIssues || '-'}}</p>
    </div>

    <div class="m-t-30">
        <p class="font-regular-15 m-b-10 lable">Medical Issues</p>
        <p class="font-regular m-t-0">{{ userService?.userProfile?.individualInfo?.medicalIssues || '-' }}</p>
    </div>

    <div class="m-t-30">
        <p class="font-regular-15 m-b-10 lable">Other Difficulties</p>
        <p class="font-regular m-t-0">{{ userService?.userProfile?.individualInfo?.otherIssues || '-' }}</p>
    </div>

    <div class="m-t-30">
        <p class="font-regular-15 m-b-10 lable">Language</p>
        <p class="font-regular m-t-0">
            <ng-conatiner *ngFor="let language of userService?.userProfile?.individualInfo?.language; let i = index">
                <ng-conatiner *ngIf="i == 0">
                    {{language.name||'-'}}
                </ng-conatiner>
                <ng-conatiner *ngIf="i > 0">
                    {{','+language.name||'-'}}
                </ng-conatiner>
            </ng-conatiner>
        </p>
    </div>

    <div class="m-t-30">
        <p class="font-regular-15 m-b-10 lable">My Hobbies</p>
        <p class="font-regular m-t-0">{{ userService?.userProfile?.individualInfo?.hobbies || '-'}}</p>
    </div>

    <div class="m-t-30">
        <p class="font-regular-15 m-b-10 lable">Topic of Interests</p>
        <p class="font-regular m-t-0">{{ userService?.userProfile?.individualInfo?.otherInterests || '-'}}</p>
    </div>
</div> 