<div class="uk-section">

    <h1>Acceptable User Policy</h1>
    <hr />

    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Introduction</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            Elderly Care Platform ("Elderly Care Platform ", "We", "Us" and "Our") respect the privacy of its users
            accessing its website at https://ec.uat.code-alpha.org ("Website"). For the purposes of this User Agreement,
            the term "User(s)" and wherever the context so requires "You", "Your", "Yourself" shall mean any natural or
            legal person who accesses or uses the Website and in the event that a natural person is representing a
            business entity, reference to such terms shall include a reference to the business entity.
        </p>
        <p class="font-regular-15">
            Beautiful Years has adopted this privacy policy ("Privacy Policy") to inform You of what information We
            collect from You through the Website, how We collect the information, how We may use it and the steps We
            take to protect it. Capitalized terms not defined herein shall have the meaning ascribed to them in the User
            Agreement available at https://ec.uat.code-alpha.org 
        </p>
        <p class="font-regular-15">
            By using the Website, You unconditionally agree to the terms and conditions of this Privacy Policy and
            consent to usage, storage and handling of the information submitted by You in accordance with the terms
            contained hereunder. If You do not agree with the terms and conditions of this Privacy Policy, please do not
            proceed further to use this Website.
        </p>
    </div>

    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">User Information</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            Elderly Care Platform collects User Information when You successfully submit information while creating Your
            Account or while confirming Your Order on the Website. User Information is the data that can be used to
            uniquely
            identify or contact a person and/or the business entity that a person represents and shall include, but not
            be
            limited to, information regarding Your name, name of the business entity that You represent, address and
            telephone number of the business entity, Your e-mail address, credit/ debit card details, information
            associated
            to Your social networking platform and such other information for the purposes of identification and
            verification. When You submit User Information on the Website, it shall be deemed that You have granted Us
            the
            right to collect, store, process, handle and use such User Information, in accordance with this Privacy
            Policy
            (as amended from time to time).
        </p>
        <p class="font-regular-15">
            You may visit the Website and browse the Website without having to provide User Information. Where possible,
            We
            indicate which fields are mandatory and which fields are optional to be filled on the Website. You always
            have
            the option to not provide information by choosing not to submit particular information or feature on the
            Website. During Your visit to the Website You remain anonymous and at no time can We identify You unless You
            submit User Information on the Website. for the purpose of registration, discussion, posting comments,
            asking
            questions, buying or subscribing to any products or services on the website Elderly Care Platform collects
            only
            such User Information that Elderly Care Platform believes to be relevant for the purpose of identification
            and
            verification and is required to understand You or Your interests. It is clarified that We shall not be
            liable,
            for any reason whatsoever, for the authenticity of any User Information provided by You to Us. You hereby
            confirm that the User Information provided by You is and shall continue to be valid, true and accurate to
            the
            best of Your knowledge.
        </p>
    </div>

    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Collection of information</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            To enhance Your use of the Website, certain information may be collected each time You visit the Website
            which
            are saved in server logs. It is clarified that these encrypted statistics help Us in improving the
            efficiency of
            the Website by giving Us information relating to Your use of the Website. Such information may include
            details
            of the server from where the Website is being accessed, the browser and operating system used to browse the
            Website, details of Your last visit to the Website, including time, date and the duration of Your session on
            the
            Website. This information is used by Beautiful Years to understand the number of users visiting the Website
            and
            gather broad demographic information for aggregate use of the Website. While collecting such information,
            Your
            anonymity is maintained at all times and at no time can We identity You personally, unless You submit the
            User
            Information on the Website or through the e-mail feature. Elderly Care Platform reserves the right to share
            such
            general information to any person or third party at its discretion.
        </p>
        <p class="font-regular-15">
            You acknowledge that apart from Your User Information, if You upload or exchange any content including
            comments
            on the Website, such content may contain information including User Information and the same may be
            available to
            the other Users of the Website. Elderly Care Platform will not be liable for the disclosure and
            dissemination of
            such User Information on the Website.
        </p>
    </div>

    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Cookies</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            Like most other websites We use data collection devices known as cookies to collect and store information of
            Users visiting the Website. A cookie is a small amount of data that is sent to a User's browser from a web
            server and is eventually stored on a User's computer hard drive. Cookies are a reliable mechanism for
            websites to remember the activities of the User on the Website and helps in improving Your experience on the
            Website. This anonymous information is maintained distinctly and is not linked to the User Information You
            submit to Elderly Care Platform. The option of accepting cookies is up to You, however certain features of
            the Website including Content and the Forms may not be accessible without accepting cookies.
        </p>
        <p class="font-regular-15">
            To browse anonymously, You may set your browser to disable cookies or delete cookies. Most cookies are
            session cookies that are automatically deleted from Your hard drive when You close the browser.
            Additionally, You may encounter cookies or other similar devices on certain pages of the Website that are
            placed by third parties. We do not control the use of cookies by third parties and shall not be liable for
            any reason whatsoever for these third party cookies.
        </p>
    </div>

    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Use of User Information</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            User Information provided by You is used by Us only to provide information that You request which shall
            include the following:
        </p>
        <ul class="mt-20">
            <li>
                Verifying Your identity;
            </li>
            <li>
                Facilitating Your use of the Website;
            </li>
            <li>
                Facilitating successful purchase of Products and/or Services from the Website;
            </li>
            <li>
                Responding to Your queries or complaints or to fulfil Your requests for information about the services
                and solutions that We offer and the process relating to the same;
            </li>
            <li>
                Providing You with information about Elderly Care Platform and to send You information, materials, and
                offers from Elderly Care Platform;
            </li>
            <li>
                Sending You important information regarding the Website;
            </li>
            <li>
                Sending You surveys and marketing communications that Elderly Care Platform believes may be of interest
                to You;
            </li>
            <li>
                Personalizing Your experience on the Website and Elderly Care Platform other websites by presenting
                offers tailored to You;
            </li>
            <li>
                Helping You address trouble- shooting problems;
            </li>
            <li>
                Providing You with related customer service;
            </li>
            <li>
                Conducting internal reviews and data analysis for the Website (e.g., to determine the number of visitors
                to specific pages within the Website);
            </li>
            <li>
                Sharing such information with third parties that We consider may have goods or services that are of
                interest to You;
            </li>
            <li>
                Improving the content on the Website;
            </li>
            <li>
                Protecting the integrity of the Website;
            </li>
            <li>
                To respond to judicial process and provide information to law enforcement agencies or in connection with
                an investigation on matters related to public safety, as permitted by law.
            </li>
        </ul>
    </div>

    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Sharing of User Information</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            User Information may be shared with such third parties as are required for: (a) the purposes of providing
            You with the services on the Website, and may be subject to the practices of such third parties; or (b)
            facilitating the purchase of the Products and/or Services on the Website by You, to grow Our business which
            may include our affiliates, strategic partners, investors, suppliers, and service providers as the case
            maybe. The User Information may be saved in servers inside or outside India, at Our sole discretion.
        </p>
        <p class="font-regular-15">
            Except as provided in paragraph above, We shall disclose the User Information only in circumstances where:
        </p>
        <ul class="mt-20">
            <li>
                The User has provided express instructions or consent towards such disclosure;
            </li>
            <li>
                We in good faith believe that access, use, preservation or disclosure of such information is reasonably
                necessary to (a) satisfy any applicable law, regulation, legal process or enforceable governmental or
                regulatory request; (b) enforce the applicable User Agreement or Privacy Policy; (c) detect, prevent, or
                otherwise address fraud, security or technical issues, or (d) protect against imminent harm to the
                rights, property or safety of Beautiful Years, its Users or the public as required or permitted by law;
            </li>
            <li>
                The User Information that We collect may also be transferred as an asset in connection with a merger or
                sale (including any transfers made as a part of an insolvency or bankruptcy proceeding) involving all or
                part of Beautiful Years or as part of a corporate reorganization, stock sale or change of control.
            </li>
        </ul>
    </div>

    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Security Precautions</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            To prevent any form of unlawful interception or misuse of User Information, We use reasonable physical,
            electronic, and managerial procedures to safeguard and secure the User Information collected. We use
            reasonable secure and technologically appropriate measures, in compliance with the Information Technology
            Act, 2000 and the rules related thereto to protect You against loss or misuse of Your User Information
            including internal reviews of data collection, storage and processing practices and other reasonable
            security measures which are equivalent to security measures that Beautiful Years uses to protect its own
            confidential information. We have in place a secure server for all Your transactions on the Website, which,
            if required to be accessed, are accessible only by the authorized personnel of Beautiful Years. However as
            You are aware, no internet site is completely free of security risks and We do not make any representation
            in respect of the same.

        </p>
        <p class="font-regular-15">
            We do not warrant that Our Website or any electronic communication made by Us is free from virus or other
            harmful effects. In the event of any errors in transmission or due to an act of a third party, We shall have
            no liability. You explicitly agree that Your use of the Website and/or services is at Your own individual
            risk. You agree and confirm that Your User Information may be transferred, processed and stored across
            National and International borders. You hereby confirm that You have been made aware of the security
            measures undertaken by Us and You expressly consent to Us storing, handling, using Your User Information.
        </p>
    </div>

    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Advertisement</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            We do not use or promote any third party advertisement currently on the Website. but retain the right to
            post or publish any third party advertisement at any particular time in the future.

        </p>

    </div>

    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Links to other third party sites</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">

            The Website may provide third party information and links to other websites that are not affiliates of or
            operated or controlled by Elderly Care Platform including but not limited to payment gateways or social
            networking websites. Elderly Care Platform is not responsible for any form of transmission, whatsoever,
            received by You from any third party website and accordingly does not make any representations concerning
            the privacy practices or other policies of such third party websites. Under no circumstances shall Beautiful
            Years be deemed to control or guarantee the accuracy, integrity, or quality of the information, data, text,
            software, sound, photographs, graphics, videos, cookies, messages or other materials available on such
            websites. Any User Information provided by You to such third party websites shall be governed in accordance
            with the privacy policies of such websites and it is recommended that You review the privacy policy of such
            websites prior to using such websites.

        </p>

    </div>

    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Change in Privacy Policy</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            We reserve the right to update, modify and amend any of the terms of Our Privacy Policy, at any time without
            prior intimation to You. We will post these changes on Our Website for Your information. These changes will
            become effective immediately on posting. We shall not be liable for any failure or negligence on Your part
            to review the updated Privacy Policy before accessing or availing the Website for availing the services.
            Your continued use of the Website, following changes to the Privacy Policy, will constitute Your acceptance
            of those changes.
        </p>

    </div>


    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Intellectual Property rights</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            All content on Our Website, including graphics, text, icons, interfaces, audio clips, logos, images,
            reviews, comments and software is the property of Beautiful Years and/or its content suppliers and is
            protected by Indian and international copyright laws. Any use, including the reproduction, modification,
            distribution, transmission, republication, display or performance, of the content on this Website can only
            be made with the express permission of Beautiful Years. All other trademarks, brands and copyrights other
            than those belonging to Beautiful Years, belong to their respective owners and are their property.
        </p>

    </div>

    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Force Majeure</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            Notwithstanding anything contained in this Privacy Policy or elsewhere, Beautiful Years shall not be held
            responsible for any loss, damage or misuse of Your User Information, if such loss, damage or misuse is
            attributable to a Force Majeure Event. A "Force Majeure Event" shall mean any event that is beyond the
            reasonable control of Beautiful Years and shall include, without limitation, sabotage, fire, flood,
            explosion, acts of God, civil commotion, strikes or industrial action of any kind, riots, insurrection, war,
            acts of government, computer hacking, technical snags, unauthorized access to computer data and storage
            device, technical snags and breach of security and encryption.
        </p>
    </div>

    <div>
        <h3 class="font-regular-24 font-weight-700 m-0">Disclosures Required By Law</h3>
        <hr class="m-t-10" />
        <p class="font-regular-15">
            Beautiful Years reserves the right to disclose information when required by law. We will disclose such
            information wherein We have a good-faith belief that it is necessary to comply with a court order, ongoing
            judicial proceeding, or other legal process served on Us or to exercise Our legal rights or defend against
            legal claims.
        </p>
    </div>

</div>