<div class="discussion-summary">
    <div class="uk-grid uk-grid-small">
        <div class="uk-width-auto">
            <img src="/assets/images/indoor.svg" style="width:90px;" />
        </div>
        <div class="uk-width-expand">
            <h2 class="title" routerLink="/community/discussions">{{discussion.title | ellipsis:65}}</h2>
            <p class="author">by <span>Akash Sharma</span></p>
            <p>{{discussion.createdAt | date: 'dd MMM yyyy'}} at {{discussion.createdAt | date: 'hh:ss a'}}</p>
        </div>
        <div class="uk-width-auto">
            <div class="comments">
                <img src="/assets/images/comments.svg" style="width:60px;" />
                <p>{{discussion.aggrReplyCount}} Views</p>
            </div>
        </div>
        <div class="uk-width-auto">
            <div class="comments">
                    <img src="/assets/images/comments.svg" style="width:60px;" />
                <p>{{discussion.aggrReplyCount}} Comments</p>
            </div>
        </div>
    </div>
</div>